@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
:root {
  --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
  --rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
  --rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
  --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
  --rs-medium-width: 2px; /* Default: 2px */
  --rs-large-width: 2px; /* Default: 2px */
  --rs-avatar-shape: var(--avatar-roundness, 50%); /* Border-radius for profile image | Default: 50% */
  /* Customizable colors */
  --rs-online-color: #43b581; /* Default: #43b581 */
  --rs-idle-color: #faa61a; /* Default: #faa61a */
  --rs-dnd-color: #f04747; /* Default: #f04747 */
  --rs-offline-color: #636b75; /* Default: #636b75 */
  --rs-streaming-color: #643da7; /* Default: #643da7 */
  --rs-invisible-color: #747f8d; /* Default: #747f8d */
  --rs-phone-color: var(--rs-online-color); /* Color of the phone for mobile users | Default: var(--rs-online-color) */
  --rs-phone-visible: block; /* Visibility of the phone for mobile users | Default: block */
}

._44b0c28be7879b7b-wrapper[aria-label*=Online i], ._44b0c28be7879b7b-wrapper[aria-label*=online i], ._44b0c28be7879b7b-wrapper[aria-label*=Conectado i], ._44b0c28be7879b7b-wrapper[aria-label*="En línea con móvil" i], ._44b0c28be7879b7b-wrapper[aria-label*="En ligne" i], ._44b0c28be7879b7b-wrapper[aria-label*="Na mreži" i],
.avatarWrapper[data-status=online] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-online-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Idle i], ._44b0c28be7879b7b-wrapper[aria-label*=Inaktiv i], ._44b0c28be7879b7b-wrapper[aria-label*=Abwesend i], ._44b0c28be7879b7b-wrapper[aria-label*=Ausente i], ._44b0c28be7879b7b-wrapper[aria-label*=Inactif i], ._44b0c28be7879b7b-wrapper[aria-label*="U mirovanju" i],
.avatarWrapper[data-status=idle] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-idle-color);
}

._44b0c28be7879b7b-wrapper[aria-label*="Do Not disturb" i], ._44b0c28be7879b7b-wrapper[aria-label*="Vil ikke forstyrres" i], ._44b0c28be7879b7b-wrapper[aria-label*="Bitte nicht stören" i], ._44b0c28be7879b7b-wrapper[aria-label*="No molestar" i], ._44b0c28be7879b7b-wrapper[aria-label*="Ne pas déranger" i], ._44b0c28be7879b7b-wrapper[aria-label*="Ne uznemiravaj" i],
.avatarWrapper[data-status=dnd] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-dnd-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Streaming i], ._44b0c28be7879b7b-wrapper[aria-label*=Streamer i], ._44b0c28be7879b7b-wrapper[aria-label*=Streamt i], ._44b0c28be7879b7b-wrapper[aria-label*=Transmitiendo i], ._44b0c28be7879b7b-wrapper[aria-label*="En direct" i],
.avatarWrapper[data-status=streaming] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-streaming-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Invisible i], ._44b0c28be7879b7b-wrapper[aria-label*=Usynlig i], ._44b0c28be7879b7b-wrapper[aria-label*=Unsichtbar i], ._44b0c28be7879b7b-wrapper[aria-label*="Nevidljiv/a" i],
.avatarWrapper[data-status=invisible] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-invisible-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Offline i], ._44b0c28be7879b7b-wrapper[aria-label*=Desconectado i], ._44b0c28be7879b7b-wrapper[aria-label*="Hors ligne" i], ._44b0c28be7879b7b-wrapper[aria-label*="Izvan mreže" i],
.avatarWrapper[data-status=offline] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-offline-color);
}

#app-mount ._44b0c28be7879b7b-wrapper.StatusEverywhere-avatar-chatAvatar {
  margin: 0;
}
#app-mount .avatarWrapper {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .avatarWrapper .pointerEvents-9SZWKj {
  stroke: var(--status-color) !important;
}
#app-mount .avatarWrapper .pointerEvents-9SZWKj[width="30"] {
  width: calc(100% - 9px) !important;
}
