/**
 * @name RadialGlow
 * @author Gibbu#1211 & p0rtl#6592
 * @version 1.0.0
 * @invite ZHthyCw
 * @description Adds glow for RadialStatus made for the SoftX theme.
 * @source https://github.com/DiscordStyles/SoftX
*/
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
:root {
  --rs-small-spacing: 2px;
  /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
  --rs-medium-spacing: 4px;
  /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
  --rs-large-spacing: 4px;
  /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
  --rs-small-width: 1.5px;
  /* Ring width (follows same sizing as above) | Default: 1.5px */
  --rs-medium-width: 2px;
  /* Default: 2px */
  --rs-large-width: 2px;
  /* Default: 2px */
  --rs-avatar-shape: 50%;
  /* Border-radius for profile image | Default: 50% */
  /* Customizable colors */
  --rs-online-color: #43b581;
  /* Default: #43b581 */
  --rs-idle-color: #faa61a;
  /* Default: #faa61a */
  --rs-dnd-color: #f04747;
  /* Default: #f04747 */
  --rs-offline-color: #636b75;
  /* Default: #636b75 */
  --rs-streaming-color: #643da7;
  /* Default: #643da7 */
  --rs-invisible-color: #747f8d;
  /* Default: #747f8d */
  --rs-phone-color: var(--rs-online-color);
  /* Color of the phone for mobile users | Default: var(--rs-online-color) */
  --rs-phone-visible: block;
  /* Visibility of the phone for mobile users | Default: block */
  --radial-glow-intensity: var(--glow-intensity);
}

.wrapper-3t9DeA[aria-label*=Online i], .wrapper-3t9DeA[aria-label*=online i], .wrapper-3t9DeA[aria-label*=Conectado i], .wrapper-3t9DeA[aria-label*="En línea con móvil" i], .wrapper-3t9DeA[aria-label*="En ligne" i], .wrapper-3t9DeA[aria-label*="Na mreži" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-online-color);
}

.wrapper-3t9DeA[aria-label*=Idle i], .wrapper-3t9DeA[aria-label*=Inaktiv i], .wrapper-3t9DeA[aria-label*=Abwesend i], .wrapper-3t9DeA[aria-label*=Ausente i], .wrapper-3t9DeA[aria-label*=Inactif i], .wrapper-3t9DeA[aria-label*="U mirovanju" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-idle-color);
}

.wrapper-3t9DeA[aria-label*="Do Not disturb" i], .wrapper-3t9DeA[aria-label*="Vil ikke forstyrres" i], .wrapper-3t9DeA[aria-label*="Bitte nicht stören" i], .wrapper-3t9DeA[aria-label*="No molestar" i], .wrapper-3t9DeA[aria-label*="Ne pas déranger" i], .wrapper-3t9DeA[aria-label*="Ne uznemiravaj" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-dnd-color);
}

.wrapper-3t9DeA[aria-label*=Streaming i], .wrapper-3t9DeA[aria-label*=Streamer i], .wrapper-3t9DeA[aria-label*=Streamt i], .wrapper-3t9DeA[aria-label*=Transmitiendo i], .wrapper-3t9DeA[aria-label*="En direct" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-streaming-color);
}

.wrapper-3t9DeA[aria-label*=Invisible i], .wrapper-3t9DeA[aria-label*=Usynlig i], .wrapper-3t9DeA[aria-label*=Unsichtbar i], .wrapper-3t9DeA[aria-label*="Nevidljiv/a" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-invisible-color);
}

.wrapper-3t9DeA[aria-label*=Offline i], .wrapper-3t9DeA[aria-label*=Desconectado i], .wrapper-3t9DeA[aria-label*="Hors ligne" i], .wrapper-3t9DeA[aria-label*="Izvan mreže" i] {
  box-shadow: 0 0 calc(var(--radial-glow-intensity) * 10px) var(--rs-offline-color);
}

.wrapper-3t9DeA[style*="80px"] {
  border-width: 0px;
  margin-top: 6px;
  margin-left: 6px;
}