@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
:root {
  --rs-small-spacing: 2px; /* Spacing between profile image and outer ring on small icons (e.g. member list) | Default: 2px */
  --rs-medium-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout) | Default: 4px */
  --rs-large-spacing: 4px; /* Spacing between profile image and outer ring on medium icons (e.g. user popout fullscreen) | Default: 4px */
  --rs-small-width: 1.5px; /* Ring width (follows same sizing as above) | Default: 1.5px */
  --rs-medium-width: 2px; /* Default: 2px */
  --rs-large-width: 2px; /* Default: 2px */
  --rs-avatar-shape: var(--avatar-roundness, 50%); /* Border-radius for profile image | Default: 50% */
  /* Customizable colors */
  --rs-online-color: #43b581; /* Default: #43b581 */
  --rs-idle-color: #faa61a; /* Default: #faa61a */
  --rs-dnd-color: #f04747; /* Default: #f04747 */
  --rs-offline-color: #636b75; /* Default: #636b75 */
  --rs-streaming-color: #643da7; /* Default: #643da7 */
  --rs-invisible-color: #747f8d; /* Default: #747f8d */
  --rs-phone-color: var(--rs-online-color); /* Color of the phone for mobile users | Default: var(--rs-online-color) */
  --rs-phone-visible: block; /* Visibility of the phone for mobile users | Default: block */
}

._44b0c28be7879b7b-wrapper[aria-label*=Online i], ._44b0c28be7879b7b-wrapper[aria-label*=online i], ._44b0c28be7879b7b-wrapper[aria-label*=Conectado i], ._44b0c28be7879b7b-wrapper[aria-label*="En línea con móvil" i], ._44b0c28be7879b7b-wrapper[aria-label*="En ligne" i], ._44b0c28be7879b7b-wrapper[aria-label*="Na mreži" i],
.avatarWrapper[data-status=online] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-online-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Idle i], ._44b0c28be7879b7b-wrapper[aria-label*=Inaktiv i], ._44b0c28be7879b7b-wrapper[aria-label*=Abwesend i], ._44b0c28be7879b7b-wrapper[aria-label*=Ausente i], ._44b0c28be7879b7b-wrapper[aria-label*=Inactif i], ._44b0c28be7879b7b-wrapper[aria-label*="U mirovanju" i],
.avatarWrapper[data-status=idle] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-idle-color);
}

._44b0c28be7879b7b-wrapper[aria-label*="Do Not disturb" i], ._44b0c28be7879b7b-wrapper[aria-label*="Vil ikke forstyrres" i], ._44b0c28be7879b7b-wrapper[aria-label*="Bitte nicht stören" i], ._44b0c28be7879b7b-wrapper[aria-label*="No molestar" i], ._44b0c28be7879b7b-wrapper[aria-label*="Ne pas déranger" i], ._44b0c28be7879b7b-wrapper[aria-label*="Ne uznemiravaj" i],
.avatarWrapper[data-status=dnd] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-dnd-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Streaming i], ._44b0c28be7879b7b-wrapper[aria-label*=Streamer i], ._44b0c28be7879b7b-wrapper[aria-label*=Streamt i], ._44b0c28be7879b7b-wrapper[aria-label*=Transmitiendo i], ._44b0c28be7879b7b-wrapper[aria-label*="En direct" i],
.avatarWrapper[data-status=streaming] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-streaming-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Invisible i], ._44b0c28be7879b7b-wrapper[aria-label*=Usynlig i], ._44b0c28be7879b7b-wrapper[aria-label*=Unsichtbar i], ._44b0c28be7879b7b-wrapper[aria-label*="Nevidljiv/a" i],
.avatarWrapper[data-status=invisible] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-invisible-color);
}

._44b0c28be7879b7b-wrapper[aria-label*=Offline i], ._44b0c28be7879b7b-wrapper[aria-label*=Desconectado i], ._44b0c28be7879b7b-wrapper[aria-label*="Hors ligne" i], ._44b0c28be7879b7b-wrapper[aria-label*="Izvan mreže" i],
.avatarWrapper[data-status=offline] ._44b0c28be7879b7b-wrapper {
  box-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--rs-offline-color);
}

#app-mount ._44b0c28be7879b7b-wrapper.StatusEverywhere-avatar-chatAvatar {
  margin: 0;
}
#app-mount .avatarWrapper {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .avatarWrapper .pointerEvents-9SZWKj {
  stroke: var(--status-color) !important;
}
#app-mount .avatarWrapper .pointerEvents-9SZWKj[width="30"] {
  width: calc(100% - 9px) !important;
}

:root {
  --server-unread-colour: rgb(255, 255, 255);
  --server-hover-colour: rgb(255, 255, 255);
  --server-selected-colour: var(--accent, rgb(0, 231, 169));
  --server-spacing: 16px;
  --server-glow-intensity: var(--glow-intensity, 1);
  --server-ring-offset: 6px;
}

#app-mount ._48112cbe77dc5022-folderGroup {
  --server-folder-offset: 6px;
}
#app-mount ._48112cbe77dc5022-folderGroup ul.dbd2630aec71879b-stack[role=group] {
  height: auto !important;
  overflow: visible !important;
}
#app-mount ._48112cbe77dc5022-folderGroup ul.dbd2630aec71879b-stack[role=group] ._650eb104245d257b-listItem {
  --server-folder-offset: 0px;
}
#app-mount .ef3116c2da186559-scroller > div[style]:not([class]) {
  margin-bottom: var(--server-spacing);
}
#app-mount ._650eb104245d257b-listItem {
  width: 100%;
  margin-bottom: var(--server-spacing);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] {
  --__ring-size: calc(
  	((var(--server-icon-size, 45) * 1px) - 5px) + var(--server-folder-offset, 0px) + var(--server-ring-offset)
  );
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--__ring-size);
  height: var(--__ring-size);
  overflow: visible;
  margin-left: -2px;
}
#app-mount ._650eb104245d257b-listItem [class*=pill] ._581051df43c5ebb6-item {
  height: 100% !important;
  width: 100%;
  margin: 0;
  border-radius: 50%;
  background: transparent;
  border: 2px solid transparent;
  box-shadow: none;
  transform: none !important;
  transition: var(--transition);
  transition-property: box-shadow;
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 0"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 1"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 2"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 3"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 4"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 5"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 6"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 7"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 8"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-unread-colour) h s l/0.25);
  border-color: hsl(from var(--server-unread-colour) h s l);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 9"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 10"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 11"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 12"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 13"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 14"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 15"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 16"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 17"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 18"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 19"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 20"] {
  border-color: hsl(from var(--server-hover-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-hover-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 21"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 22"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 23"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 24"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 25"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 26"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 27"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 28"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 29"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 30"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 31"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 32"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 33"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 34"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 35"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 36"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 37"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 38"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 39"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount ._650eb104245d257b-listItem [class*=pill] span[style*="height: 40"] {
  transform: scale(1) !important;
  border-color: hsl(from var(--server-selected-colour) h s l);
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) hsl(from var(--server-selected-colour) h s l/0.25);
}
#app-mount .e5445cbd3ad226f2-blobContainer,
#app-mount ._918165dab2b1e10b-listItemWrapper {
  transition: var(--transition, 0.15s ease);
  transition-property: transform;
}
#app-mount .e5445cbd3ad226f2-blobContainer:active,
#app-mount ._918165dab2b1e10b-listItemWrapper:active {
  transform: scale(0.9);
}
#app-mount .cc5dd25190031396-svg foreignObject {
  border-radius: 50%;
  -webkit-mask: none !important;
          mask: none !important;
}

._5bc7ed9d4097f6b5-pill {
  display: none;
}

:root {
  --softx-version: "2.0.0-alpha";
  --transition: 0.15s ease;
  --chat-glow-intensity: var(--glow-intensity);
  --channel-glow-intensity: var(--glow-intensity);
  --members-glow-intensity: var(--glow-intensity);
  --input-glow-intensity: var(--glow-intensity);
  --server-glow-intensity: var(--glow-intensity);
  --talking-bar: rgb(var(--accent));
  --talking-glow: rgb(var(--accent));
  --foreground-blur: 20px;
  --foreground-brightness: 1;
  --shadow: 0 4px 6px -1px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.06);
  --shadow-lg: 0 20px 30px hsl(0 0% 0% / 0.1), 0 10px 20px hsl(0 0% 0% / 0.1);
  --bg-border: hsl(0 0% 5% / 0.75);
  --bg-primary: hsl(0 0% 10% / calc(var(--opacity) + 0.05));
  --bg-secondary: hsl(0 0% 10% / calc(var(--opacity) + 0.075));
  --bg-tertiary: hsl(0 0% 10% / calc(var(--opacity) + 0.125));
  --fg-border: hsl(0 0% 100% / 0.15);
  --fg-primary: hsl(0 0% 100% / 0.075);
  --fg-secondary: hsl(0 0% 100% / 0.045);
  --toolbar-height: 64px;
  --chat-bubble-bg: hsl(0 0% 100% / 0.04);
  --chat-bubble-padding: 10px 14px;
  --chat-bubble-display: inline-block;
  --channel-unread-colour: hsl(0 0% 100%);
  --channel-pill-width: 3px;
  --channel-pill-height: 35%;
  --textbox-background: hsl(0 0% 7% / 0.7);
  --textbox-border: hsl(0 0% 100% / 0.05);
  --textbox-hover-border: hsl(0 0% 100% / 0.1);
  --chat-bottom-spacing: 16px;
  --server-size: calc(var(--server-icon-size) * 1px);
  --custom-guild-list-width: var(--guilds-width);
  --custom-member-list-width: var(--members-width);
  --custom-message-avatar-size: var(--chat-avatar-size);
  --custom-message-margin-horizontal: var(--space-xxl);
  --text-link: var(--accent) !important;
  --font-primary: var(--font, "Whitney");
  --font-display: var(--font, "Whitney");
  --background-mentioned: var(--accent);
  --background-message-hover: hsl(0 0% 100% / 0.02) !important;
  --guildbar-folder-size: var(--server-size);
}

#app-mount .c38106a3f0c3ca76-bar {
  background: var(--bg-primary);
}

html,
span:not([class*=spinner_]):not([class*=spinnerItem]) {
  backface-visibility: hidden;
}

body,
#app-mount,
._160d8e55254637e5-app {
  background: transparent;
}

#app-mount ._960e4207cea8323e-bg {
  background-image: var(--background-image);
  background-color: transparent;
  background-attachment: var(--background-attachment, fixed);
  background-size: var(--background-size, cover);
  background-position: var(--background-position, center);
  filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}

._5e434347c823b592-content::before {
  content: "";
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 1px;
  background: var(--bg-border);
}

::-moz-selection {
  background: var(--accent);
  color: var(--accent-text);
}

::selection {
  background: var(--accent);
  color: var(--accent-text);
}

#app-mount .f75fb00fb7356cbe-title {
  background: var(--bg-primary);
  height: var(--toolbar-height);
  border-left: 1px solid var(--bg-border);
  border-bottom: 1px solid var(--bg-border);
  padding: 0 var(--space-lg);
}
#app-mount ._9293f6b2fc12398a-children::after {
  content: none;
}

#app-mount ._2debea61131de3de-info ._2debea61131de3de-line:last-of-type:after {
  content: "SoftX " var(--softx-version);
  display: block;
  text-transform: none;
}

#app-mount ._48112cbe77dc5022-folderGroupBackground {
  left: 50%;
  translate: -50%;
  width: var(--server-size);
}

#app-mount ._5e434347c823b592-guilds {
  background: var(--bg-primary);
  border-right: 1px solid var(--bg-border);
  margin-bottom: var(--custom-app-panels-height);
}
#app-mount div.dbd2630aec71879b-stack:not([role=group]) {
  gap: 0 !important;
}
#app-mount ._252b6afd49fda06f-guildSeparator {
  background: var(--bg-border);
}
#app-mount .ef3116c2da186559-itemsContainer > div.dbd2630aec71879b-stack {
  padding-top: var(--server-spacing, 16px);
}
#app-mount .ef3116c2da186559-unreadMentionsIndicatorBottom,
#app-mount .ef3116c2da186559-unreadMentionsIndicatorTop {
  width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
  padding: calc(var(--custom-guild-list-padding) / 2);
}

#app-mount .f37cb1984c371ee5-header {
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--bg-border);
}

#app-mount ._5e434347c823b592-sidebar {
  border-radius: 0;
}
#app-mount ._5e434347c823b592-sidebar::after {
  content: none;
}
#app-mount ._5e434347c823b592-sidebar ._629e4c86564a4ee7-scroller::-webkit-scrollbar {
  display: none;
}
#app-mount ._5e434347c823b592-sidebarList {
  border-radius: 0;
  border: none;
  padding-bottom: 0;
  margin-bottom: var(--custom-app-panels-height);
}
#app-mount ._2637a2609f343032-container {
  background: var(--bg-primary);
  padding-bottom: 0;
}
#app-mount .e6b7699ce8339e1c-privateChannels {
  background: var(--bg-primary);
}
#app-mount .e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller {
  background: transparent;
  margin-bottom: 0;
}
#app-mount .e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-scroller::-webkit-scrollbar {
  display: none;
}
#app-mount .e6b7699ce8339e1c-sectionDivider {
  background: var(--bg-border);
  margin: 0;
}

#app-mount ._5e434347c823b592-panels {
  bottom: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
  border: none;
  border-top: 1px solid var(--bg-border);
  background: var(--bg-primary);
}
#app-mount ._5e434347c823b592-activityPanel {
  background: transparent;
  border-bottom: 1px solid var(--bg-border);
}
#app-mount .e131a99484292a19-container {
  padding: var(--space-md);
  margin: 0;
  border-color: var(--bg-border);
}
#app-mount ._37e49614b9f110a9-container {
  padding: var(--space-md);
}

#app-mount ._2ea32c412048f708-wrapper {
  margin: 0;
  padding: 0;
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon,
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-name {
  color: var(--channel-unread-colour);
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l/0.2));
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-link {
  background: hsl(from var(--accent) h s l/0.1);
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-link::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--channel-pill-width);
  top: 0;
  background: var(--accent);
  box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.2);
}
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-icon,
#app-mount ._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-name {
  color: var(--accent);
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l/0.2));
}
#app-mount ._2ea32c412048f708-link {
  padding: var(--space-xs) var(--space-md);
  border-radius: 0;
}
#app-mount ._2ea32c412048f708-typeThread ._2ea32c412048f708-link {
  padding-left: calc(var(--space-md) * 4);
}
#app-mount ._2ea32c412048f708-typeThread ._2ea32c412048f708-link::before {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.427 4.427l3.396 3.396a.25.25 0 010 .354l-3.396 3.396A.25.25 0 016 11.396V4.604a.25.25 0 01.427-.177z"></path></svg>');
          mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.427 4.427l3.396 3.396a.25.25 0 010 .354l-3.396 3.396A.25.25 0 016 11.396V4.604a.25.25 0 01.427-.177z"></path></svg>');
  background: var(--channels-default);
  top: 50%;
  left: calc(var(--space-md) * 2);
  translate: 0 -50%;
}
#app-mount ._5b40bdd67543ba35-spine,
#app-mount ._5b40bdd67543ba35-spineBorder {
  display: none;
}
#app-mount ._2ea32c412048f708-unread {
  left: 0;
  height: 100%;
  top: 50%;
  translate: 0 -50%;
  margin-top: 0;
  border-radius: 0;
  width: var(--channel-pill-width);
  background: var(--channel-unread-colour);
  height: var(--channel-pill-height);
  box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l/0.5);
}
#app-mount .c69b6db0641110f6-channelInfo {
  display: block;
}
#app-mount .c69b6db0641110f6-channelInfo .text-xs\/semibold_cf4812 {
  color: var(--accent) !important;
  font-weight: normal;
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l/0.2));
}

#app-mount .e6b7699ce8339e1c-searchBar {
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--bg-border);
  padding: 0;
}
#app-mount .e6b7699ce8339e1c-searchBar ._201d5e8a3c09670a-button {
  height: var(--toolbar-height);
  border-radius: 0;
  background: transparent;
}
#app-mount ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
  max-width: unset;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
#app-mount ._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) ._972a0d22c8afa7f0-link {
  padding: var(--space-md);
}
#app-mount ._99e7cad8d4c55236-privateChannelsHeaderContainer {
  padding: var(--space-md);
  height: auto;
}
#app-mount .bf202d63ad53e289-interactive:not(.bf202d63ad53e289-selected) ._20a53846fe2e8513-layout._20a53846fe2e8513-highlighted::before {
  content: "";
  width: var(--channel-pill-width);
  height: var(--channel-pill-height);
  background: var(--channel-unread-colour);
  left: 0;
  position: absolute;
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l/0.2));
}
#app-mount .bf202d63ad53e289-interactive:not(.bf202d63ad53e289-selected) ._20a53846fe2e8513-layout._20a53846fe2e8513-highlighted ._20a53846fe2e8513-nameAndDecorators {
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l/0.2));
}
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-selected {
  background: hsl(from var(--accent) h s l/0.1);
}
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-selected::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--channel-pill-width);
  background: var(--accent);
  box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.2);
}
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-selected ._20a53846fe2e8513-nameAndDecorators,
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-selected ._972a0d22c8afa7f0-linkButtonIcon {
  color: hsl(from var(--accent) h s l);
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l/0.2));
}
#app-mount .bf202d63ad53e289-interactive.bf202d63ad53e289-selected .text_c9d15c {
  color: hsl(from var(--accent) h s l);
  opacity: 0.85;
}
#app-mount ._972a0d22c8afa7f0-dm {
  margin: 0;
  border-radius: 0;
  padding: 0;
}
#app-mount ._972a0d22c8afa7f0-link {
  padding: var(--space-xs) var(--space-md);
}
#app-mount ._972a0d22c8afa7f0-link ._20a53846fe2e8513-subText,
#app-mount ._972a0d22c8afa7f0-link .text_c9d15c {
  overflow: visible;
}

#app-mount .f75fb00fb7356cbe-chat {
  background: transparent;
  border: none;
}
#app-mount .f75fb00fb7356cbe-chat ol._36d072eab2b2e737-scrollerInner {
  padding-bottom: var(--chat-bottom-spacing);
}
#app-mount .f75fb00fb7356cbe-chatContent {
  background: var(--bg-secondary);
  border-left: 1px solid var(--bg-border);
}

#app-mount .f75fb00fb7356cbe-form {
  padding: 0 var(--space-md);
}
#app-mount .f75fb00fb7356cbe-channelTextArea,
#app-mount ._5126c0cd07f243a0-channelTextArea {
  background: var(--textbox-background);
  border: 2px solid var(--textbox-border);
  border-radius: 6px;
  transition: var(--transition);
  transition-property: border-color, box-shadow;
}
#app-mount .f75fb00fb7356cbe-channelTextArea:hover,
#app-mount ._5126c0cd07f243a0-channelTextArea:hover {
  border-color: var(--textbox-hover-border);
}
#app-mount .f75fb00fb7356cbe-channelTextArea:focus-within,
#app-mount ._5126c0cd07f243a0-channelTextArea:focus-within {
  border-color: hsl(from var(--accent) h s l);
  box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.25);
}
#app-mount ._740174f3d6a2c8fe-scrollableContainer {
  background: transparent;
}

#app-mount ._5126c0cd07f243a0-divider {
  border: none;
  margin: 0;
  height: auto;
  justify-content: flex-start;
  padding: 0 16px 0 var(--custom-message-margin-horizontal);
  margin: 16px 0 8px;
  position: static;
  flex-direction: row-reverse;
  align-items: center;
}
#app-mount ._5126c0cd07f243a0-divider::before {
  content: "";
  height: 1px;
  display: block;
  width: 100%;
}
#app-mount ._5126c0cd07f243a0-divider ._908e20001ad67812-content {
  border-radius: 6px;
  margin: 0;
  padding: 8px 12px;
}
#app-mount ._5126c0cd07f243a0-divider:not(._908e20001ad67812-isUnread)::before,
#app-mount ._5126c0cd07f243a0-divider:not(._908e20001ad67812-isUnread) ._908e20001ad67812-content {
  background: var(--bg-border);
}
#app-mount ._5126c0cd07f243a0-divider._908e20001ad67812-isUnread::before {
  order: 1;
  background: var(--red-500);
}
#app-mount ._5126c0cd07f243a0-divider._908e20001ad67812-isUnread ._908e20001ad67812-content {
  order: 2;
  margin-right: 12px;
  background: hsl(from var(--red-500) h s l/0.1);
  text-shadow: 0 0 calc(var(--chat-glow-intensity) * 5px) hsl(from var(--red-500) h s l/0.5);
}
#app-mount ._908e20001ad67812-unreadPill {
  position: relative;
  top: 0;
  left: 0;
  order: 0;
  padding: var(--space-xxs) var(--space-xs);
  border-radius: var(--radius-xs);
  height: auto;
}
#app-mount ._908e20001ad67812-unreadPill ._908e20001ad67812-unreadPillCap {
  display: none;
}

#app-mount ._0f481cbbd7530492-newMessagesBar {
  background: hsl(from var(--accent) h s l/0.1);
  -webkit-backdrop-filter: blur(var(--foreground-blur));
          backdrop-filter: blur(var(--foreground-blur));
  color: var(--accent);
  left: 0;
  right: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--bg-primary);
  height: auto;
  padding: 0;
  box-shadow: none;
}
#app-mount ._0f481cbbd7530492-barButtonBase {
  filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l/0.3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l/0.2));
}
#app-mount ._0f481cbbd7530492-barButtonMain {
  padding: var(--space-xs) var(--space-md);
  height: auto;
}
#app-mount ._0f481cbbd7530492-barButtonAlt {
  padding: var(--space-xs) var(--space-md);
  height: auto;
  background: transparent;
  border-radius: 0;
  font-weight: 400;
}
#app-mount ._0f481cbbd7530492-barButtonAlt:hover {
  background: hsla(0, 0%, 100%, 0.05);
}

#app-mount ._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned {
  background: hsl(from var(--accent) h s l/0.05);
}
#app-mount ._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned::before {
  background: hsl(from var(--accent) h s l);
}
#app-mount ._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned:hover {
  background: hsl(from var(--accent) h s l/0.075);
}
#app-mount ._5126c0cd07f243a0-cozyMessage .c19a557985eb7793-messageContent:not(.c19a557985eb7793-repliedTextContent):not(:empty) {
  background: var(--chat-bubble-bg);
  margin-left: var(----custom-message-margin-left-content-cozy);
  padding: var(--chat-bubble-padding);
  border-radius: var(--radius-xs);
  display: var(--chat-bubble-display);
}
#app-mount ._4106ae7c1472c1de-wrapper {
  background: hsl(from var(--accent) h s l/0.15);
  color: var(--accent);
}
#app-mount ._4106ae7c1472c1de-wrapper.interactive:hover {
  background: hsl(from var(--accent) h s l);
  color: var(--accent-text);
}
#app-mount .embedWrapper_b7e1cb {
  background: var(--fg-primary);
}

#app-mount .c8ffbb79449f399c-container {
  background: var(--bg-primary);
  border-left: 1px solid var(--bg-border);
}
#app-mount .c8ffbb79449f399c-members {
  background: transparent;
  padding: 0;
}
#app-mount .c8ffbb79449f399c-members::-webkit-scrollbar {
  display: none;
}

#app-mount .c8ffbb79449f399c-member {
  background: transparent;
  max-width: 100%;
  margin-left: 0;
  border-radius: 0;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._91a9d7f7e5248a56-childContainer {
  background: transparent;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._5d473ecff348c314-username {
  text-shadow: 0 0 calc(var(--members-glow-intensity) * 10px) currentColor;
  overflow: visible;
  filter: none;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._5d473ecff348c314-username::before, #app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._5d473ecff348c314-username::after {
  content: "";
  position: absolute;
  background: currentColor;
  pointer-events: none;
  z-index: 0;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._5d473ecff348c314-username::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected ._5d473ecff348c314-username::after {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  box-shadow: 0 0 calc(var(--members-glow-intensity) * 15px) currentColor;
}
#app-mount .c8ffbb79449f399c-member._91a9d7f7e5248a56-selected .activityText__5d473 {
  color: #fff;
  z-index: 1;
}
#app-mount ._91a9d7f7e5248a56-childContainer {
  padding: var(--space-xs) var(--space-md);
}
#app-mount ._91a9d7f7e5248a56-layout {
  overflow: visible;
  position: initial;
}
#app-mount ._91a9d7f7e5248a56-layout ._91a9d7f7e5248a56-name,
#app-mount ._91a9d7f7e5248a56-layout ._91a9d7f7e5248a56-content,
#app-mount ._91a9d7f7e5248a56-layout ._5d473ecff348c314-username {
  overflow: visible;
}
#app-mount ._91a9d7f7e5248a56-layout ._91a9d7f7e5248a56-avatar {
  z-index: 1;
}

#app-mount ._76f047ded9fef6d4-popout {
  background: var(--fg-primary);
  padding: 0;
  -webkit-backdrop-filter: blur(var(--foreground-blur));
          backdrop-filter: blur(var(--foreground-blur));
  box-shadow: var(--shadow-lg);
}
#app-mount ._76f047ded9fef6d4-popout ._76f047ded9fef6d4-title {
  padding: var(--space-md);
  margin: 0;
}
#app-mount ._76f047ded9fef6d4-popout ._76f047ded9fef6d4-row {
  margin: 0;
  border-radius: 0;
  padding: var(--space-sm);
}
#app-mount ._76f047ded9fef6d4-popout ._76f047ded9fef6d4-more {
  margin-top: 0;
  border-color: var(--fg-border);
  padding: var(--space-sm);
}

#app-mount .c38106a3f0c3ca76-winButtonsWithDivider {
  gap: 0;
}
#app-mount .c38106a3f0c3ca76-winButtonsWithDivider::before {
  height: var(--custom-app-top-bar-height);
  border-left-color: var(--bg-border);
  margin: 0;
}
