#app-mount .guilds-2JjMmN .tree-3agP2X {
  outline: none !important;
}
#app-mount .guilds-2JjMmN .scroller-3X7KbA {
  margin-bottom: var(--user-area, 220px);
}
#app-mount .guilds-2JjMmN .unreadMentionsIndicatorBottom-3RJMnQ {
  bottom: calc(var(--user-area) + 10px);
}
#app-mount .panels-3wFtMD > .container-1CH86i {
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: column-reverse;
  padding: 0 0 24px;
  width: var(--guilds-width, 72px);
  height: auto;
  border-top: none;
}
#app-mount .panels-3wFtMD > .container-1CH86i > [style="flex: 0 1 auto;"] {
  flex-direction: column;
  width: 100%;
}
#app-mount .panels-3wFtMD > .container-1CH86i > [style="flex: 0 1 auto;"] .button-12Fmur {
  width: 100%;
  border-radius: 0;
  padding: 12px 0;
  height: auto;
}
#app-mount .panels-3wFtMD > .container-1CH86i .avatarWrapper-12uuu4 {
  margin-right: 0;
  margin-top: 12px;
}
#app-mount .panels-3wFtMD > .container-1CH86i .avatarWrapper-12uuu4 .svg-1G_H_8 {
  width: 50px;
  height: 50px;
  transform: translate(1px, 1px);
}
#app-mount .panels-3wFtMD > .container-1CH86i .avatar-19siqs {
  width: 42px !important;
  height: 42px !important;
}
#app-mount .nameTag-2Q56-H {
  display: none;
}
#app-mount .avatarWrapper-12uuu4 {
  margin: 0;
  min-width: unset;
}
#app-mount .avatarWrapper-12uuu4:hover {
  background: transparent;
}