#app-mount .guilds__2b93a .tree__7a511 {
  outline: none !important;
}
#app-mount .guilds__2b93a .scroller_de945b {
  margin-bottom: var(--user-area, 220px);
}
#app-mount .guilds__2b93a .unreadMentionsIndicatorBottom__9351c {
  bottom: calc(var(--user-area) + 10px);
}
#app-mount .panels__58331 > .container_debb33 {
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: column-reverse;
  padding: 0 0 24px;
  width: var(--guilds-width, 72px);
  height: auto;
  border-top: none;
}
#app-mount .panels__58331 > .container_debb33 > [style="flex: 0 1 auto;"] {
  flex-direction: column;
  width: 100%;
}
#app-mount .panels__58331 > .container_debb33 > [style="flex: 0 1 auto;"] .button_ae40a4 {
  width: 100%;
  border-radius: 0;
  padding: 12px 0;
  height: auto;
}
#app-mount .panels__58331 > .container_debb33 .avatarWrapper__500a6 {
  margin-right: 0;
  margin-top: 12px;
}
#app-mount .panels__58331 > .container_debb33 .avatarWrapper__500a6 .svg_a6bf1c {
  width: 50px;
  height: 50px;
  transform: translate(1px, 1px);
}
#app-mount .panels__58331 > .container_debb33 .avatar_f8541f {
  width: 42px !important;
  height: 42px !important;
}
#app-mount .nameTag__77ab2 {
  display: none;
}
#app-mount .avatarWrapper__500a6 {
  margin: 0;
  min-width: unset;
}
#app-mount .avatarWrapper__500a6:hover {
  background: transparent;
}