#app-mount .sidebar-1tnWFu {
	.unread-XRkyaQ {
		overflow: visible;
	}
	.unread-2wipsx {
	 background: hsl(0 0% 100%);
	 color: #000;
	 box-shadow: 0 0 calc(var(--glow-intensity) * 10px) hsl(0 0% 100%);
 }
}