@use '../assets';

#app-mount {
	.wrapper-NhbLHG {
		padding: 0;

		&.modeUnread-3Cxepe {
			.unread-36eUEm {
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / .3);
				width: 2px;
				height: 15px;
				margin: 0;
				transform: translateY(-50%);
				border-radius: 0;
			}
			.icon-2W8DHg,
			.name-28HaxV {
				color: #fff;
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--unread-colour) / .3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / .2));
			}
		}

		&.modeSelected-3DmyhH {
			.content-1gYQeQ {
				background: rgb(var(--accent), .1);
				&::before {
					content: "";
					position: absolute;
					left: 0;
					height: 100%;
					width: 2px;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent), .2);
				}
				.icon-2W8DHg,
				.name-28HaxV {
					color: rgb(var(--accent));
					filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				}
			}
		}
	}
	.content-1gYQeQ {
		margin: 0;
		padding: 0 18px;
		height: var(--channel-height);
		border-radius: 0;
	}
	.mainContent-20q_Hp {
		padding: 0;
		&::before {
			top: 0;
			bottom: 0;
		}
	}

	.wrapper-NhbLHG.typeThread-2Aqh6X {
		.content-1gYQeQ {
			position: relative;
			padding-left: 64px;
			&::after {
				position: absolute;
				left: 36px;
				width: 24px;
				height: 24px;
				content: "";
				mask: url(assets.$icon_triangle-right);
				background: var(--channels-default);
			}
		}
		&.modeSelected-3DmyhH {
			.content-1gYQeQ::after {
				background: rgb(var(--accent));
			}
		}
	}

	// Threads
	.container-1Bj0eq {
		.spine-29OFwR {
			display: none;
		}
		.content-1gYQeQ {
			padding-left: 42px;
		}
	}
}