#app-mount {
	// New messages
	.newMessagesBar-265mhP {
		top: 0;
		right: 0;
		left: 0;
		background: var(--bg-secondary);
		border-bottom: 1px solid var(--border);
		border-radius: 0;
		box-shadow: none;
		opacity: 1;
		backdrop-filter: blur(3px);
	}
	.barButtonBase-2uLO1z {
		height: auto;
		padding: 10px 16px;
	}
	.unreadBar-3t3sYc {
		opacity: 1;
		visibility: visible;
		&[aria-hidden="true"] {
			opacity: 0;
			visibility: hidden;
		}
	}
	
	// Old messages
	.jumpToPresentBar-G1R9s6 {
		background: var(--bg-primary);
		border: 1px solid var(--border);
		padding: 0;
		opacity: 1;
		border-radius: 6px;
		right: 12px;
		bottom: 16px;
		backdrop-filter: blur(3px);
	}

	// Join thread
	.chatHeaderBar-4vZS1x {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
	}
}