#app-mount {
	.chat-2ZfjoI {
		background: transparent;
		.chatContent-3KubbW {
			background: var(--bg-secondary);
			border-right: 1px solid var(--border);
		}
		.scroller-kQBbkU {
			mask: linear-gradient(black 98%, transparent 100%) !important;
		}
		&.threadSidebarOpen-1LSXvU {
			border-radius: 0;
		}
	}
	.content-1jQy2l {
		z-index: 1;
	}
	.messagesWrapper-RpOMA3 {
		margin-bottom: 8px;
	}

	// Placeholder messages
	.wrapper-3HVHpV,
	.wrapper-15CKyy {
		background: transparent;
	}
}