#app-mount {
	.chat-3bRxxu {
		background: transparent;
		.chatContent-a9vAAp {
			background: var(--bg-secondary);
			border-right: 1px solid var(--border);
		}
		.scroller-2LSbBU {
			mask: linear-gradient(black 98%, transparent 100%) !important;
		}
		&.threadSidebarOpen-vdkwIh {
			border-radius: 0;
		}
	}
	.content-yTz4x3 {
		z-index: 1;
	}
	.messagesWrapper-1sRNjr {
		margin-bottom: 8px;
	}

	// Placeholder messages
	.wrapper-3vR61M,
	.wrapper-1F5TKx {
		background: transparent;
	}
}