#app-mount {
	.reaction-1hd86g {
		background: rgb(255 255 255 / .05);
		border-radius: 6px;
		border: none;
		&.reactionMe-wv5HKu {
			background: rgb(var(--accent), .15);
			.reactionCount-2mvXRV {
				color: rgb(var(--accent));
			}
		}
	}
}