#app-mount {
	.searchResultsWrap-5RVOkx {
		background: var(--bg-primary);
		.scroller-3iiyhZ {
			margin-top: -56px;
			padding-top: 64px;
		}
	}
	.searchHeader-1r_ZSh {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(5px);
	}
	.channelName-3w2Y3c {
		background: transparent;
	}
	.searchResult-O9NDji {
		background: transparent;
		margin-left: -16px;
	}
	.pageButton-1GMGeJ {
		&.activeButton-LRWFC_ {
			background: rgb(var(--accent), .1);
			color: rgb(var(--accent));
			text-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
		}
	}
}