#app-mount {
	.checkbox-f1HnKB {
		border-radius: 6px;

		path{
			&[fill^="hsl(139"] {
				fill: rgb(var(--accent));
			}
			&[fill^="hsl(235"] {
				fill: #fff;
			}
		}

		&[style*="var(--control-brand-foreground)"] {
			background: rgb(var(--accent), .4) !important;
			border-color: transparent !important;
		}
	}
}