#app-mount {
	.containerDefault-3tr_sE {
		padding-top: 18px;
	}
	.wrapper-PY0fhH {
		padding: 0 18px 0 42px;
		height: 32px;
		.arrow-gKvcEx {
			left: 16px;
			width: 20px;
			height: 20px;
			top: 5px;
		}
	}
}
