@use '../assets';

#app-mount {
	.wrapper-2jXpOf {
		padding: 0;

		&.modeUnread-1qO3K1 {
			.unread-2lAfLh {
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / .3);
				width: 2px;
				height: 15px;
				margin: 0;
				transform: translateY(-50%);
				border-radius: 0;
			}
			.icon-1DeIlz,
			.name-23GUGE {
				color: #fff;
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--unread-colour) / .3)) drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / .2));
			}
		}

		&.modeSelected-346R90 {
			.content-1x5b-n {
				background: rgb(var(--accent), .1);
				&::before {
					content: "";
					position: absolute;
					left: 0;
					height: 100%;
					width: 2px;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent), .2);
				}
				.icon-1DeIlz,
				.name-23GUGE {
					color: rgb(var(--accent));
					filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				}
			}
		}
	}
	.content-1x5b-n {
		margin: 0;
		padding: 0 18px;
		height: var(--channel-height);
		border-radius: 0;
	}
	.mainContent-u_9PKf {
		padding: 0;
		&::before {
			top: 0;
			bottom: 0;
		}
	}

	.wrapper-2jXpOf.typeThread-3ESTm- {
		.content-1x5b-n {
			position: relative;
			padding-left: 64px;
			&::after {
				position: absolute;
				left: 36px;
				width: 24px;
				height: 24px;
				content: "";
				mask: url(assets.$icon_triangle-right);
				background: var(--channels-default);
			}
		}
		&.modeSelected-346R90 {
			.content-1x5b-n::after {
				background: rgb(var(--accent));
			}
		}
	}

	// Threads
	.container-3JKcAb {
		.spine--Wla_O {
			display: none;
		}
		.content-1x5b-n {
			padding-left: 42px;
		}
	}
}