#app-mount {
	.sidebar-1tnWFu {
		border-radius: 0;
		background: var(--bg-primary);
		width: var(--channels-width);
		border-right: 1px solid var(--border);
		z-index: 1;
		&.hidden-38rxp9 {
			display: none;
		}
	}
	.scrolling-20Of9p .content-2a4AW9 {
		pointer-events: all !important;
	}
	.container-1NXEtd {
		background: transparent;
	}
	.content-2a4AW9 > div[style="height: 16px;"] {
		display: none;
	}
}