#app-mount {
	.sidebar-2K8pFh {
		border-radius: 0;
		background: var(--bg-primary);
		width: var(--channels-width);
		border-right: 1px solid var(--border);
		z-index: 1;
		&.hidden-3iamF5 {
			display: none;
		}
	}
	.scrolling-1Cdwk- .content-3YMskv {
		pointer-events: all !important;
	}
	.container-3w7J-x {
		background: transparent;
	}
	.content-3YMskv > div[style="height: 16px;"] {
		display: none;
	}
}