#app-mount {
	.sidebar-2K8pFh {
		border-radius: 0;
		background: var(--bg-primary);
		width: var(--channels-width);
		border-right: 1px solid var(--border);
		z-index: 1;
	}
	.container-3w7J-x {
		background: transparent;
	}
}