#app-mount {
	.panels-3wFtMD {
		background: transparent;
		padding: 0;
	}
	
	// Connected voice
	.wrapper-3Hk9OB:not(:empty) {
		border-top: 1px solid var(--border);
	}
	.container-1zzFcN {
		border: none;
		padding: 0;
		& > div:first-child {
			padding: 0;
			border-bottom: 1px solid var(--border);
			.inner-llGtyq {
				padding: 16px 18px;
			}
			& > .flex-2S1XBF {
				margin: 0;
			}
			.button-12Fmur {
				height: 63px;
				border-radius: 0;
				width: 42px;
				&:hover {
					background: var(--background-modifier-hover) !important;
				}
			}
		}
	}
	.actionButtons-2vEOUh {
		padding: 0;
		& > button {
			margin: 0;
			border-radius: 0;
			background: transparent !important;
			height: 42px;
			font-size: 0;
			transition: none;
			svg {
				margin: 0;
				color: var(--interactive-normal);
				transition: var(--transition);
				transition-property: color;
			}
			&:hover {
				background: var(--background-modifier-hover) !important;
				svg {
					color: var(--interactive-hover);
				}
			}
		}
	}

	.activityPanel-9icbyU {
		border-top: 1px solid var(--border);
		border-bottom: none;
		padding: 16px;
	}
	
	// Voice users
	.voiceUsers-3gPcwY {
		padding: 10px 16px;
		border-bottom: 1px solid var(--border);
	}

	// User
	.panels-3wFtMD > .container-YkUktl {
		position: fixed;
		bottom: 0;
		left: 0;
		flex-direction: column-reverse;
		padding: 0 0 24px;
		width: var(--guilds-width);
		height: auto;
		& > [style="flex: 0 1 auto;"] {
			flex-direction: column;
			width: 100%;
			.button-12Fmur {
				width: 100%;
				border-radius: 0;
				padding: 12px 0;
				height: auto;
			}
		}
		.avatarWrapper-1B9FTW {
			margin-right: 0;
			margin-top: 12px;
		}
		.avatar-1EWyVD {
			width: 42px !important;
			height: 42px !important;
		}
	}
	.panels-3wFtMD > .container-YkUktl > .nameTag-sc-gpq {
		display: none;
	}
}