#app-mount {
	.panels-j1Uci_ {
		background: transparent;
		padding: 0;
	}
	
	// Connected voice
	.wrapper-24pKcD:not(:empty) {
		border-top: 1px solid var(--border);
	}
	.container-1giJp5 {
		border: none;
		padding: 0;
		& > div:first-child {
			padding: 0;
			border-bottom: 1px solid var(--border);
			.inner-tyMogq {
				padding: 16px 18px;
			}
			& > .flex-1xMQg5 {
				margin: 0;
			}
			.button-14-BFJ {
				height: 63px;
				border-radius: 0;
				width: 42px;
				&:hover {
					background: var(--background-modifier-hover) !important;
				}
			}
		}
	}
	.actionButtons-14eAc_ {
		padding: 0;
		& > button {
			margin: 0;
			border-radius: 0;
			background: transparent !important;
			height: 42px;
			font-size: 0;
			transition: none;
			svg {
				margin: 0;
				color: var(--interactive-normal);
				transition: var(--transition);
				transition-property: color;
			}
			&:hover {
				background: var(--background-modifier-hover) !important;
				svg {
					color: var(--interactive-hover);
				}
			}
		}
	}

	.activityPanel-28dQGo {
		border-top: 1px solid var(--border);
		border-bottom: none;
		padding: 16px;
	}
	
	// Voice users
	.voiceUsers-YsH5Db {
		padding: 10px 16px;
		border-bottom: 1px solid var(--border);
	}

	// User
	.panels-j1Uci_ > .container-3baos1 {
		position: fixed;
		bottom: 0;
		left: 0;
		flex-direction: column-reverse;
		padding: 0 0 24px;
		width: var(--guilds-width);
		height: auto;
		& > [style="flex: 0 1 auto;"] {
			flex-direction: column;
			width: 100%;
			.button-14-BFJ {
				width: 100%;
				border-radius: 0;
				padding: 12px 0;
				height: auto;
			}
		}
		.avatarWrapper-2yR4wp {
			margin-right: 0;
			margin-top: 12px;
		}
		.avatar-SmRMf2 {
			width: 42px !important;
			height: 42px !important;
		}
	}
	.panels-j1Uci_ > .container-3baos1 > .nameTag-3uD-yy {
		display: none;
	}
}