#app-mount {
	.list-2x9Cl9 {
		padding: 0;
		.draggable-S2aEx4 {
			height: auto;
		}
	}
	.voiceUser-3nRK-K {
		height: auto;
		.content-1Tgc42 {
			padding: 4px 18px 4px 32px;
			border-radius: 0;
			margin: 0;
		}
		.icons-2mwuFp {
			margin-right: 0;
		}
		.avatar-3FKimL {
			z-index: 1;
			&.avatarSpeaking-2pCGrZ {
				box-shadow: inset 0 0 0 2px var(--talking-bar),
										inset 0 0 0 3px var(--background-secondary),
										0 0 calc(var(--channel-glow-intensity) * 10px) var(--talking-glow);
			}
		}
		.liveSmall-1Urjcy {
			box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) hsl(var(--discord-red));
			z-index: 1;
		}

		&.selected-1oxcpH {
			.content-1Tgc42 {
				background: transparent;
			}
			.username-vAneIW {
				text-shadow: 0 0 calc(var(--channel-glow-intensity) * 5px) currentColor;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: currentColor;
					opacity: .2;
					z-index: 0;
					pointer-events: none;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					background: currentColor;
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) currentColor;
					pointer-events: none;
				}
			}
		}
	}
}