#app-mount {
	.standardSidebarView__23e6b .content-2a4AW9 {
		min-width: 100%;
		margin: 0;
		& > div[style='height: 60px;'] {
			display: none;
		}
	}
	.contentRegion__23e6b {
		background: transparent;
		& > .customColumn__23e6b {
			padding-right: 0;
		}
	}
	.contentRegionScroller__23e6b {
		background: transparent;
		width: calc(90vw - 302px);
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
		height: 90vh;
	}
	.contentColumnDefault__23e6b {
		max-width: unset;
		width: 100%;
		padding: 32px;
		z-index: 1;
	}

	// Custom scroller bullshit. Why Discord. WHY?
	.customColumn__23e6b,
	.contentColumn__23e6b {
		width: calc(90vh - 300px);
		max-width: var(--settings-content-width);
		padding-right: 32px;
	}
	.contentColumn__23e6b > .customColumn__23e6b {
		padding-right: 0;
	}
	.customScroller__23e6b > div {
		max-width: var(--settings-content-width);
		padding: 32px;
	}
	.customContainer__23e6b {
		position: static;
	}
	.customScroller__23e6b {
		width: 100%;
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
	}

	//Fixing the roles tab. Why is the roles tab so different from the others? WHY?
	.contentColumnMinimal__23e6b {
		padding-right: 0px !important;
		.customColumn__23e6b {
			width: 100%;
			max-width: 100%;
		}
		.content__99f8c {
			padding: 0px 70px 0px 0px;
			border-right: none;
		}
		.page__91dc3 {
			width: 100%;
			max-width: 100%;
		}
		.contentWidth_c6bf1b {
			width: 100%;
			max-width: 100%;
		}
		.header_c6bf1b,
		.headerContainer__9a73f {
			min-width: 100%;
			margin-right: -6px;
			border-right: none;
		}
	}
	.titleContainer_e29cd7 {
		background: transparent;
	}
	.header_c6bf1b {
		border-radius: 5px;
		.menu__81b3e {
			padding-right: 10px;
		}
	}
	.searchBar_c7e907 {
		background: var(--fg-secondary);
		margin-top: 8px;
		margin-left: 8px;
		width: 95%;
		margin-bottom: 0px;
	}
}
