#app-mount {
	.standardSidebarView__12528 .content-2a4AW9 {
		min-width: 100%;
		margin: 0;
		& > div[style='height: 60px;'] {
			display: none;
		}
	}
	.contentRegion__08eba {
		background: transparent;
		& > .customColumn__0b6a6 {
			padding-right: 0;
		}
	}
	.contentRegionScroller__9ae20 {
		background: transparent;
		width: calc(90vw - 302px);
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
		height: 90vh;
	}
	.contentColumnDefault__78de3 {
		max-width: unset;
		width: 100%;
		padding: 32px;
		z-index: 1;
	}

	// Custom scroller bullshit. Why Discord. WHY?
	.customColumn__0b6a6,
	.contentColumn__5f80b {
		width: calc(90vh - 300px);
		max-width: var(--settings-content-width);
		padding-right: 32px;
	}
	.contentColumn__5f80b > .customColumn__0b6a6 {
		padding-right: 0;
	}
	.customScroller_b96e1e > div {
		max-width: var(--settings-content-width);
		padding: 32px;
	}
	.customContainer__64260 {
		position: static;
	}
	.customScroller_b96e1e {
		width: 100%;
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
	}
	
	//Fixing the roles tab. Why is the roles tab so different from the others? WHY?
	.contentColumnMinimal__7b4f5{
		padding-right: 0px;
		.customColumn__0b6a6 {
			width: 100%;
			max-width: 100%;
		}
		.content__690c5 {
			padding: 0px 70px 0px 0px;
		}
		.page_c3ed26{
			width: 100%;
			max-width: 100%;
		}
		.contentWidth_f1e6d4{
			width: 100%;
			max-width: 100%;
		}
	}
}
