#app-mount .layer_d4b6c5:not(.baseLayer_d4b6c5) {
	background: var(--bg-primary);
	backdrop-filter: blur(var(--backdrop-blur));
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	.standardSidebarView_c25c6d {
		max-width: var(--settings-max-width);
		max-height: var(--settings-max-height);
		width: 90vw;
		height: 90vh;
		position: unset !important;
		background: var(--bg-primary);
		border: 1px solid var(--border);
		border-radius: 6px;
	}
	.contentRegion_c25c6d {
		flex: 1 1 auto;
		position: unset;
		height: 100%;
		// width: calc(90vw - 300px);
	}

	.toolsContainer_c25c6d {
		padding-top: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -1;
		opacity: 0;
	}
	.tools_c25c6d,
	.container_df5532 {
		width: 100%;
		height: 100%;
	}
	.keybind_df5532 {
		display: none;
	}
	.closeButton_df5532 {
		background: transparent;
		border: none;
		border-radius: 0;
		flex: 0;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
