#app-mount .sidebarRegion__60457 {
	flex: 0 0 auto;
	.sidebarRegionScroller__1fa7e {
		background: transparent;
		flex: 1;
		width: 100%;
	}
	.sidebar__9e3e2 {
		padding: 0;
		overflow: hidden;
		border-radius: 6px 0 0 6px;
		width: 300px;
		border-right: 1px solid var(--border);
	}
	.header_f72511 {
		padding: 10px 18px;
		color: var(--text-muted);
	}
	.separator_fdbcfd {
		height: 0;
		background: transparent;
		margin-bottom: 18px;
	}
	.item__48dda {
		padding: 10px 18px;
		margin: 0;
		border-radius: 0;
		&.selected__5711d {
			background: rgb(var(--accent), 0.1) !important;
			position: relative;
			color: rgb(var(--accent)) !important;
			text-shadow: 0 0 calc(var(--glow-intensity) * 12px) rgb(var(--accent)),
				0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
	}
}
