#app-mount .layer_d4b6c5 [aria-label='USER_SETTINGS'] {
	// My account
	.accountProfileCard_b69b77 {
		border: 1px solid var(--border);
		background: rgb(255 255 255 / 0.02);
		border-radius: 6px;
	}
	.background_b69b77 {
		margin: 16px 0 0 0;
		padding: 16px;
		border-radius: 0;
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.fieldList_b69b77 {
		background: transparent;
	}
}
