#app-mount .layer-86YKbF[aria-label="USER_SETTINGS"] {
	// My account
	.accountProfileCard-lbN7n- {
		border: 1px solid var(--border);
		background: rgb(255 255 255 / .02);
		border-radius: 6px;
	}
	.background-3d_SjE {
		margin: 16px 0 0 0;
		padding: 16px;
		border-radius: 0;
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.fieldList-in8WkP {
		background: transparent;
	}
}