#app-mount .layer__960e4 [aria-label='USER_SETTINGS'] {
	// My account
	.accountProfileCard__1fed1 {
		border: 1px solid var(--border);
		background: rgb(255 255 255 / 0.02);
		border-radius: 6px;
	}
	.background__1fed1 {
		margin: 16px 0 0 0;
		padding: 16px;
		border-radius: 0;
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.fieldList__1fed1 {
		background: transparent;
	}
}
