// Wack ass text flickering
html,
span:not([class*='spinner_']):not([class*='spinnerItem']) {
	backface-visibility: hidden;
}

// Background
body,
#app-mount,
.app__160d8 {
	background: transparent;
}
.bg__960e4 {
	background-image: var(--background-image);
	background-color: transparent;
	background-attachment: var(--background-attachment, fixed);
	background-size: var(--background-size, cover);
	background-position: var(--background-position, center);
	filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}

// Remove wack ass box shadow from chat
.content_f75fb0::before {
	content: none;
}

// Light more wanrning
html.theme-light {
	.app__160d8::after {
		content: 'SoftX is not designed for Light Mode.\APlease switch to Dark mode in your Discord Appearance Settings.';
		line-height: 1.5;
		white-space: pre-wrap;
		border-top: 1px solid var(--border);
		background: var(--bg-secondary);
		z-index: 1;
		padding: 16px;
		color: #fff;
	}
	.container__37e49 {
		bottom: 81px !important;
	}
}

// Remove animations
.full-motion [class*='animator'] {
	transform: none !important;
	transition: none !important;
}

// Remove settings animation
.layer__960e4.baseLayer__960e4 {
	transform: scale(1) !important;
	opacity: 1 !important;
}

// Versioning
.layer__960e4:not(.baseLayer__960e4) .info__2debe > span:first-child::before {
	display: block;
	content: 'SoftX v' var(--softx-version);
	text-transform: none;
}

// theme loading screen
.container_a2f514 {
	background-color: hsl(0deg 0% 10%);
}
