// Wack ass text flickering
html,
span:not([class*='spinner_']):not([class*='spinnerItem']) {
	backface-visibility: hidden;
}

// Background
body,
#app-mount,
._160d8e55254637e5-app {
	background: transparent;
}
#app-mount ._960e4207cea8323e-bg {
	background-image: var(--background-image);
	background-color: transparent;
	background-attachment: var(--background-attachment, fixed);
	background-size: var(--background-size, cover);
	background-position: var(--background-position, center);
	filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}

// Global app top border
._5e434347c823b592-content::before {
	content: '';
	position: absolute;
	z-index: 101;
	width: 100%;
	height: 1px;
	background: var(--bg-border);
}

::selection {
	background: var(--accent);
	color: var(--accent-text);
}
