// Hide spinner animation from all spans except those with classes that contain "spinner-" or "spinnerItem"
html,
span:not([class*='spinner-']):not([class*='spinnerItem']) {
	backface-visibility: hidden;
}

// Set transparent background for body and app-mount elements
body,
#app-mount,
.app-2CXKsg {
	background: transparent;
}

// Apply background image and blur to element with class "bg-1QIAus"
.bg-1QIAus {
	background-image: var(--background-image);
	background-color: transparent;
	background-attachment: var(--background-attachment, fixed);
	background-size: var(--background-size, cover);
	background-position: var(--background-position, center);
	filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}

// Remove box shadow from chat
.content-1jQy2l::before {
	content: none;
}

// Show warning message when in light mode
html.theme-light {
	.app-2CXKsg::after {
		content: 'SoftX is not build for Lightmode.\APlease switch to Dark mode in your Discord Appearance Settings.';
		line-height: 1.5;
		white-space: pre-wrap;
		border-top: 1px solid var(--border);
		background: var(--bg-secondary);
		z-index: 1;
		padding: 16px;
		color: #fff;
	}
	.container-YkUktl {
		bottom: 81px !important;
	}
}

// Remove animations from elements with class that contains "animator" when in full-motion mode
.full-motion [class*='animator'] {
	transform: none !important;
	transition: none !important;
}

// Remove settings animation
.layer-86YKbF.baseLayer-W6S8cY {
	transform: scale(1) !important;
	opacity: 1 !important;
}

// Add SoftX version number to elements with class that contains "info-3pQQBb"
.layer-86YKbF:not(.baseLayer-W6S8cY) .info-3pQQBb > span:first-child::before {
	display: block;
	content: 'SoftX v' var(--softx-version);
	text-transform: none;
}
