#app-mount {
	// Discord
	.notice-2HEN-u {
		border-radius: 0;
	}
	.closeButton-30b1gR {
		left: 0;
		height: 100%;
	}

	// BetterDiscord
	.bd-notices {
		z-index: 1;
	}
	.bd-notice {
		border-radius: 0;
		box-shadow: unset;
		border-bottom: 1px solid var(--border);
		background: var(--bg-secondary);
	}
	.bd-notice-close {
		right: unset;
		left: 0;
	}
}
