#app-mount {
	// Discord
	.notice__5fd4c {
		border-radius: 0;
	}
	.closeButton__90904 {
		left: 0;
		height: 100%;
	}

	// BetterDiscord
	.bd-notices {
		z-index: 1;
	}
	.bd-notice {
		border-radius: 0;
		box-shadow: unset;
		border-bottom: 1px solid var(--border);
		background: var(--bg-secondary);
	}
	.bd-notice-close {
		right: unset;
		left: 0;
	}
}
