#app-mount .guilds_a4d4d9 {
	[class*='unreadMentionsIndicator'] {
		width: var(--guilds-width);
	}
	.bar_edf32f {
		box-shadow: 0 0 calc(var(--glow-intensity) * 10px) hsl(var(--discord-red));
		opacity: 1;
		visibility: visible;
		&[aria-hidden='true'] {
			opacity: 0;
			visibility: hidden;
		}
	}
}
