#app-mount {
	.guilds__2b93a {
		width: var(--guilds-width);
		border-right: 1px solid var(--border);
		background: var(--bg-primary);
		.scroller__3d071 {
			background: transparent;
			padding: 18px 0;
			mask: radial-gradient(circle at top, black, black 95%, transparent) !important;
			&:hover::-webkit-scrollbar {
				display: var(--guild-scrollbar);
			}
		}
		&.hidden__7c832 {
			display: none;
		}
	}
	.guildSeparator__641a8 {
		height: 1px;
		background: var(--border);
		width: var(--server-size);
	}
}
