#app-mount {
	.wrapper_bc7085 {
		width: 100%;
		ul[role='group'] {
			height: auto !important;
		}
	}
	.folder_bc7085 {
		background: rgb(255 255 255 / 0.05);
	}
	.folderIconWrapper_bc7085 {
		border-radius: 0;
	}
	.expandedFolderBackground_bc7085 {
		left: 50%;
		transform: translateX(-50%);
		background: rgb(255 255 255 / 0.05);
		width: var(--server-size);
		border-radius: clamp(0%, var(--server-roundness, 50%), 30px);
	}
}
