#app-mount {
	.wrapper-28eC3z {
		width: var(--server-size);
		height: var(--server-size);
	}
	.svg-2zuE5p {
		width: var(--server-size);
		height: var(--server-size);
	}

	// No icon, other buttons
	.childWrapper-1j_1ub,
	.circleIconButton-1VxDrg {
		background: rgb(255 255 255 / 0.1);
	}
	.wrapper-3kah-n.selected-1Drb7Z,
	.circleIconButton-1VxDrg:hover {
		background: rgb(255 255 255 / 0.15);
	}
	.circleIconButton-1VxDrg.selected-2r1Hvo path {
		fill: rgb(var(--accent));
	}

	.wrapper-z5ab_q {
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}
