#app-mount {
	.wrapper-28eC3z {
		width: var(--server-size);
		height: var(--server-size);
	}
	.svg-2zuE5p {
		width: var(--server-size);
		height: var(--server-size);
	}

	// No icon, other buttons
	.childWrapper_a6ce15,
	.circleIconButton_db6521 {
		background: rgb(255 255 255 / 0.1);
	}
	.wrapper__8436d.selected_ae80f7,
	.circleIconButton_db6521:hover {
		background: rgb(255 255 255 / 0.15);
	}
	.circleIconButton_db6521.selected_db6521 path {
		fill: rgb(var(--accent));
	}

	.wrapper_c4cd66 {
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}
