#app-mount {
	.wrapper_cc5dd2 {
		width: var(--server-size);
		height: var(--server-size);
	}
	.svg_cc5dd2 {
		width: var(--server-size);
		height: var(--server-size);
	}

	// No icon, other buttons
	.childWrapper__6e9f8,
	.circleIconButton__5bc7e {
		background: rgb(255 255 255 / 0.1);
	}
	.wrapper__8436d.selected_ae80f7,
	.circleIconButton__5bc7e:hover {
		background: rgb(255 255 255 / 0.15);
	}
	.circleIconButton__5bc7e.selected__5bc7e path {
		fill: rgb(var(--accent));
	}

	.wrapper__58105 {
		width: 100%;
		height: 100%;
		overflow: visible;
	}
}
