#app-mount {
	.tabBody-2dgbAs::before {
		content: none;
	}
	.container-2cd8Mz {
		background: transparent;
		.title-338goq {
			margin: 0;
			padding: 16px;
		}
	}
	.peopleColumn-1wMU14 {
		background: var(--bg-secondary);
		border-right: 1px solid var(--border);
	}
	.peopleList-2VBrVI {
		margin: 0;
	}
	.peopleListItem-u6dGxF {
		margin: 0;
		padding: 0 0 0 16px;
		border-color: var(--border);
		border-radius: 0;
		&:last-child {
			border-bottom: 1px solid var(--border);
		}
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.userInfo-2WpsYG {
		overflow: visible;
	}
	.actions-OJh0Kn {
		height: 100%;
	}
	.actionButton-3-B2x- {
		height: 100%;
		width: 42px;
		border-radius: 0;
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}

	.addFriendInputWrapper-kkoSV9 {
		background: var(--input-background);
		border: 2px solid transparent;
		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--glow-intensity) * 20px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.25);
		}
	}
}
