#app-mount {
	.tabBody_b3d268::before {
		content: none;
	}
	.container__5c7e7 {
		background: transparent;
		.title__10613 {
			margin: 0;
			padding: 16px;
		}
	}
	.peopleColumn__51df3 {
		background: var(--bg-secondary);
		border-right: 1px solid var(--border);
	}
	.peopleList__2379e {
		margin: 0;
	}
	.peopleListItem_d14722 {
		margin: 0;
		padding: 0 0 0 16px;
		border-color: var(--border);
		border-radius: 0;
		&:last-child {
			border-bottom: 1px solid var(--border);
		}
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.userInfo__18240 {
		overflow: visible;
	}
	.actions__93d0e {
		height: 100%;
	}
	.actionButton__23182 {
		height: 100%;
		width: 42px;
		border-radius: 0;
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}

	.addFriendInputWrapper__4bf8e {
		background: var(--input-background);
		border: 2px solid transparent;
		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--glow-intensity) * 20px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.25);
		}
	}
}
