#app-mount {
	.tabBody__133bf::before {
		content: none;
	}
	.container__133bf {
		background: transparent;
		.title_d1da5f {
			margin: 0;
			padding: 16px;
		}
	}
	.peopleColumn__133bf {
		background: var(--bg-secondary);
		border-right: 1px solid var(--border);
	}
	.peopleList__5ec2f {
		margin: 0;
	}
	.peopleListItem_cc6179 {
		margin: 0;
		padding: 0 0 0 16px;
		border-color: var(--border);
		border-radius: 0;
		&:last-child {
			border-bottom: 1px solid var(--border);
		}
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.userInfo__0a06e {
		overflow: visible;
	}
	.actions_c72b78 {
		height: 100%;
	}
	.actionButton_f8fa06 {
		height: 100%;
		width: 42px;
		border-radius: 0;
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}

	.addFriendInputWrapper__72ba7 {
		background: var(--input-background);
		border: 2px solid transparent;
		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--glow-intensity) * 20px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.25);
		}
	}

	.emptyCard__7e549 {
		background: var(--bg-tertiary);
	}
}
