#app-mount {
	.applicationStore_f07d62 {
		background: transparent;
	}
	.mainPageScroller_ca1a02 {
		background: var(--bg-secondary);
	}
	.noFlipCardContainer_f8e6bf.forceShadow_f8e6bf .card_f8e6bf {
		background: var(--fg-secondary);
	}
}
