#app-mount {
	.applicationStore_cecc86 {
		background: transparent;
	}
	.mainPageScroller_ed2e7b {
		background: var(--bg-secondary);
	}
	.noFlipCardContainer_c21997.forceShadow_c21997 .card_c21997 {
		background: var(--fg-secondary);
	}
}
