#app-mount {
	.discoverHeader-Ijkm_M {
		margin: 24px;
	}
	.categoryItem-1QIroW {
		margin: 0;
		padding: 0;
		position: relative;
		&.selectedCategoryItem-FHKU_o {
			.layout-1qmrhw {
				background: rgb(var(--accent), 0.1);
				color: rgb(var(--accent));
			}
			path {
				fill: rgb(var(--accent));
			}
			.avatar-6qzftW,
			.content-1U25dZ {
				filter: drop-shadow(0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent)));
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
	}

	.viewWrapper-2sTW6t {
		max-width: unset;
	}
	.pageWrapper-2PwDoS {
		background: var(--bg-secondary);
		.scroller-3j5xK2 {
			padding: 0 !important;
		}
	}
	.searchHeader-3ZIh2x {
		min-height: unset;
		height: 240px;
		border-bottom: 1px solid var(--border);
		position: fixed;
		padding: 0;
		top: 0;
		display: flex;
		justify-content: center;
		width: calc(100% - var(--channels-width));
		box-sizing: border-box;
		z-index: 1;
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		margin: 0;
		img {
			display: none;
		}
	}
	.searchBox-pyIJJj {
		overflow: visible;
	}
	.searchBox-31Zv9h {
		box-shadow: none;
		background: transparent;
		position: relative;
		padding: 0;
		border: none;
	}
	.searchIcon-34RNw9 {
		display: none;
	}
	.search-25t1e9 {
		width: 600px !important;
	}
	.clear-1JYfB5 {
		position: absolute;
		right: -24px;
	}
	.searchBoxInput-P0mWHW {
		padding-right: 52px !important;
		width: 100% !important;
	}
	.cta-25g9OT {
		position: absolute;
		margin-right: 0;
		left: 50%;
		transform: translateX(-50%);
		top: 56px;
	}

	.guildListSection-27K5In {
		padding: 248px 24px 24px;
		box-sizing: border-box;
	}
	.guildList-3-B_6n {
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	}
	.footer-26kPv_ {
		padding: 24px;
	}
	.card-2TuZPZ {
		border-radius: 6px;
		background: rgb(255 255 255 / 0.05);
		&:hover {
			box-shadow: var(--shadow-lg);
		}
	}
}
