#app-mount {
	.shopScroll__6db1d {
		background-color: var(--bg-primary);
		
	}
	.darkCardBackground_c3d04b {
		background-color: var(--fg-secondary);
	}
	.shopCard_c3d04b {
		border-color: var(--fg-secondary);
	}
	.shopViewWrapper__6db1d .headerBar__80679 {
		background: var(--bg-primary) !important;
		height: var(--toolbar-height);
		padding-left: 24px;
		padding-top: 7px;
	}
	.shop__6db1d, .shop__08415, .pageWrapper__6db1d {
		background: transparent;
	}
}

