#app-mount {
	.shopScroll_e77fa3 {
		background-color: var(--bg-primary);
		
	}
	.darkCardBackground_c23530 {
		background-color: var(--fg-secondary);
	}
	.shopCard_c23530 {
		border-color: var(--fg-secondary);
	}
	.shopViewWrapper_e77fa3 .headerBar_d8354c {
		background: var(--bg-primary) !important;
		height: var(--toolbar-height);
		padding-left: 24px;
		padding-top: 7px;
	}
	.shop_e77fa3, .shop_ebba41, .pageWrapper_e77fa3 {
		background: transparent;
	}
}

