#app-mount {
	.nowPlayingColumn_c2739c {
		background: var(--bg-primary);
	}
	.container_bf550a {
		background: transparent;
	}
	.scroller_bf550a {
		padding: 0 !important;
		border: none;
		margin: 0;
	}
	.header_bf550a {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid var(--border);
		font-size: 16px;
		line-height: 1;
		font-weight: normal;
		color: var(--text-normal);
	}
	.itemCard_f02fcf {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--border);
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.body_cd82a7 {
		border-radius: 6px;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.section_cd82a7 {
		background: transparent;
	}
	.separator_cd82a7 {
		background: var(--border);
	}
	
}
//fix for mod view - Lion
.platform-win .closeAction_d936aa {
	position: absolute;
	top: 165.49px;
	right: 314px;
	z-index: 2;
}