#app-mount {
	.nowPlayingColumn_b025fe {
		background: var(--bg-primary);
	}
	.container__3673d {
		background: transparent;
	}
	.scroller__7c25e {
		padding: 0 !important;
		border: none;
		margin: 0;
	}
	.header_c56a27 {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid var(--border);
		font-size: 16px;
		line-height: 1;
		font-weight: normal;
		color: var(--text-normal);
	}
	.itemCard_b64118 {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--border);
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.body__616e6 {
		border-radius: 6px;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.section__253ec {
		background: transparent;
	}
	.separator_fc3370 {
		background: var(--border);
	}
}
