#app-mount {
	.nowPlayingColumn_f5023f {
		background: var(--bg-primary);
	}
	.container__0a6a9 {
		background: transparent;
	}
	.scroller__00e7e {
		padding: 0 !important;
		border: none;
		margin: 0;
	}
	.header__123bf {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid var(--border);
		font-size: 16px;
		line-height: 1;
		font-weight: normal;
		color: var(--text-normal);
	}
	.itemCard__1f162 {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--border);
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.body__83069 {
		border-radius: 6px;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.section_efc22d {
		background: transparent;
	}
	.separator_c2ecc6 {
		background: var(--border);
	}
}
