#app-mount {
	.perks-26lTSw {
		border-radius: 6px;
		background: rgb(255 255 255 / .02);
		border: 1px solid var(--border);
	}
	.perkRow-4H5Kvz {
		margin: 0;
		padding: 16px;
		border-color: var(--border);
	}
}