#app-mount {
	.uploadModal-2ie9O_ {
		background: var(--bg-primary);
		border-radius: 6px;
		border: 1px solid var(--border);
		box-shadow: none;
		
		.inner-rBP-MS {
			margin: 0;
		}
		
		.channelTextArea-1VQBuV {
			background: var(--input-background);
			border: 2px solid transparent;
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			margin-bottom: 0;
			&:hover {
				border-color: rgb(255 255 255 / .05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px) rgb(var(--accent), .25);
			}
		}
		.slateTextArea-27tjG0 {
			padding-left: 16px;
		}
	}
	.image-2ssF8k {
		width: 100% !important;
		height: auto !important;
		max-height: 298px;
		margin: 0 !important;
		box-shadow: none;
		background: transparent;
		border-radius: 6px 6px 0 0;
	}
	.description-2AJi-V {
		border-top: 1px solid var(--border);
		padding: 24px 24px 0;
	}
	.comment-1kpwc5 {
		padding: 24px;
		margin: 0;
	}
}