#app-mount {
	.guilds_c48ade {
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
		margin-bottom: var(--custom-app-panels-height);
	}

	.itemsContainer_ef3116 > div.stack_dbd263 {
		padding-top: var(--server-spacing, 16px);
	}
}
