#app-mount {
	._5e434347c823b592-guilds {
		background: var(--bg-primary);
		border-right: 1px solid var(--bg-border);
		margin-bottom: var(--custom-app-panels-height);
	}

	div.dbd2630aec71879b-stack:not([role='group']) {
		gap: 0 !important;
	}

	._252b6afd49fda06f-guildSeparator {
		background: var(--bg-border);
	}

	.ef3116c2da186559-itemsContainer > div.dbd2630aec71879b-stack {
		padding-top: var(--server-spacing, 16px);
	}

	.ef3116c2da186559-unreadMentionsIndicatorBottom,
	.ef3116c2da186559-unreadMentionsIndicatorTop {
		width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2);
		padding: calc(var(--custom-guild-list-padding) / 2);
	}
}
