#app-mount {
	.folderGroupBackground__48112 {
		left: 50%;
		translate: -50%;
		width: var(--server-size);
	}
	// .folderPreviewWrapper__48112 {
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
	// .folderPreview__48112 {
	// 	height: calc(var(--server-size) / 1.5);
	// 	width: calc(var(--server-size) / 1.5);
	// 	display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-template-rows: 1fr 1fr;
	// 	margin: auto;
	// }
	// .folderPreviewGuildIcon__48112 {
	// 	width: 100%;
	// 	height: auto;
	// }
	// .folderPreviewWrapper__48112 {
	// 	padding: 0;
	// 	display: flex;
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
}
