#app-mount {
	._48112cbe77dc5022-folderGroupBackground {
		left: 50%;
		translate: -50%;
		width: var(--server-size);
	}
	// ._48112cbe77dc5022-folderPreviewWrapper {
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
	// ._48112cbe77dc5022-folderPreview {
	// 	height: calc(var(--server-size) / 1.5);
	// 	width: calc(var(--server-size) / 1.5);
	// 	display: grid;
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-template-rows: 1fr 1fr;
	// 	margin: auto;
	// }
	// ._48112cbe77dc5022-folderPreviewGuildIcon {
	// 	width: 100%;
	// 	height: auto;
	// }
	// ._48112cbe77dc5022-folderPreviewWrapper {
	// 	padding: 0;
	// 	display: flex;
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
}
