#app-mount {
	// .e5445cbd3ad226f2-blobContainer {
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
	// .cc5dd25190031396-wrapper {
	// 	width: var(--server-size) !important;
	// 	height: var(--server-size) !important;
	// }
	// .cc5dd25190031396-svg {
	// 	top: 0;
	// 	left: 0;
	// 	height: var(--server-size);
	// 	width: var(--server-size);
	// }
}
