#app-mount {
	.c8ffbb79449f399c-container {
		background: var(--bg-primary);
		border-left: 1px solid var(--bg-border);
	}
	.c8ffbb79449f399c-members {
		background: transparent;
		padding: 0;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
