#app-mount {
	.membersWrap-3NUR2t {
		min-width: var(--members-width);
		max-width: var(--members-width);
	}
	.container-2o3qEW {
		background: var(--bg-primary);
	}
	.members-3WRCEx {
		background: transparent;
		width: 100%;
		& > div {
			background: transparent;
		}
	}

	// Fix group md members list
	.content-1jQy2l > .membersWrap-3NUR2t > .members-3WRCEx {
		background: var(--bg-primary);
	}
}