#app-mount {
	.container_b2ce9c {
		background: transparent;
	}
	.membersWrap__90226 {
		min-width: var(--members-width);
		max-width: var(--members-width);
		height: 100%;
	}
	.members__9f47b {
		background: var(--bg-primary);
		width: 100%;
		& > div {
			background: transparent;
		}
	}

	// Fix group md members list
	.content__23cab > .membersWrap__90226 > .members__9f47b {
		background: var(--bg-primary);
	}
}
