#app-mount {
	.member_aa4760 {
		max-width: 100%;
		margin: 0;
		padding: 0;
		background: transparent;
		&.selected__7f4cb {
			.layout_bb8e67 {
				background: transparent;
			}
			.username_d272d6 {
				text-shadow: 0 0 calc(var(--members-glow-intensity) * 10px) currentColor;
				overflow: visible;
				filter: none;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: currentColor;
					opacity: 0.2;
					z-index: 0;
					pointer-events: none;
				}
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					background: currentColor;
					box-shadow: 0 0 calc(var(--members-glow-intensity) * 15px) currentColor;
					pointer-events: none;
				}
			}
			.activityText__31c22 {
				color: #fff;
				z-index: 1;
			}
		}
	}
	.layout_bb8e67 {
		padding: 0 16px;
		height: var(--member-height);
		border-radius: 0;

		.name__7afe8,
		.content_e8a0d1,
		.username_ab1e31 {
			overflow: visible;
		}
		.avatar__6337f {
			z-index: 1;
		}
	}
}
