#app-mount {
	.member-2gU6Ar {
		max-width: 100%;
		margin: 0;
		padding: 0;
		background: transparent;
		&.selected-1-Z6gm {
			.layout-1qmrhw {
				background: transparent;
			}
			.username-3_PJ5r {
				text-shadow: 0 0 calc(var(--members-glow-intensity) * 10px) currentColor;
				overflow: visible;
				filter: none;
				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: currentColor;
					opacity: 0.2;
					z-index: 0;
					pointer-events: none;
				}
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					background: currentColor;
					box-shadow: 0 0 calc(var(--members-glow-intensity) * 15px) currentColor;
					pointer-events: none;
				}
			}
			.activityText-1rR-8O {
				color: #fff;
				z-index: 1;
			}
		}
	}
	.layout-1qmrhw {
		padding: 0 16px;
		height: var(--member-height);
		border-radius: 0;

		.name-3Vmqxm,
		.content-1U25dZ,
		.username-i5-wv- {
			overflow: visible;
		}
		.avatar-6qzftW {
			z-index: 1;
		}
	}
}
