// @use '../assets';

.root-8LYsGj {
	border-radius: 0;
	background: var(--fg-primary) !important;
}

.userProfileModalOuter_a65559 {
	border-radius: 0;
	background: transparent;
}

.userProfileInner__61cc1 {
	border-radius: 0;
}
.roundedBanner__16aa6 {
	border-radius: 0;
}

.userProfileInnerThemedNonPremium_ed9022 {
	background: transparent;
	.overlayBackground__2666e {
		background: transparent;
	}
}
.userProfileOuterThemed__1fbd7.userPopoutOuter__3884e,
.userProfileOuterThemed__1fbd7.userProfileOuter__4ac83 {
	padding: 0;
}
.userProfileOuterThemed__1fbd7 .userProfileModalInner__99b1e {
	background: transparent;
	&::before {
		background: linear-gradient(
			var(--profile-gradient-primary-color),
			var(--profile-gradient-primary-color) 120px,
			var(--profile-gradient-secondary-color)
		);
		opacity: 0.5;
		width: 100%;
		height: 100%;
	}
}
.userProfileModalOverlayBackground__7ec35 {
	background: transparent;
	margin: 0;
	padding: 16px;
}

// .userProfileModalInner__99b1e {
// 	background: transparent;
// }

// .userProfileModalOverlayBackground__7ec35 {
// 	background: transparent;
// 	margin: 0;
// 	padding: 0;
// }
