// @use '../assets';

.root-8LYsGj {
	border-radius: 0;
	background: var(--fg-primary) !important;
}

.userProfileModalOuter_c69a7b {
	border-radius: 0;
	background: transparent;
}

.userProfileInner_c69a7b {
	border-radius: 0;
}
.roundedBanner_c3e427 {
	border-radius: 0;
}

.userProfileInnerThemedNonPremium_c69a7b {
	background: transparent;
	.overlayBackground_c69a7b {
		background: transparent;
	}
}
.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b,
.userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
	padding: 0;
}
.userProfileOuterThemed_c69a7b .userProfileModalInner_c69a7b {
	background: transparent;
	&::before {
		background: linear-gradient(
			var(--profile-gradient-primary-color),
			var(--profile-gradient-primary-color) 120px,
			var(--profile-gradient-secondary-color)
		);
		opacity: 0.5;
		width: 100%;
		height: 100%;
	}
}
.userProfileModalOverlayBackground_c69a7b {
	background: transparent;
	margin: 0;
	padding: 16px;
}

// .userProfileModalInner_c69a7b {
// 	background: transparent;
// }

// .userProfileModalOverlayBackground_c69a7b {
// 	background: transparent;
// 	margin: 0;
// 	padding: 0;
// }
