:root {
	--rs-version: '2.0.6';
}

#app-mount {
	.wrapper-3t9DeA {
		border-radius: var(--rs-avatar-shape);

		// Remove masks
		svg:not(:root) {
			overflow: visible;
		}
		foreignObject {
			mask: none;
		}

		// Typing indicator
		.dots-3Bkt3k circle {
			cy: -8 !important;
			&:nth-child(1) {
				cx: -8.5 !important;
			}
			&:nth-child(2) {
				cx: -2.25 !important;
			}
			&:nth-child(3) {
				cx: 4 !important;
			}
		}
		.mask-1l8v16 > rect[x="22"] {
			x: 0;
			y: 0;
		}
		.pointerEvents-2zdfdO[x="14.5"] {
			fill: rgba(0,0,0,0.5) !important;
			width: 30px;
			height: 30px;
			x: 1;
			y: 1;
		}

		// Avatar shape
		img, &.avatar-AvHqJA {
			border-radius: var(--rs-avatar-shape);
		}

		// Updated status, user typing and bottom left avatar
		svg[width="25"][height="15"] > rect {
			rx: calc(var(--rs-avatar-shape) * 2) !important;
			ry: calc(var(--rs-avatar-shape) * 2) !important;
		}
		&[style*="80px"], &[style*="120px"] {
			svg.cursorDefault-dsQJ1n rect {
				ry: calc(var(--rs-avatar-shape) * 3.3);
				rx: calc(var(--rs-avatar-shape) * 3.3);
			}
		}

		// Status ring
		rect {
			x: 0;
			y: 0;
			width: 100%;
			height: 100%;
			mask: none;
			display: block;
			rx: var(--rs-avatar-shape);
			ry: var(--rs-avatar-shape);
			fill: transparent !important;
			stroke-width: var(--rs-small-width);
			&[fill="#43b581"],
			&[fill="#3ba55c"],
			&[fill="rgba(67, 181, 129, 1)"],
			&[mask*="online"],
			&[fill*="hsl(139"] {
				stroke: var(--rs-online-color);
			}
			&[fill="#faa61a"],
			&[fill="rgba(250, 166, 26, 1)"],
			&[mask*="idle"],
			&[fill*="hsl(38"] {
				stroke: var(--rs-idle-color);
			}
			&[fill="#f04747"],
			&[fill="rgba(240, 71, 71, 1)"],
			&[fill="#ed4245"],
			&[mask*="dnd"],
			&[fill*="hsl(359"] {
				stroke: var(--rs-dnd-color);
			}
			&[fill="#593695"],
			&[mask*="streaming"] {
				stroke: var(--rs-streaming-color);
			}
			&[fill="#747f8d"],
			&[mask*="offline"],
			&[fill="NaN"] {
				stroke: var(--rs-offline-color);
			}
			&[fill="#747f8d"],
			&[mask*="invisible"],
			&[fill="rgba(116, 127, 141, 1)"],
			&[fill*="hsl(214"] {
				stroke: var(--rs-invisible-color);
			}
			&[x="16"] {
				width: 24px;
				height: 24px;
			}
			&[x="28"] {
				width: 40px;
				height: 40px;
				overflow: visible;
			}
		}

		// Members list
		&[style*="32px"] rect {
			width: 32px;
			height: 32px;
			x: -14.5;
			y: -17;
			position: relative;
			z-index: 0;
		}

		// Chat avatars (StatusEverywhere)
		&[style*="40px"] {
			& > svg > svg rect {
				width: 40px;
				height: 40px;
				x: -19;
				y: -20;
				ry: calc(var(--rs-avatar-shape) * 3.3);
				rx: calc(var(--rs-avatar-shape) * 3.3);
			}
			foreignObject[mask*="mobile"] img {
				width: calc(100% - 12px);
			}
		}

		// Medium ring (user popout)
		&[style*="80px"] {
			// Updated status
			svg.cursorDefault-dsQJ1n rect {
				x: -48;
				y: -52;
			}
			rect {
				width: 80px;
				height: 80px;
				stroke-width: var(--rs-medium-width);
			}
			img {
				clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
			}
		}
		
		// Large ring (user profile)
		&[style*="120px"] {
			// Updated status
			svg.cursorDefault-dsQJ1n rect {
				x: -70;
				y: -76;
			}
			rect {
				width: 120px;
				height: 120px;
				stroke-width: var(--rs-large-width);
			}
			img {
				clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
			}
		}

		// Fixes DBFBD chat avatars
		&:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"]) > svg > foreignObject:not(:only-child) img {
			clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
		}

		// UserTypingAvatars
		&[style="width: 16px; height: 16px;"] {
			rect {
				display: none;
			}
			img {
				clip-path: none;
			}
		}

		// Mobile indicator
		foreignObject[mask*="mobile"] {
			width: calc(100% + 4px);
			&[width="32"] {
				img {
					width: calc(100% - 12px);
				}
			}
			&[width="80"] {
				img {
					width: calc(100% - 16px);
				}
				&:after {
					width: 14px;
					height: 18px;
					top: 75%;
				}
			}
			&[width="120"] {
				img {
					width: calc(100% - 22px);
				}
				&:after {
					width: 24px;
					height: 20px;
					top: 75%;
				}
			}
			&:after {
				content: "";
				display: var(--rs-phone-visible, block);
				mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
				position: absolute;
				width: 10px;
				height: 14px;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				background: var(--rs-phone-color, var(--rs-online-color));
				z-index: 1;
			}
		
			& + rect {
				stroke: var(--rs-phone-color, var(--rs-online-color));
			}
		}
	}
	// Mobile and typing fix for status everywhere plugins
	.message-2qnXI6 .wrapper-3t9DeA {
		foreignObject[mask*="mobile"] {
			width: calc(100% + 3px);
		}
		rect[mask*="typing"] {
				width: calc(100% - 9px);
		}
	}



	// Avatar hint
	.avatarHint-2A3RNb foreignObject {
		mask: none;
	}
	.avatarHintInner-1TvA8u {
		border-radius: var(--rs-avatar-shape) !important;
		padding-top: 0;
		width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 1px * 2);
		height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 1px * 2);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
	}



	// Offline
	.memberOffline-2lN7gt img {
		clip-path: none !important;
	}
	.offline-3nJYBR img {
		clip-path: none !important;
	}
	// Webhook popout
	.avatarWrapperNonUserBot-3fzpUZ .wrapper-3t9DeA img {
		clip-path: none !important;
	}
}



// Fix clipping on user friends tab
.userInfo-2zN2z8,
.peopleListItem-2nzedh {
	overflow: visible;
}


// Version info
.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
	content: "RadialStatus " var(--rs-version);
	display: block;
}