#app-mount {
	.autocomplete-3NRXG8 {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border: 1px solid var(--border);
		box-shadow: none;
		.scroller-18M1mG {
			padding-bottom: 0;
		}

		// Left side
		.list-33W-Tv {
			.listItems-6eZzQ1 {
				margin: -16px -12px -8px;
			}
			.wrapper-1wwiGV {
				width: 100% !important;
				box-sizing: border-box;
				border-radius: 0;
				height: auto !important;
				padding: 8px !important;
				display: flex;
				justify-content: center;
				position: relative;
				transition: none;
				&:hover {
					background: var(--background-modifier-hover);
				}
				&.selected-3B2w1z {
					background: rgb(var(--accent), .1);
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 2px;
						background: rgb(var(--accent));
						box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
					}
				}
			}
			.section-Dep3No {
				margin-bottom: 0;
			}
		}

		// Right side
		.list-2u03C- .listItems-6eZzQ1 {
			margin: -8px;
		}
		.wrapper-3z7DuG {
			border-right: 1px solid var(--border);
			background: transparent;
		}
		.wrapper-22rqw6 {
			background: transparent;
		}
	}
	.categoryHeader-OpJ1Ly {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
	}
	.categorySection-3hl0bM {
		margin: 0;
	}
	.autocompleteRow-14iwvH {
		padding: 0;
		.base-2v-uc0 {
			border-radius: 0;
			padding: 8px 16px;
			&.selected-3H3-RC {
				background: var(--background-modifier-hover);
			}
		}
	}
}

// Animations
.full-motion {
	.userPopout-2j1gM4 {
		animation: fadeIn .2s ease forwards;
	}
}