@use '../assets';

#app-mount {
	.contentWrapper-3vHNP2 {
		background: var(--bg-primary);
		border-radius: 6px;
		border: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
		box-shadow: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		.header-11eigE,
		.header-uVCAlo,
		.header-JHwfVI {
			padding: 16px;
			margin-left: 128px;
			border-left: 1px solid var(--border);
			box-shadow: none;
		}
		[class^="searchBar"],
		.container-1SX9VC {
			background: var(--input-background);
			border: 2px solid transparent;
			border-radius: 6px;
			transition: var(--transition);
			transition-property: border-color, box-shadow;
	
			[class^="inner-"] {
				padding: 0;
			}
			[class^="input-"] {
				font-size: 14px;
				height: 26px;
			}
			[class^="iconLayout-"] {
				height: 26px;
			}
	
	
			&:hover {
				border-color: rgb(255 255 255 / .05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 15px) calc(var(--input-glow-intensity) * 2px) rgb(var(--accent), .25);
			}
		}
	}

	.nav-1zWVQw {
		position: absolute;
		padding: 0;
		height: 64px;
		z-index: 1;
	}
	.emojiPickerInExpressionPicker-2nOwH8 {
		height: 100%;
	}
	.navList-YSb9UB {
		height: 100%;
		width: 128px;
	}
	.navItem-3McpmW {
		height: 100%;
		width: 33.33%;
		margin: 0;
		position: relative;
		border-radius: 0;
		transition: none;
		&:hover {
			background: var(--background-modifier-hover);
			.contents-3ca1mk::before {
				background: var(--interactive-hover);
			}
		}
		&.navButtonActive-1EqC5l {
			background: rgb(var(--accent), .1);
			.contents-3ca1mk {
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				&::before {
					background: rgb(var(--accent));
				}
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), .2);
			}
		}
		.contents-3ca1mk {
			font-size: 0;
			display: flex;
			align-tracks: center;
			&::before {
				content: "";
				display: flex;
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
			}
		}
		&[aria-controls="gif-picker-tab-panel"] .contents-3ca1mk::before {
			mask: url(assets.$icon_photograph);
		}
		&[aria-controls="sticker-picker-tab-panel"] .contents-3ca1mk::before {
			mask: url(assets.$icon_sparkles);
		}
		&[aria-controls="emoji-picker-tab-panel"] .contents-3ca1mk::before {
			mask: url(assets.$icon_emoji-happy);
		}
	}

	.wrapper-22rqw6 {
		top: 64px;
		border-top: 1px solid var(--border);
		border-right: 1px solid var(--border);
		background: transparent;
		.listItems-6eZzQ1 {
			margin: -8px;
		}
		.scroller-2MALzE::-webkit-scrollbar {
			display: none;
		}
	}
	.categoryItemDefaultCategory-3haEDq {
		width: 100%;
		height: 48px;
		padding: 0;
		margin: 0;
		border-radius: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&.categoryItemDefaultCategorySelected-2YeRUu {
			background: rgb(var(--accent), .1);
			.categoryIcon-2cYeku {
				color: rgb(var(--accent));
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent), .4));
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), .2);
			}
		}
	}
	.categoryItemGuildCategory-3MisqI,
	.stickerCategory-2f6iSo {
		width: 100%;
		height: 48px;
		margin: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		foreignObject {
			mask: none;
		}
		img,
		.guildIcon-2SUGiq {
			border-radius: 6px;
			background: rgb(255 255 255 / .05);
		}
		&:hover {
			background: var(--background-modifier-hover);
			.guildIcon-2SUGiq {
				background: rgb(255 255 255 / .1);
			}
		}
	}
	.unicodeShortcut-3N8oDe {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border-top: 1px solid var(--border);
	}

	.content-1CboaJ {
		border-top: 1px solid var(--border);
	}
	.bodyWrapper-1eSOtW,
	.wrapper-i1awk3 {
		border-top: 1px solid var(--border);
		.scroller-2MALzE {
			left: -7px;
			width: calc(100% + 8px);
		}
	}
	.wrapper-1NNaWG {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
	}

	.inspector-DFKXwB {
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.emojiListRow-3hshyU {
		padding: 0 8px;
	}
	.emojiListRowMediumSize-2_-xbz {
		grid-template-columns: repeat(auto-fill, 45px);
	}



	.wrapper-1NB3WY {
		flex: 1 1 auto;
	}
}