#app-mount {
	.messagesPopoutWrap-1MQ1bW,
	.recentMentionsPopout-3rCiI6 {
		background: var(--bg-primary);
		box-shadow: none;
		border: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
	}
	.recentMentionsPopout-3rCiI6 .scroller-tlc3kG {
		padding: 0 !important;
		& > div {
			border-bottom: 1px solid var(--border);
			padding: 16px;
		}
	}
	.header-2-Imhb {
		background: transparent;
		border-bottom: 1px solid var(--border);
		padding: 0;
		.button-1-5Aqk {
			height: 55px;
			margin: 0;
			border-radius: 0;
			background: transparent;
			transition: none;
			&:hover {
				background: var(--background-modifier-hover);
			}
		}
	}
	.tab-ck0077 {
		height: 55px;
		padding: 0 12px;
		margin: 0;
		border-radius: 0;
		position: relative;
		overflow: visible;
		&[aria-selected="true"] {
			color: rgb(var(--accent));
			background: rgb(var(--accent), .1);
			text-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) rgb(var(--accent), .7);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), .2);
			}
		}
	}

	.container-3iAQ-0 {
		border-bottom: 1px solid var(--border);
		margin-bottom: 0;
		padding: 16px !important;
	}
	.channelHeader-3Gd2xq {
		background: transparent;
		position: static;
		padding: 0 0 16px 14px;
	}
	.messages-3G3erD {
		background: transparent;
		padding: 0;
	}
	.messageContainer-gbhlwo {
		padding: 0;
		border-radius: 0;
		background: transparent;
	}
}