#app-mount {
	.userPopout-xaxa6l {
		box-shadow: none;
		border: 1px solid var(--border);
		background: var(--bg-primary);
		backdrop-filter: blur(10px);
		border-radius: 6px;

		.input-cIJ7To {
			border: 2px solid transparent;
			background: rgb(255 255 255 / 0.05);
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			color: var(--text-normal);
			border-radius: 6px;
			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px)
					rgb(var(--accent), 0.2);
			}
		}

		.avatar-37jOim.wrapper-3t9DeA {
			top: 1.5px;
			left: 1.5px;

			&[aria-label*="Online"] {
				border: 3px solid var(--rs-online-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-online-color);
			}
			&[aria-label*="Offline"] {
				border: 3px solid var(--rs-offline-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-offline-color);
			}
			&[aria-label*="Idle"] {
				border: 3px solid var(--rs-idle-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-idle-color);
			}
			&[aria-label*="Do Not Disturb"] {
				border: 3px solid var(--rs-dnd-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-dnd-color);
			}

			foreignObject {
				mask: none;
			}

			rect {
				display: none;
			}
		}
	}

	.focusLock-Ns3yie {
		.avatar-AvHqJA.wrapper-3t9DeA {
			&[aria-label*="Online"] {
				border: 3px solid var(--rs-online-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-online-color);
			}
			&[aria-label*="Offline"] {
				border: 3px solid var(--rs-offline-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-offline-color);
			}
			&[aria-label*="Idle"] {
				border: 3px solid var(--rs-idle-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-idle-color);
			}
			&[aria-label*="Do Not Disturb"] {
				border: 3px solid var(--rs-dnd-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-dnd-color);
			}

			foreignObject {
				mask: none;
			}

			rect {
				display: none;
			}
		}
	}

	.member-3-YXUe {
		
		.wrapper-3t9DeA {
			&[aria-label*="Online"] {
				border: 3px solid var(--rs-online-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-online-color);
			}
			&[aria-label*="Offline"] {
				border: 3px solid var(--rs-offline-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-offline-color);
			}
			&[aria-label*="Idle"] {
				border: 3px solid var(--rs-idle-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-idle-color);
			}
			&[aria-label*="Do Not Disturb"] {
				border: 3px solid var(--rs-dnd-color);
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px)
					var(--rs-dnd-color);
			}

			foreignObject {
				mask: none;
			}

			rect {
				display: none;
			}
		}
	}

	.bodyInnerWrapper-26fQXj {
		background: transparent;
	}

	.role-2irmRk {
		border: 1px solid var(--border) !important;
		height: auto;
		padding: 8px 6px;
		border-radius: 6px;
		background: var(--bg-primary);
		position: relative;
		overflow: hidden;
	}
	.roleCircle-3xAZ1j::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		opacity: 0.2;
	}
	.roleName-32vpEy {
		z-index: 1;
	}

	.note-1oo11U {
		margin: 0;
	}

	.footer-3UKYOU {
		background: transparent;
	}
}
