#app-mount {
	.userPopout-xaxa6l {
		box-shadow: none;
		border: 1px solid var(--border);
		background: var(--bg-primary);
		backdrop-filter: blur(10px);
		border-radius: 6px;

		.input-cIJ7To {
			border: 2px solid transparent;
			background: rgb(255 255 255 / .05);
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			color: var(--text-normal);
			border-radius: 6px;
			&:hover {
				border-color: rgb(255 255 255 / .05)
			}
			&:focus {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px) rgb(var(--accent), .2);
			}
		}
	}

	.bodyInnerWrapper-26fQXj {
		background: transparent;
	}

	.role-2irmRk {
		border: 1px solid var(--border) !important;
		height: auto;
		padding: 8px 6px;
		border-radius: 6px;
		background: var(--bg-primary);
		position: relative;
		overflow: hidden;
	}
	.roleCircle-3xAZ1j::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: inherit;
		opacity: .2;
	}
	.roleName-32vpEy {
		z-index: 1;
	}
	
	.note-1oo11U {
		margin: 0;
	}

	.footer-3UKYOU {
		background: transparent;
	}
}