#app-mount {
	.userPopout-2j1gM4 {
		box-shadow: none;
		border: 1px solid var(--border);
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border-radius: 6px;

		.input-2g-os5 {
			border: 2px solid transparent;
			background: rgb(255 255 255 / 0.05);
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			color: var(--text-normal);
			border-radius: 6px;
			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px) rgb(var(--accent), 0.2);
			}
		}
	}

	.bodyInnerWrapper-2bQs1k {
		background: transparent;
	}

	.role-2irmRk {
		border: 1px solid var(--border) !important;
		height: auto;
		padding: 8px 10px;
		border-radius: 6px;
		background: var(--bg-primary);
		position: relative;
		overflow: hidden;
		&:hover {
			.roleCircle-1EgnFN {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 0;
				z-index: 2;
			}
			.roleName-2ZJJYR {
				opacity: 0;
			}
		}
	}
	.roleCircle-1EgnFN {
		margin: 0;
		width: 0;
		height: 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: inherit;
			opacity: 0.2;
			pointer-events: none;
		}
	}
	.roleName-2ZJJYR {
		z-index: 1;
		margin: 0;
	}

	.note-Go5ZP2 {
		margin: 0;
	}

	.footer-3naVBw {
		background: transparent;
	}
}
