:root {
	--softx-version: '2.0.0';

	--transition: 0.15s ease;

	--chat-glow-intensity: var(--glow-intensity);
	--channel-glow-intensity: var(--glow-intensity);
	--members-glow-intensity: var(--glow-intensity);
	--input-glow-intensity: var(--glow-intensity);
	--server-glow-intensity: var(--glow-intensity);
	--talking-bar: rgb(var(--accent));
	--talking-glow: rgb(var(--accent));
	--overlaying-blur: 10px;

	--TB-height: calc(var(--toolbar-height) - 1px);
	--TB-width: 52px;
	--TB-header-padding: 155px !important;

	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.06);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);

	--border: hsl(0 0% 5% / 0.6);

	--bg-primary: hsl(0 0% 10% / calc(var(--opacity) + 0.05));
	--bg-secondary: hsl(0 0% 10% / calc(var(--opacity) + 0.1));
	--bg-tertiary: hsl(0 0% 10% / calc(var(--opacity) + 0.15));

	--fg-primary: hsl(0 0% 100% / 0.075);
	--fg-secondary: hsl(0 0% 100% / 0.045);

	--chat-bubble-bg: rgba(255, 255, 255, 0.03);
	--chat-bubble-bg-self: rgb(var(--accent), 0.15);
	--chat-bubble-padding: 10px 14px;
	--chat-bubble-display: inline-block;

	--font-primary: var(--font, 'Whitney');
	--font-display: var(--font, 'Whitney');

	--custom-guild-list-width: 95px;
	--panel-height-normal: 72px;
	--panel-height-expanded: 186px;
}
