:root {
	--softx-version: '2.0.0';

	--transition: 0.15s ease;

	--chat-glow-intensity: var(--glow-intensity);
	--channel-glow-intensity: var(--glow-intensity);
	--members-glow-intensity: var(--glow-intensity);
	--input-glow-intensity: var(--glow-intensity);
	--server-glow-intensity: var(--glow-intensity);
	--talking-bar: rgb(var(--accent));
	--talking-glow: rgb(var(--accent));
	--foreground-blur: 10px;
	--foreground-brightness: 0.8;

	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.06);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);

	--bg-border: hsl(0 0% 5% / 0.75);
	--bg-primary: hsl(0 0% 10% / calc(var(--opacity) + 0.05));
	--bg-secondary: hsl(0 0% 10% / calc(var(--opacity) + 0.075));
	--bg-tertiary: hsl(0 0% 10% / calc(var(--opacity) + 0.125));

	--fg-border: hsl(0 0% 100% / 0.15);
	--fg-primary: hsl(0 0% 100% / 0.075);
	--fg-secondary: hsl(0 0% 100% / 0.045);

	--toolbar-height: 64px;

	--chat-bubble-bg: hsl(0 0% 100% / 0.04);
	--chat-bubble-padding: 10px 14px;
	--chat-bubble-display: inline-block;

	--channel-unread-colour: hsl(0 0% 100%);
	--channel-pill-width: 3px;
	--channel-pill-height: 35%;

	--textbox-background: hsl(0 0% 7% / 0.7);
	--textbox-border: hsl(0 0% 100% / 0.05);
	--textbox-hover-border: hsl(0 0% 100% / 0.1);

	--chat-bottom-spacing: 16px;

	// Discord variables
	--custom-guild-list-width: var(--guilds-width);
	--custom-member-list-width: var(--members-width);
	--custom-message-avatar-size: var(--chat-avatar-size);
	--custom-message-margin-horizontal: var(--space-xxl);
	--text-link: var(--accent) !important;
	--font-primary: var(--font, 'Whitney');
	--font-display: var(--font, 'Whitney');
	--background-mentioned: var(--accent);
	--background-message-hover: hsl(0 0% 100% / 0.02) !important;

	// Yoinked straight from @refact0r
	--guildbar-avatar-size: calc(var(--server-icon-size) * 1px);
	--guildbar-folder-size: var(--g-48);
	--g-48: calc(var(--guildbar-avatar-size) + 8px);
	--g-19-r: calc((var(--server-icon-size) / 2 - 1) / var(--server-icon-size) * 40px);
	--g-40-r: calc(var(--guildbar-avatar-size) / (var(--server-icon-size) + 8) * 48);
	--g-48-r: calc(var(--guildbar-avatar-size) * 48 / 40);
	--g-56-r: calc(var(--g-48) * 56 / 48);
	--g-4-r: calc((var(--g-48-r) - var(--guildbar-avatar-size)) / -2);
	--g-4-r-2: calc((var(--g-56-r) - var(--g-48)) / -2);
}
