// Seperated to use individually, but is still included.

:root {
	--server-unread-colour: 255, 255, 255;
	--server-hover-colour: 255, 255, 255;
	--server-selected-colour: var(--accent, 0, 231, 169);
	--server-spacing: 16px;
	--server-glow-intensity: 1;
}

#app-mount {
	.wrapper-38slSD ul[role='group'] {
		height: auto !important;
	}

	.scroller-3X7KbA > div[style]:not([class]) {
		margin-bottom: var(--server-spacing);
	}

	// Container
	.listItem-3SmSlK {
		width: 100%;
		margin-bottom: var(--server-spacing);
		[class*='pill'] {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: calc(var(--server-size, 48px) + 8px);
			height: calc(var(--server-size, 48px) + 8px);
			overflow: visible;
			margin-left: -2px;
			.item-2LIpTv {
				height: 100% !important;
				width: 100%;
				margin: 0;
				border-radius: var(--server-roundness, 50%);
				background: transparent;
				border: 2px solid transparent;
				box-shadow: none;
				transform: none !important;
				transition: var(--transition);
				transition-property: box-shadow;
			}
			@for $i from 0 through 8 {
				span[style*='height: #{$i}'] {
					box-shadow: 0
						0
						calc(var(--server-glow-intensity) * 15px)
						calc(var(--server-glow-intensity) * 5px)
						rgb(var(--server-unread-colour), 0.25);
					border-color: rgb(var(--server-unread-colour));
				}
			}
			// Hovered
			@for $i from 9 through 20 {
				span[style*='height: #{$i}'] {
					border-color: rgb(var(--server-hover-colour));
					box-shadow: 0
						0
						calc(var(--server-glow-intensity) * 15px)
						calc(var(--server-glow-intensity) * 5px)
						rgb(var(--server-hover-colour), 0.25);
				}
			}
			// Selected
			@for $i from 21 through 40 {
				span[style*='height: #{$i}'] {
					transform: scale(1) !important;
					border-color: rgb(var(--server-selected-colour));
					box-shadow: 0
						0
						calc(var(--server-glow-intensity) * 15px)
						calc(var(--server-glow-intensity) * 5px)
						rgb(var(--server-selected-colour), 0.25);
				}
			}
		}
	}

	// Active state
	.blobContainer-ikKyFs,
	.listItemWrapper-3d87LP {
		transition: var(--transition, 0.15s ease);
		transition-property: transform;
		&:active {
			transform: scale(0.9);
		}
	}

	.svg-2ifYOU foreignObject {
		border-radius: var(--server-roundness, 50%);
		mask: none !important;
	}
}
