#app-mount {
	--iconOffset: 0px;
	.guilds_c48ade {
		.tree_ef3116 {
			outline: none !important;
		}
		.unreadMentionsIndicatorBottom_ef3116 {
			bottom: calc(var(--user-area) + 10px);
		}
		// Discovery button
		.footer__214dc {
			width: 100%;
			margin-bottom: calc(var(--user-area, 200px) + var(--iconOffset));
			background: transparent;
			.listItem__650eb {
				margin-bottom: 0px;
			}
		}
	}

	.panels_c48ade .content__37e49 {
		background: transparent;
		position: fixed;
		bottom: 0;
		left: 0;
		flex-direction: column-reverse;
		padding: 0 0 24px;
		width: var(--guilds-width, 72px);
		height: auto;
		border-top: none;
		& > [style='flex: 0 1 auto;'] {
			flex-direction: column;
			width: 100%;
			.button__67645 {
				width: 100%;
				border-radius: 0;
				padding: 12px 0;
				height: auto;
			}
		}
		.avatarWrapper__37e49 {
			margin-right: 0;
			margin-top: 12px;
			.svg__44b0c {
				width: 50px;
				height: 50px;
				transform: translate(1px, 1px);
			}
		}
		.avatar__37e49 {
			width: 42px !important;
			height: 42px !important;
		}
	}
	.nameTag__37e49 {
		display: none;
	}
	.avatarWrapper__37e49 {
		margin: 0;
		min-width: unset;
		&:hover {
			background: transparent;
		}
	}
}
