#app-mount {
	.guilds_a4d4d9 {
		.tree_fea3ef {
			outline: none !important;
		}
		.scroller_fea3ef {
			margin-bottom: var(--user-area, 220px);
		}
		.unreadMentionsIndicatorBottom_fea3ef {
			bottom: calc(var(--user-area) + 10px);
		}
	}

	.panels_a4d4d9 > .container_b2ca13 {
		background: transparent;
		position: fixed;
		bottom: 0;
		left: 0;
		flex-direction: column-reverse;
		padding: 0 0 24px;
		width: var(--guilds-width, 72px);
		height: auto;
		border-top: none;
		& > [style='flex: 0 1 auto;'] {
			flex-direction: column;
			width: 100%;
			.button_adca65 {
				width: 100%;
				border-radius: 0;
				padding: 12px 0;
				height: auto;
			}
		}
		.avatarWrapper_b2ca13 {
			margin-right: 0;
			margin-top: 12px;
			.svg_c51b4e {
				width: 50px;
				height: 50px;
				transform: translate(1px, 1px);
			}
		}
		.avatar_b2ca13 {
			width: 42px !important;
			height: 42px !important;
		}
	}
	.nameTag_b2ca13 {
		display: none;
	}
	.avatarWrapper_b2ca13 {
		margin: 0;
		min-width: unset;
		&:hover {
			background: transparent;
		}
	}
}
