#app-mount {
	.wrapper-WLdlSO {
		background: var(--bg-primary);
	}
	.navigationBar-2Z_P4D {
		height: calc(var(--TB-height) + 1px);
		box-sizing: border-box;
		background: transparent;
		border-bottom: 1px solid var(--border);
	}
	.planCard-vET3Ia {
		border-radius: 6px;
		background: rgb(255 255 255 / .05);
		border: 1px solid var(--border);
		&:hover {
			box-shadow: var(--shadow-lg);
		}
	}
	.perksTable-H9sPBm {
		background: rgb(255 255 255 / .05);
		border: 1px solid var(--border);
		border-radius: 6px;
	}
}