#app-mount {
	.nowPlayingColumn-1eCBCN {
		background: var(--bg-primary);
	}
	.container-1oAagU {
		background: transparent;
	}
	.scroller-hE2gWq {
		padding: 0 !important;
		border: none;
		margin: 0;
	}
	.header-Imy05m {
		margin: 0;
		padding: 16px;
		border-bottom: 1px solid var(--border);
		font-size: 16px;
		line-height: 1;
		font-weight: normal;
		color: var(--text-normal);
	}
	.itemCard-3Etziu {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--border);
		margin: 0;
		background: transparent;
		&:hover {
			background: var(--background-modifier-hover);
		}
	}
	.body-16rSsp {
		border-radius: 6px;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.section-3G9aLW {
		background: transparent;
	}
	.separator-2OaeRP {
		background: var(--border);
	}
}