// Wack ass text flickering
html, span:not([class*="spinner-"]):not([class*="spinnerItem"]) {
	backface-visibility: hidden;
}

// Background
.bg-h5JY_x {
	background: var(--background-image);
	background-attachment: var(--background-attachment, fixed);
	background-size: var(--background-size, cover);
	background-position: var(--background-position, center);
	filter: blur(var(--background-blur, 0px)) hue-rotate(var(--background-hue, 0deg));
}

// Remove wack ass box shadow from chat
.content-yTz4x3::before {
	content: none;
}

// Light more wanrning
html.theme-light {
	.app-2rEoOp::after {
		content: "SoftX is not build for Lightmode.\APlease switch to Dark mode in your Discord Appearance Settings.";
		line-height: 1.5;
		white-space: pre-wrap;
		border-top: 1px solid var(--border);
		background: var(--bg-secondary);
		z-index: 1;
		padding: 16px;
		color: #fff;
	}
	.container-3baos1 {
		bottom: 81px !important;
	}
}

// Remove animations
.full-motion [class*="animator"] {
	transform: none !important;
	transition: none !important;
}

// Remove settings animation
.layer-3QrUeG.baseLayer-35bLyl {
	transform: scale(1) !important;
	opacity: 1 !important;
}

// Versioning
[aria-label="USER_SETTINGS"] .info-1VyQPT > span:first-child::before {
	display: block;
	content: "SoftX v" var(--softx-version);
}