.platform-osx {
	// OSX buttons
	.typeMacOS-3V4xXE {
		width: var(--guilds-width);
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
	}
	.macButtons-eIdy0e {
		width: 100%;
		padding: 10px 18px;
	}
	#app-mount .guilds-2JjMmN .scroller-3X7KbA {
		padding-top: 6px;
	}
}