.platform-osx {
	// OSX buttons
	.typeMacOS-3EmCyP {
		width: var(--guilds-width);
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
	}
	.macButtons-2MuSAC {
		width: 100%;
		padding: 10px 18px;
	}
	#app-mount .guilds-1SWlCJ .scroller-1Bvpku {
		padding-top: 6px;
	}
}