.members-3WRCEx,
.peopleList-2VBrVI,
.sidebarRegionScroller-FXiQOh,
.contentRegionScroller-2_GT_N,
.customScroller-m1-jZn,
.list-1AJFv_,
[class*="scrollerBase-"],
.container-2McqkF {
	overflow: hidden overlay !important;
	&::-webkit-scrollbar {
		width: 8px;
		display: none;
		background: transparent !important;
	}
	&::-webkit-scrollbar-track {
		margin: 0;
	}
	&::-webkit-scrollbar-track-piece {
		background: transparent;
		border-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-background);
		border-radius: 0;
		border-radius: var(--border-radius);
		border: none;
		&:hover {
			background-color: var(--scrollbar-background-hover);
		}
		&:active {
			background-color: var(--scrollbar-background-active);
		}
	}
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-corner {
		display: none !important;
	}
	&:hover::-webkit-scrollbar {
		display: block;
	}
}