@use '../assets';

#app-mount {
	.container-ZMc96U {
		background: var(--bg-primary);
		height: var(--toolbar-height);
		padding-left: 24px;
		border-bottom: 1px solid var(--border);

		// Threads
		path[d="M5.43309 21C5.35842 21 5.30189 20.9325 5.31494 20.859L5.99991 17H2.14274C2.06819 17 2.01168 16.9327 2.02453 16.8593L2.33253 15.0993C2.34258 15.0419 2.39244 15 2.45074 15H6.34991L7.40991 9H3.55274C3.47819 9 3.42168 8.93274 3.43453 8.85931L3.74253 7.09931C3.75258 7.04189 3.80244 7 3.86074 7H7.75991L8.45234 3.09903C8.46251 3.04174 8.51231 3 8.57049 3H10.3267C10.4014 3 10.4579 3.06746 10.4449 3.14097L9.75991 7H15.7599L16.4523 3.09903C16.4625 3.04174 16.5123 3 16.5705 3H18.3267C18.4014 3 18.4579 3.06746 18.4449 3.14097L17.7599 7H21.6171C21.6916 7 21.7481 7.06725 21.7353 7.14069L21.4273 8.90069C21.4172 8.95811 21.3674 9 21.3091 9H17.4099L17.0495 11.04H15.05L15.4104 9H9.41035L8.35035 15H10.5599V17H7.99991L7.30749 20.901C7.29732 20.9583 7.24752 21 7.18934 21H5.43309Z"] {
			d: path(assets.$path_chat-alt-2);
			fill: transparent;
			stroke: var(--interactive-normal);
			stroke-width: 2px;
			& + path {
				display: none;
			}
		}

		// Mute channel
		path[d="M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z"] {
			fill: transparent;
			stroke: var(--interactive-normal);
			stroke-width: 2px;
			d: path(assets.$path_bell);
		}

		// Pinned messages
		path[d="M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z"] {
			d: path(assets.$path_pin);
			transform: translate(-6px, 6px) scale(-1.3522, 1.3522);
			transform-origin: center;
		}

		// Hide/Show members list
		path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] {
			fill: transparent;
			stroke: var(--interactive-normal);
			stroke-width: 2px;
			d: path(assets.$path_users);
			& ~ path {
				display: none;
			}
		}

		// Inbox
		path[d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"] {
			fill: transparent;
			stroke: var(--interactive-normal);
			stroke-width: 2px;
			d: path(assets.$path_inbox);
		}
	}
	.toolbar-3_r2xA {
		margin-left: 24px;
		.iconWrapper-2awDjA {
			order: 1;
			margin: 0 24px 0 0;
			.iconBadge-3Mmg92 {
				border-radius: 50%;
				box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 1px) hsl(var(--discord-red));
			}
			&.selected-29KTGM {
				filter: drop-shadow(0 0 calc(var(--glow-intensity) * 8px) rgb(var(--accent), .35))
								drop-shadow(0 0 calc(var(--glow-intensity) * 2px) rgb(var(--accent), .35));
				svg path {
					stroke: rgb(var(--accent));
				}
			}
		}
		a[href="https://support.discord.com"] {
			display: none;
		}
		& > :last-child {
			margin-right: 24px;
		}
	}
	.children-3xh0VB {
		height: 100%;
		.iconWrapper-2awDjA {
			grid-area: icon;
			margin-left: 0;
		}
		.title-17SveM {
			margin-right: 24px;
		}
		.topic-11NuQZ {
			grid-area: bottom;
		}
		.status-12NUUC {
			margin-right: 0;
			&::after {
				content: attr(aria-label);
				margin-left: 8px;
				font-size: 13px;
				color: var(--text-normal);
			}
			svg {
				width: 16px;
				height: 16px;
			}
		}
		.divider-q3P9HC {
			display: none;
		}

		&::after {
			content: none;
		}
	}

	.tabBar-ra-EuL {
		height: 100%;
		.item-3mHhwr {
			border-radius: 0;
			background: transparent !important;
			overflow: visible;
			margin: 0;
			color: var(--interactive-normal) !important;
			&:hover {
				background: var(--background-modifier-hover) !important;
				color: var(--interactive-hover) !important;
			}
			&.selected-g-kMVV,
			&[aria-selected="true"] {
				background: var(--background-modifier-active) !important;
				color: var(--interactive-active) !important;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 2px;
					background: #fff;
					box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px) rgb(255 255 255 / .2);
				}
			}
		}
	}

	// Open thread sidebar
	.threadSidebarOpen-1LSXvU .container-ZMc96U {
		border-right: 1px solid var(--border);
	}
}