#app-mount {
	.container-1r6BKw {
		background: var(--bg-primary);
		height: var(--toolbar-height);
		padding-left: 24px;
		border-bottom: 1px solid var(--border);
	}
	.toolbar-1t6TWx {
		margin-left: 24px;
		.iconWrapper-2OrFZ1 {
			order: 1;
			margin: 0 24px 0 0;
		}
		a > .iconWrapper-2OrFZ1 {
			margin: 0;
			order: 1;
		}
		& > :last-child {
			margin-right: 24px;
		}
	}
	.children-19S4PO {
		height: 100%;
		.iconWrapper-2OrFZ1 {
			grid-area: icon;
			margin-left: 0;
		}
		.title-29uC1r {
			margin-right: 24px;
		}
		.topic-TCb_qw {
			grid-area: bottom;
		}
		.status-1XNdyw {
			margin-right: 0;
			&::after {
				content: attr(aria-label);
				margin-left: 8px;
				font-size: 13px;
				color: var(--text-normal);
			}
			svg {
				width: 16px;
				height: 16px;
			}
		}
		.divider-3FBTu8 {
			display: none;
		}

		&::after {
			content: none;
		}
	}

	.tabBar-ZmDY9v {
		height: 100%;
		.item-3HknzM {
			border-radius: 0;
			background: transparent !important;
			overflow: visible;
			margin: 0;
			color: var(--interactive-normal) !important;
			&:hover {
				background: var(--background-modifier-hover) !important;
				color: var(--interactive-hover) !important;
			}
			&.selected-3s45Ha,
			&[aria-selected="true"] {
				background: var(--background-modifier-active) !important;
				color: var(--interactive-active) !important;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 2px;
					background: #fff;
					box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px) rgb(255 255 255 / .2);
				}
			}
		}
	}
}