#app-mount {
	[class*="unreadMentionsIndicator"] {
		width: var(--guilds-width);
	}
	.bar-2eAyLE {
		box-shadow: 0 0 calc(var(--glow-intensity) * 10px) hsl(var(--discord-red));
		opacity: 1;
		visibility: visible;
		&[aria-hidden="true"] {
			opacity: 0;
			visibility: hidden;
		}
	}
	.unreadMentionsIndicatorBottom-3RJMnQ {
		bottom: calc(var(--user-area) + 10px);
	}
}