#app-mount {
	.guilds-2JjMmN {
		width: var(--guilds-width);
		border-right: 1px solid var(--border);
		background: var(--bg-primary);
		.scroller-3X7KbA {
			background: transparent;
			padding: 18px 0;
			mask: radial-gradient(circle at top, black, black 95%, transparent) !important;
			&:hover::-webkit-scrollbar {
				display: var(--guild-scrollbar);
			}
		}
		.tree-3agP2X {
			outline: none !important;
			margin-bottom: var(--user-area);
		}
		&.hidden-10MsGQ {
			display: none;
		}
	}
	.guildSeparator-2ULOMe {
		height: 1px;
		background: var(--border);
		width: var(--server-size);
	}
}