#app-mount {
	.wrapper-3Njo_c ul[role="group"] {
		height: auto !important;
	}
	.folder-1hbNCn {
		background: rgb(255 255 255 / .05);
	}
	.expandedFolderBackground-1cujaW {
		left: 50%;
		transform: translateX(-50%);
		background: rgb(255 255 255 / .05);
		width: var(--server-size);
	}
}