#app-mount {
	// DM spacing
	.scroller-1Bvpku > div[style]:not([class]) {
		margin-bottom: var(--server-spacing);
	}
	
	// Container
	.listItem-1hlISG {
		width: 100%;
		margin-bottom: var(--server-spacing);
	}
	
	// Active state
	.blobContainer-pmnxKB,
	.listItemWrapper-t7zeg3 {
		transition: var(--transition);
		transition-property: transform;
		&:active {
			transform: scale(.9);
		}
	}
	.wrapper-25eVIn {
		width: var(--server-size);
		height: var(--server-size);
	}
	.svg-1X37T1 {
		width: var(--server-size);
		height: var(--server-size);
		foreignObject {
			border-radius: var(--server-roundness, 50%);
			mask: none !important;
		}
	}

	// No icon, other buttons
	.childWrapper-anI2G9,
	.circleIconButton-1XqULR {
		background: rgb(255 255 255 / .1);
	}
	.wrapper-1BJsBx.selected-bZ3Lue,
	.circleIconButton-1XqULR:hover {
		background: rgb(255 255 255 / .15);
	}
	.circleIconButton-1XqULR.selected-2jcQaY path {
		fill: rgb(var(--accent));
	}

	.wrapper-sa6paO {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	[class*="pill"] {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(var(--server-size) + 8px);
		height: calc(var(--server-size) + 8px);
		overflow: visible;
		margin-left: -2px;
		.item-2hkk8m {
			height: 100% !important;
			width: 100%;
			margin: 0;
			border-radius: var(--server-roundness, 50%);
			background: transparent;
			border: 2px solid #fff;
			transform: none !important;
			transition: var(--transition);
			transition-property: box-shadow;
		}
		@for $i from 0 through 8 {
			span[style*="height: #{$i}"] {
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--unread-colour) / .25);
				border-color: rgb(var(--unread-colour));
			}
		}
		// Hovered
		@for $i from 9 through 20 {
			span[style*="height: #{$i}"] {
				border-color: #fff;
				box-shadow: none;
			}
		}
		// Selected
		@for $i from 21 through 40 {
			span[style*="height: #{$i}"] {
				transform: scale(1) !important;
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), .25);
			}
		}
	}
}