#app-mount {
	.checkbox-f1HnKB {
		border-radius: 6px;

		path {
			&[fill^='hsl(139'] {
				fill: rgb(var(--accent));
			}
			&[fill^='hsl(235'] {
				fill: #fff;
			}
		}

		&[style*='var(--control-brand-foreground)'] {
			background: rgb(var(--accent), 0.4) !important;
			border-color: transparent !important;
		}
	}

	[role='menuitemcheckbox'][aria-checked='true'] {
		.checkbox-hADx5o {
			color: rgb(var(--accent), 0.15);
		}
		.check-3HZJs4 {
			color: rgb(var(--accent));
			filter: drop-shadow(0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent)));
		}
	}
}
