#app-mount {
	[role="radiogroup"][aria-orientation="vertical"] {
		border: 1px solid var(--border);
		border-radius: 6px;
		background: rgb(255 255 255 / .02);
	}

	.itemFilled-1cPbtg {
		background: transparent;
		margin-bottom: 0;

		.icon-1ykL9s {
			display: none;
		}
		
		&:first-child {
			border-radius: 6px 6px 0 0;
			.radioBar-3w9XY-::before {
				border-top-left-radius: 6px;
			}
		}
		&:last-child {
			border-radius: 0 0 6px 6px;
			.radioBar-3w9XY-::before {
				border-bottom-left-radius: 6px;
			}
		}
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
		
		&[aria-checked="true"] .radioBar-3w9XY- {
			[class*="size"] {
				color: var(--radio-bar-colour);
				text-shadow: 0 0 calc(var(--glow-intensity) * 10px) var(--radio-bar-colour);
			}
			path {
				color: var(--interactive-active);
			}
			circle {
				color: var(--radio-bar-colour);
			}
			&::before {
				opacity: 1;
			}
		}
	}
	.radioBar-3w9XY- {
		--radio-bar-colour: var(--radio-bar-accent-color, rgb(var(--accent)));

		background: transparent;
		border-radius: 0;
		padding: 10px 10px 10px 16px !important;
		border: none !important;
		position: relative;
		grid-gap: 16px;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 3px;
			background: var(--radio-bar-colour);
			opacity: 0;
			box-shadow: 0 0 calc(var(--glow-intensity) * 12px) var(--radio-bar-colour);
		}
	}
}