#app-mount .container-2nx-BQ {
	background: transparent !important;
	width: 46px;
	height: 22px;
	svg {
		display: none;
	}
	input {
		display: inline-flex;
		align-items: center;
		opacity: 1;
		appearance: none;
		width: 46px;
		height: 22px;
		border-radius: 20px;
		margin: 0;
		padding: 0 6px;
		cursor: var(--cursor);
		background: hsl(0 0% 100% / 0.2);
		transition: background 0.15s ease, border-color 0.15s ease;
		&::before {
			content: '';
			width: 14px;
			height: 14px;
			border-radius: 7px;
			display: block;
			background: #fff;
			transition: background 0.15s ease, transform 0.15s ease, width 0.15s ease, height 0.15s ease;
		}
		&:hover {
			&:not(:checked) {
				background: hsl(0 0% 100% / 0.15) !important;
			}
			&::before {
				width: 16px;
				height: 16px;
			}
		}
		&:active::before {
			width: 18px;
		}
		&:checked {
			background: rgb(var(--accent));
			border-color: rgb(var(--accent));
			&::before {
				background: #000;
				transform: translateX(22px);
			}
			&:hover {
				box-shadow: inset 0 0 0 100vmax hsl(0 0% 0% / 0.12);
				border-color: hsl(0 0% 0% / 0.12);
			}
			&:active::before {
				transform: translateX(18px);
			}
		}
	}
}
