#app-mount {
	.backdrop-2ByYRN {
		background: var(--backdrop-background) !important;
		backdrop-filter: blur(var(--backdrop-blur)) !important;
		opacity: 1 !important;
		animation: fadeIn .2s ease forwards;
	}
	.root-g14mjS {
		box-shadow: none !important;
		border-radius: 6px;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.footer-VCsJQY,
	.footer-31IekZ {
		background: transparent;
		border-top: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
		box-shadow: none;
	}


	// Parts for modals that don't need a separate file.

	// Pin a message, message box
	.message-G6O-Wv {
		background: transparent;
		box-shadow: none;
		padding: 0;
		margin-left: -16px;
	}
}