#app-mount {
	.backdrop__1a911 {
		background: var(--backdrop-background) !important;
	}
	.root__49fc1:not(.carouselModal-1eUFoq) {
		box-shadow: none !important;
		border-radius: 0;
		border: 1px solid var(--border);
		background: var(--bg-primary);
	}
	.footer__49fc1,
	.footer-31IekZ {
		background: transparent;
		border-top: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
		box-shadow: none;
	}

	// Parts for modals that don't need a separate file.

	// Pin a message, message box
	.message__89466 {
		background: transparent;
		box-shadow: none;
		padding: 0;
		margin-left: -16px;
	}
}
