#app-mount {
	.quickswitcher_f4e139 {
		background: transparent;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
		.content-2a4AW9 {
			height: 100% !important;
		}
	}
	.input_f4e139 {
		background: var(--input-background);
		border: 2px solid transparent;
		transition: var(--transition);
		transition-property: border-color, box-shadow;
		padding: 0 24px;
		box-shadow: var(--shadow-lg);
		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px)
				rgb(var(--accent), 0.25);
		}
	}
	.scroller_f4e139 {
		margin: 24px 0 0;
		box-shadow: var(--shadow-lg);
		border-radius: 6px;
		overflow: hidden;
		max-height: 50vh;
		background: var(--bg-primary);
		border: 1px solid var(--border);
		div[style='height: 15px;'] {
			display: none;
		}
	}
	.header_e3c1c6 {
		margin: 0;
		padding: 10px 16px;
	}
	.result_e3c1c6 {
		border-radius: 0;
		padding: 10px 16px;
		height: auto;
		&[aria-selected='true'] {
			background: var(--background-modifier-hover);
		}
	}
	.content_e3c1c6 {
		height: auto;
		padding: 0;
		line-height: 1;
	}

	.protip_f4e139 {
		display: none;
	}
}

.full-motion {
	.input_f4e139,
	.scroller_f4e139 {
		animation: fadeIn 0.2s ease forwards;
	}
}
