#app-mount {
	.quickswitcher-pKcM9U {
		background: transparent;
		box-shadow: none;
		padding: 0;
		border-radius: 0;
	}
	.input-3r5zZY {
		background: var(--input-background);
		border: 2px solid transparent;
		transition: var(--transition);
		transition-property: border-color, box-shadow;
		padding: 0 24px;
		box-shadow: var(--shadow-lg);
		&:hover {
			border-color: rgb(255 255 255 / .05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px) rgb(var(--accent), .25);
		}
	}
	.scroller-2qwVWY {
		margin: 24px 0 0;
		box-shadow: var(--shadow-lg);
		border-radius: 6px;
		overflow: hidden;
		max-height: 50vh;
		background: var(--bg-primary);
		border: 1px solid var(--border);
		div[style="height: 15px;"] {
			display: none;
		}
	}
	.content-2a4AW9 {
		height: 100% !important;
	}
	.header-1ZpMzy {
		margin: 0;
		padding: 10px 16px;
	}
	.result-u66Ywh {
		border-radius: 0;
		padding: 10px 16px;
		height: auto;
		&[aria-selected="true"] {
			background: var(--background-modifier-hover);
		}
	}
	.content-vQY7Mf {
		height: auto;
		padding: 0;
		line-height: 1;
	}


	.protip-1jXzAl {
		display: none;
	}
}

.full-motion {
	.input-3r5zZY,
	.scroller-2qwVWY {
		animation: fadeIn .2s ease forwards;
	}
}