#app-mount {
	.uploadModal_f82cc7 {
		background: var(--bg-primary);
		border-radius: 6px;
		border: 1px solid var(--border);
		box-shadow: none;

		.inner_f82cc7 {
			margin: 0;
		}

		.channelTextArea_d0696b {
			background: var(--input-background);
			border: 2px solid transparent;
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			margin-bottom: 0;
			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px)
					rgb(var(--accent), 0.25);
			}
		}
		.slateTextArea_e52116 {
			padding-left: 16px;
		}
	}
	.image_f82cc7 {
		width: 100% !important;
		height: auto !important;
		max-height: 298px;
		margin: 0 !important;
		box-shadow: none;
		background: transparent;
		border-radius: 6px 6px 0 0;
	}
	.description_f82cc7 {
		border-top: 1px solid var(--border);
		padding: 24px 24px 0;
	}
	.comment_f82cc7 {
		padding: 24px;
		margin: 0;
	}
}
