@use '../assets';

#app-mount {
	.root-8LYsGj {
		overflow: visible;
		border-radius: 0;
		.tabBarContainer-sCZC4w {
			position: absolute;
			top: -1px;
			left: -57px;
			height: 100%;
			width: 56px;
			border: 1px solid var(--border);
			padding: 0;
			background: var(--bg-primary);
			z-index: 1;
			border-radius: 6px 0 0 6px;
			overflow: hidden;
		}
		.tabBar-2hXqzU {
			flex-direction: column;
		}
		.tabBarItem-30Te4- {
			border: none;
			position: relative;
			overflow: visible;
			font-size: 0;
			height: 48px;
			margin: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after {
				content: "";
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
			}
	
			&[aria-controls="user_info-tab"]::after {
				-webkit-mask: url(assets.$icon_information-circle);
			}
			&[aria-controls="activity-tab"]::after {
				-webkit-mask: url(assets.$icon_rss);
			}
			&[aria-controls="mutual_guilds-tab"]::after {
				-webkit-mask: url(assets.$icon_server);
			}
			&[aria-controls="mutual_friends-tab"]::after {
				-webkit-mask: url(assets.$icon_users);
			}
	
			&:hover {
				background: var(--background-modifier-hover);
				&::after {
					background: var(--interactive-hover);
				}
			}
			&.selected-g-kMVV {
				color: rgb(var(--accent));
				text-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent), .8);
				&::before {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 2px;
					height: 100%;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
				}
				&::after {
					background: rgb(var(--accent));
				}
			}
		}
	}
	
	.topSection-13QKHs {
		background: transparent;
	}
	
	.header-S26rhB {
		position: unset;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 24px;
		box-sizing: border-box;
		margin-top: -60px;
		.avatar-3QF_VA {
			position: relative;
			left: 0;
			margin-left: 0;
			top: 0;
		}
	}
	.headerTop-1PNKck {
		position: static;
		margin-bottom: 30px;
	}
	.badgeList-2aoHPw {
		padding-right: 0;
		margin-right: 0;
	}
	.nameTag-2Nlmsy {
		margin: 12px 24px 24px;
	}
	.relationshipButtons-3ByBpj {
		position: absolute;
		bottom: 16px;
		left: -56px;
		flex-direction: column;
		z-index: 2;
		.actionButton-iarQTd {
			height: 48px;
			width: 56px;
			padding: 0;
			min-width: unset;
			background: transparent;
			border-radius: 0;
			transition: none;
			margin-bottom: 12px;
			&::before {
				content: "";
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
				-webkit-mask: url(assets.$icon_cog);
			}
			&:hover {
				background: var(--background-modifier-hover);
				.contents-3ca1mk {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.contents-3ca1mk {
			position: absolute;
			top: -46px;
			background: var(--bg-primary);
			padding: 10px 12px;
			border-radius: 6px;
			border: 1px solid var(--border);
			backdrop-filter: blur(var(--blur));
			overflow: visible;
			opacity: 0;
			visibility: hidden;
			transition: var(--transition);
			transition-property: opacity, visibility;
			pointer-events: none;
			user-select: none;
		}
		.additionalActionsIcon-3Cy8UU {
			margin-left: 0;
		}
	}
	.customStatusActivity-WKWGD- {
		padding: 0 24px 24px;
	}
	
	.body-1Ukv50 {
		background: transparent;
		height: 100%;
		min-height: 340px;
		max-height: 340px;
		border-top: 1px solid var(--border);
	}
	.infoScroller-1QMpon {
		padding: 24px !important;
		& > div[style*="height: 24px"] {
			display: none;
		}
	}
	.userInfoSection-2u2hir {
		padding: 0;
		border: none;
		& + .userInfoSection-2u2hir {
			margin-top: 42px;
		}
	}
	.userBio-2-tr00 {
		margin-bottom: 24px;
	}
	.connectedAccounts-1YaT2t {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 24px;
	}
	.connectedAccount-1xKpli {
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		border-radius: 0 6px 6px 0;
		border-color: var(--border);
		padding: 12px 16px 12px 18px;
		position: relative;

		img {
			&[src*="37f15a06d062bdd0fc252d2b35d0b0bb"] + div {--connection-colour: 63 143 247;} // Battle.net
			&[src*="94dc6f30a819026fa295d85f1f72b4ab"] + div {--connection-colour: 206 161 70;} // League
			&[src*="316ed923548387f8983e28a3804e6712"] + div {--connection-colour: 0 120 215;} // Skype
			&[src*="d897626dfa2016ea3ad0af935acb6070"],
			&[src*="6a853b4c87fce386cbfef4a2efbacb09"] {
				& + div {--connection-colour: 255 255 255;} // Steam & GitHub
			}
			&[src*="eaeac24163b35f7526704a3d9b3c7722"] + div {--connection-colour: 30 215 96;} // Spotify
			&[src*="ca71e0b8818221eea1deebbaf8dc6518"] + div {--connection-colour: 145 70 255;} // Twitch
			&[src*="57ee9535485efae7eb923ed4893abb57"] + div {--connection-colour: 217 37 42;} // YouTube
			&[src*="85cf2b49d2a185c98ec8e383ad5a05d6"] + div {--connection-colour: 29 161 242;} // Twitter
			&[src*="f3224f560c8f5974355596a4f7e9ce19"] + div {--connection-colour: 255 69 0;} // Reddit
			&[src*="1fa6585cbb8c0fe21188e26d19fc6609"] + div {--connection-colour: 55 178 56} // Xbox
		}
	}
	.connectedAccountName-j0meX4 {
		line-height: normal;
		max-width: 140px;
	}
	.connectedAccountNameInner-t24B11 {
		--connection-colour: var(--accent);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 2px;
			background: rgb(var(--connection-colour));
			box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--connection-colour));
		}
	}


	.note-3M15gE {
		margin: 0;
	}
	.listScroller-entkMk {
		padding: 0 !important;
		& > div[style*="height"] {
			display: none;
		}
	}
	.listRow-2nO1T6 {
		margin: 0;
		padding: 8px 10px;
		&:hover {
			background: var(--background-modifier-hover);
			border-radius: 0;
		}
	}
	.listAvatar-1BbvHX.iconActiveMedium-27_R5B {
		border-radius: 6px;
	}
}