#app-mount {
	.member-3-YXUe {
		max-width: 100%;
		margin: 0;
		padding: 0;
		&.selected-aXhQR6 {
			.layout-2DM8Md {
				background: transparent;
			}
			.roleColor-rz2vM0 {
				text-shadow: 0 0 calc(var(--members-glow-intensity) * 10px) currentColor;
				overflow: visible;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: currentColor;
					opacity: .2;
					z-index: 0;
					pointer-events: none;
				}
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					background: currentColor;
					box-shadow: 0 0 calc(var(--members-glow-intensity) * 15px) currentColor;
					pointer-events: none;
				}
			}
			.activityText-yGKsKm {
				color: #fff;
				z-index: 1;
			}
		}
	}
	.layout-2DM8Md {
		padding: 0 16px;
		height: var(--member-height);
		border-radius: 0;
		.name-uJV0GL,
		.content-3QAtGj {
			overflow: visible;
		}
		.avatar-3uk_u9 {
			z-index: 1;
		}
	}
}