#app-mount {
	.container_bc43c1 {
		margin: 0;
		padding: 12px 0;
		.textArea__81b51 {
			margin-bottom: 12px;
			padding: 0 12px;
		}
		.divider__0c76f {
			border-color: var(--border);
		}
	}
	.progressBarContainer_e11b41 {
		background: rgb(255 255 255 / 0.05);
		margin: 0 12px 12px;
		width: calc(100% - 24px);
		.progressBar_db0972 {
			background: linear-gradient(90deg, rgb(var(--accent), 0.1), rgb(var(--accent)));
		}
	}
}
