#app-mount {
	.containerDefault_e3b32b {
		padding-top: 18px;
	}
	.wrapper__07e2f {
		padding: 0 18px 0 42px;
		height: 32px;
		.arrow_cb03b8 {
			left: 16px;
			width: 20px;
			height: 20px;
			top: 5px;
		}
	}
}
