#app-mount {
	.containerDefault-3TQ5YN {
		padding-top: 18px;
	}
	.wrapper-1S43wv {
		padding: 0 18px 0 42px;
		height: 32px;
		.arrow-2HswgU {
			left: 16px;
			width: 20px;
			height: 20px;
			top: 5px;
		}
	}
}
