@use '../assets';

#app-mount {
	.wrapper-NhbLHG {
		padding: 0;
		margin: 0;

		&.modeUnread-3Cxepe {
			.unread-36eUEm {
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px)
					rgb(var(--unread-colour) / 0.3);
				width: 2px;
				height: 15px;
				margin: 0;
				transform: translateY(-50%);
				top: 50%;
				border-radius: 0;
				left: 0;
			}
			.icon-2W8DHg,
			.name-28HaxV {
				color: #fff;
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--unread-colour) / 0.3))
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / 0.2));
			}
		}

		&.modeSelected-3DmyhH {
			.link-1_kTxV {
				background: rgb(var(--accent), 0.1);
				&::before {
					content: '';
					top: 0;
					position: absolute;
					left: 0;
					height: 100%;
					width: 2px;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px)
						rgb(var(--accent), 0.2);
				}
				.icon-2W8DHg,
				.name-28HaxV {
					color: rgb(var(--accent));
					filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				}
			}
		}
	}

	.link-1_kTxV {
		padding: 10px 16px;
		margin: 0;
		border-radius: 0;
	}

	.wrapper-NhbLHG.typeThread-2Aqh6X {
		.link-1_kTxV {
			position: relative;
			padding-left: 62px;
			&::after {
				position: absolute;
				left: 32px;
				width: 24px;
				height: 24px;
				content: '';
				mask: url(assets.$icon_triangle-right);
				background: var(--channels-default);
			}
		}
		&.modeSelected-3DmyhH {
			.link-1_kTxV::after {
				background: rgb(var(--accent));
			}
		}
	}

	// Threads
	.container-1Bj0eq > ul[role='group'] {
		.spine-29OFwR,
		.spineBorder-1-F4s1 {
			display: none;
		}
	}
}
