@use '../assets/icons';

#app-mount {
	._2ea32c412048f708-wrapper {
		margin: 0;
		padding: 0;
		&._2ea32c412048f708-modeUnreadImportant {
			._2ea32c412048f708-icon,
			._2ea32c412048f708-name {
				color: var(--channel-unread-colour);
				filter: drop-shadow(
						0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l / 0.3)
					)
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l / 0.2));
			}
		}
		&._2ea32c412048f708-modeSelected {
			._2ea32c412048f708-link {
				background: hsl(from var(--accent) h s l / 0.1);
				&::before {
					content: '';
					position: absolute;
					left: 0;
					height: 100%;
					width: var(--channel-pill-width);
					top: 0;
					background: var(--accent);
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px)
						hsl(from var(--accent) h s l / 0.2);
				}
			}
			._2ea32c412048f708-icon,
			._2ea32c412048f708-name {
				color: var(--accent);
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l / 0.3))
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l / 0.2));
			}
		}
	}
	._2ea32c412048f708-link {
		padding: var(--space-xs) var(--space-md);
		border-radius: 0;
	}

	._2ea32c412048f708-typeThread ._2ea32c412048f708-link {
		padding-left: calc(var(--space-md) * 4);
		&::before {
			content: '';
			width: 24px;
			height: 24px;
			mask: url(icons.$icon_triangle-right);
			background: var(--channels-default);
			top: 50%;
			left: calc(var(--space-md) * 2);
			translate: 0 -50%;
		}
	}
	._5b40bdd67543ba35-spine,
	._5b40bdd67543ba35-spineBorder {
		display: none;
	}

	._2ea32c412048f708-unread {
		left: 0;
		height: 100%;
		top: 50%;
		translate: 0 -50%;
		margin-top: 0;
		border-radius: 0;
		width: var(--channel-pill-width);
		background: var(--channel-unread-colour);
		height: var(--channel-pill-height);
		box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px)
			hsl(from var(--channel-unread-colour) h s l / 0.5);
	}

	// Forms ([number] new)
	.c69b6db0641110f6-channelInfo {
		display: block;
		.text-xs\/semibold_cf4812 {
			color: var(--accent) !important;
			font-weight: normal;
			filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l / 0.3))
				drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l / 0.2));
		}
	}
}
