@use '../assets';

#app-mount {
	.wrapper__7bcde {
		padding: 0;
		margin: 0;

		&.modeUnread_f74c03 {
			.unread__48cf4 {
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px)
					rgb(var(--unread-colour) / 0.3);
				width: 2px;
				height: 15px;
				margin: 0;
				transform: translateY(-50%);
				top: 50%;
				border-radius: 0;
				left: 0;
			}
			.icon_eff5d4,
			.name__8d1ec {
				color: #fff;
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--unread-colour) / 0.3))
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / 0.2));
			}
		}

		&.modeSelected__487d6 {
			.link__95dc0 {
				background: rgb(var(--accent), 0.1);
				&::before {
					content: '';
					top: 0;
					position: absolute;
					left: 0;
					height: 100%;
					width: 2px;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px)
						rgb(var(--accent), 0.2);
				}
				.icon_eff5d4,
				.name__8d1ec {
					color: rgb(var(--accent));
					filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				}
			}
		}
	}

	.link__95dc0 {
		padding: 10px 16px;
		margin: 0;
		border-radius: 0;
	}

	.wrapper__7bcde.typeThread__2f91c {
		.link__95dc0 {
			position: relative;
			padding-left: 62px;
			&::after {
				position: absolute;
				left: 32px;
				width: 24px;
				height: 24px;
				content: '';
				mask: url(assets.$icon_triangle-right);
				background: var(--channels-default);
			}
		}
		&.modeSelected__487d6 {
			.link__95dc0::after {
				background: rgb(var(--accent));
			}
		}
	}

	// Threads
	.container_f87d43 > ul[role='group'] {
		.spine__88e6d,
		.spineBorder_bdec8b {
			display: none;
		}
	}
}
