@use '../assets';

#app-mount {
	.wrapper_d8bfb3 {
		padding: 0;
		margin: 0;

		&.modeUnreadImportant_d8bfb3 {
			.unread_d8bfb3 {
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) calc(var(--channel-glow-intensity) * 2px)
					rgb(var(--unread-colour) / 0.3);
				width: 2px;
				height: 15px;
				margin: 0;
				transform: translateY(-50%);
				top: 50%;
				border-radius: 0;
				left: 0;
			}
			.icon_d8bfb3,
			.name_d8bfb3 {
				color: #fff;
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--unread-colour) / 0.3))
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) rgb(var(--unread-colour) / 0.2));
			}
		}

		&.modeSelected_d8bfb3 {
			.link_d8bfb3 {
				background: rgb(var(--accent), 0.1);
				&::before {
					content: '';
					top: 0;
					position: absolute;
					left: 0;
					height: 100%;
					width: 2px;
					background: rgb(var(--accent));
					box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px)
						rgb(var(--accent), 0.2);
				}
				.icon_d8bfb3,
				.name_d8bfb3 {
					color: rgb(var(--accent));
					filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				}
			}
		}
	}

	.link_d8bfb3 {
		padding: 10px 16px;
		margin: 0;
		border-radius: 0;
	}

	.wrapper_d8bfb3.typeThread_d8bfb3 {
		.link_d8bfb3 {
			position: relative;
			padding-left: 62px;
			&::after {
				position: absolute;
				left: 32px;
				width: 24px;
				height: 24px;
				content: '';
				mask: url(assets.$icon_triangle-right);
				background: var(--channels-default);
			}
		}
		&.modeSelected_d8bfb3 {
			.link_d8bfb3::after {
				background: rgb(var(--accent));
			}
		}
	}

	// Threads
	.container_e1e976 > ul[role='group'] {
		.spine_e1e976,
		.spineBorder_e1e976 {
			display: none;
		}
	}
}
