#app-mount {
	.sidebar_a4d4d9 {
		border-radius: 0;
		background: var(--bg-primary);
		width: var(--channels-width);
		border-right: 1px solid var(--border);
		z-index: 1;
		&.hidden_a4d4d9 {
			display: none;
		}
	}
	.scrolling-20Of9p .content-2a4AW9 {
		pointer-events: all !important;
	}
	.container_ee69e0 {
		background: transparent;
	}
	.content-2a4AW9 > div[style='height: 16px;'] {
		display: none;
	}
	.sectionDivider_c43953 {
		margin: 0;
		background: var(--border);
		margin-top: 12px;
	}
}
