#app-mount {
	.sidebar__5e434 {
		border-radius: 0;
		&::after {
			content: none;
		}

		.scroller__629e4::-webkit-scrollbar {
			display: none;
		}
	}
	.sidebarList__5e434 {
		border-radius: 0;
		border: none;
		padding-bottom: 0;
		margin-bottom: var(--custom-app-panels-height);
	}
	.container__2637a {
		background: var(--bg-primary);
		padding-bottom: 0;
	}

	// DMs
	.privateChannels_e6b769 {
		background: var(--bg-primary);

		.scroller__99e7c {
			background: transparent;
			margin-bottom: 0;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.sectionDivider_e6b769 {
		background: var(--bg-border);
		margin: 0;
	}
}
