#app-mount {
	.sidebar_c48ade {
		border-radius: 0;
		&::after {
			content: none;
		}

		.scroller__629e4::-webkit-scrollbar {
			display: none;
		}
	}
	.sidebarList_c48ade {
		border-radius: 0;
		border: none;
		padding-bottom: 0;
		margin-bottom: var(--custom-app-panels-height);
	}
	.container__2637a {
		background: var(--bg-primary);
		padding-bottom: 0;
	}
}
