#app-mount {
	._5e434347c823b592-sidebar {
		border-radius: 0;
		&::after {
			content: none;
		}

		._629e4c86564a4ee7-scroller::-webkit-scrollbar {
			display: none;
		}
	}
	._5e434347c823b592-sidebarList {
		border-radius: 0;
		border: none;
		padding-bottom: 0;
		margin-bottom: var(--custom-app-panels-height);
	}
	._2637a2609f343032-container {
		background: var(--bg-primary);
		padding-bottom: 0;
	}

	// DMs
	.e6b7699ce8339e1c-privateChannels {
		background: var(--bg-primary);

		._99e7cad8d4c55236-scroller {
			background: transparent;
			margin-bottom: 0;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.e6b7699ce8339e1c-sectionDivider {
		background: var(--bg-border);
		margin: 0;
	}
}
