#app-mount {
	.e6b7699ce8339e1c-searchBar {
		height: var(--toolbar-height);
		border-bottom: 1px solid var(--bg-border);
		padding: 0;
		._201d5e8a3c09670a-button {
			height: var(--toolbar-height);
			border-radius: 0;
			background: transparent;
		}
	}

	// Friends, Nitro, Shop
	._972a0d22c8afa7f0-channel:not(._972a0d22c8afa7f0-dm) {
		max-width: unset;
		margin: 0;
		padding: 0;
		border-radius: 0;
		._972a0d22c8afa7f0-link {
			padding: var(--space-md);
		}
	}

	._99e7cad8d4c55236-privateChannelsHeaderContainer {
		padding: var(--space-md);
		height: auto;
	}

	.bf202d63ad53e289-interactive {
		// Unread
		&:not(.bf202d63ad53e289-selected) ._20a53846fe2e8513-layout._20a53846fe2e8513-highlighted {
			&::before {
				content: '';
				width: var(--channel-pill-width);
				height: var(--channel-pill-height);
				background: var(--channel-unread-colour);
				left: 0;
				position: absolute;
				filter: drop-shadow(
						0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l / 0.3)
					)
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l / 0.2));
			}
			._20a53846fe2e8513-nameAndDecorators {
				filter: drop-shadow(
						0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--channel-unread-colour) h s l / 0.3)
					)
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--channel-unread-colour) h s l / 0.2));
			}
		}
		// Selected
		&.bf202d63ad53e289-selected {
			background: hsl(from var(--accent) h s l / 0.1);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				width: var(--channel-pill-width);
				background: var(--accent);
				box-shadow: 0 0 calc(var(--channel-glow-intensity) * 15px) calc(var(--channel-glow-intensity) * 5px)
					hsl(from var(--accent) h s l / 0.2);
			}

			._20a53846fe2e8513-nameAndDecorators,
			._972a0d22c8afa7f0-linkButtonIcon {
				color: hsl(from var(--accent) h s l);
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l / 0.3))
					drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l / 0.2));
			}
			.text_c9d15c {
				color: hsl(from var(--accent) h s l);
				opacity: 0.85;
			}
		}
	}
	._972a0d22c8afa7f0-dm {
		margin: 0;
		border-radius: 0;
		padding: 0;
	}

	._972a0d22c8afa7f0-link {
		padding: var(--space-xs) var(--space-md);

		._20a53846fe2e8513-subText,
		.text_c9d15c {
			overflow: visible;
		}
	}
}
