#app-mount {
	.privateChannels_f0963d,
	.scroller_c47fa9 {
		background: transparent;
		div[style='height: 8px;'] {
			display: none;
		}
	}

	.searchBar_f0963d {
		height: var(--toolbar-height);
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		padding: 0 12px;
		margin-top: -1px;
	}

	.privateChannelsHeaderContainer_c47fa9 {
		padding: 18px;
		height: auto;
		align-items: center;
		line-height: normal;
	}
	.channel_c91bad {
		max-width: unset;
		margin: 0;
		padding: 0;
		border-radius: 0;
		.layout_f9647d {
			padding: 0 18px;
			height: var(--dm-height);
			border-radius: 0;
		}
		.content_f9647d {
			overflow: visible;
		}
		.name_f9647d {
			overflow: visible;
		}

		.selected_f5eb4b {
			color: rgb(var(--accent));
			background: rgb(var(--accent), 0.2);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
			.name_f9647d {
				filter: drop-shadow(0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent)));
			}
			.subText_f9647d {
				color: #fff;
			}
		}
	}
}
