#app-mount {
	.privateChannels__35e86,
	.scroller__99e7c {
		background: transparent;
		div[style='height: 8px;'] {
			display: none;
		}
	}

	.searchBar__35e86 {
		height: var(--toolbar-height);
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		padding: 0 12px;
		margin-top: -1px;
		.searchBarComponent__35e86 {
			background-color: var(--input-background);
		}
	}
	.privateChannelsHeaderContainer__99e7c {
		padding: 18px;
		height: auto;
		align-items: center;
		line-height: normal;
	}
	.channel__972a0 {
		max-width: unset;
		margin: 0;
		padding: 0;
		border-radius: 0;
		.layout__20a53 {
			padding: 0 18px;
			height: var(--dm-height);
			border-radius: 0;
		}
		.content__20a53 {
			overflow: visible;
		}
		.name__20a53 {
			overflow: visible;
		}

		.selected_bf202d {
			color: rgb(var(--accent));
			background: rgb(var(--accent), 0.2);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
			.name__20a53 {
				filter: drop-shadow(0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent)));
			}
			.subText__20a53 {
				color: #fff;
			}
		}
	}
}
