#app-mount {
	.privateChannels__9b518,
	.scroller__89969 {
		background: transparent;
		div[style='height: 8px;'] {
			display: none;
		}
	}

	.searchBar__621ec {
		height: var(--toolbar-height);
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		padding: 0 12px;
		margin-top: -1px;
	}

	.privateChannelsHeaderContainer_b22dc9 {
		padding: 18px;
		height: auto;
		align-items: center;
		line-height: normal;
	}
	.channel__0aef5 {
		max-width: unset;
		margin: 0;
		padding: 0;
		border-radius: 0;
		.layout__59abc {
			padding: 0 18px;
			height: var(--dm-height);
			border-radius: 0;
		}
		.content_b5e449 {
			overflow: visible;
		}
		.name_f842e4 {
			overflow: visible;
		}

		.selected__37292 {
			color: rgb(var(--accent));
			background: rgb(var(--accent), 0.2);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
			.name_f842e4 {
				filter: drop-shadow(0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent)));
			}
			.subText__0b282 {
				color: #fff;
			}
		}
	}
}
