@use '../assets';

#app-mount {
	.animatedContainer-2laTjx {
		margin-top: var(--toolbar-height);
		background: transparent;
		transform: none !important;
	}
	.bannerImage-ubW8K- {
		width: var(--channels-width);
		transform: none !important;
	}
	.bannerImg-2PzH6z {
		width: 100%;
	}
	.content-2a4AW9 > div[style="height: 84px;"] {
		margin-top: 48px;
	}

	.selected-1GtAC5 .header-3OsQeK {
		background: transparent;
	}
	.header-3OsQeK {
		height: var(--toolbar-height);
		border-bottom: 1px solid var(--border);
		filter: none;
		box-shadow: none;
		padding: 0 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.headerContent-2SNbie {
			flex: 1;
		}
		.headerChildren-2qV9P8 {
			display: flex;
			.button-2BMPJJ {
				top: 0;
			}
		}
		.name-3Uvkvr {
			font-weight: 500;
		}
		.button-2BMPJJ {
			margin-left: 0;
			mask: url(assets.$icon_cog) center/cover;
			background: var(--interactive-normal);
			width: 24px;
			height: 24px;
			g {
				display: none;
			}
			&.open-3fGK6o {
				transform: rotate(-65deg);
			}
		}

		&:hover {
			background: transparent;
		}
	}
	.guildIconContainer-2FW_iA {
		display: none;
	}
	.headerButton-1nmDZ3 {
		background: transparent;
	}
}