@use '../assets';

#app-mount {
	.animatedContainer__341f6 {
		margin-top: var(--toolbar-height);
		background: transparent;
		transform: none !important;
	}
	.bannerImage__39c51 {
		width: var(--channels-width);
		transform: none !important;
	}
	.bannerImg_c85b7f {
		width: 100%;
	}
	.content-2a4AW9 > div[style='height: 84px;'] {
		margin-top: 48px;
	}

	.selected__0b1ad .header__104ca {
		background: transparent;
	}
	.header__104ca {
		height: var(--toolbar-height);
		border-bottom: 1px solid var(--border);
		filter: none;
		box-shadow: none;
		padding: 0 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.headerContent_ee8727 {
			flex: 1;
		}
		.headerChildren__7cd0b {
			display: flex;
			.button__07e07 {
				top: 0;
			}
		}
		.name_c08dbc {
			font-weight: 500;
		}
		.button__07e07 {
			margin-left: 0;
			mask: url(assets.$icon_cog) center/cover;
			background: var(--interactive-normal);
			width: 24px;
			height: 24px;
			g {
				display: none;
			}
			&.open_a0ea08 {
				transform: rotate(-65deg);
			}
		}

		&:hover {
			background: transparent;
		}
	}
	.guildIconContainer-2FW_iA {
		display: none;
	}
	.headerButton__3af9f {
		background: transparent;
	}
	.communityInfoContainer__286d6 {
		display: none;
	}
}
