#app-mount {
	.panels-3wFtMD {
		background: transparent;
		padding: 0;
		border-top: 1px solid var(--border);
	}

	// Connected voice
	.wrapper-3Hk9OB:not(:empty) {
		border-top: 1px solid var(--border);
	}
	.container-2NLBJg {
		background: transparent;
		border: none;
		padding: 0;
		& > div:first-child {
			padding: 0;
			border-bottom: 1px solid var(--border);
			.inner-C_MH0f {
				padding: 16px 18px;
			}
			& > .flex-2S1XBF {
				margin: 0;
			}
			.button-12Fmur {
				height: 63px;
				border-radius: 0;
				width: 42px;
				&:hover {
					background: var(--background-modifier-hover) !important;
				}
			}
		}
	}
	.actionButtons-1DmM2g {
		padding: 0;
		& > div > button,
		& > button {
			margin: 0;
			border-radius: 0;
			background: transparent !important;
			height: 42px;
			font-size: 0;
			transition: none;
			.contents-3NembX {
				display: flex;
			}
			svg {
				margin: auto;
				color: var(--interactive-normal);
				transition: var(--transition);
				transition-property: color;
			}
			&:hover {
				background: var(--background-modifier-hover) !important;
				svg {
					color: var(--interactive-hover);
				}
			}
		}
	}

	.activityPanel-9icbyU {
		border-bottom: 1px solid var(--border);
		padding: 16px;
		background: transparent;
	}

	// Voice users
	.voiceUsers-3gPcwY {
		padding: 10px 16px;
		border-bottom: 1px solid var(--border);
	}

	// User area
	.container-1CH86i {
		background: transparent;
		padding: 0 16px;
		height: 64px;
		border-top: 1px solid var(--border);
	}
	.avatarWrapper-1B9FTW {
		flex: 1;
	}
}
