#app-mount {
	.panels_c48ade {
		height: var(--custom-app-panels-height);
		bottom: 0;
		left: 0;
		border-radius: 0;
		width: 100%;
		border: none;
		border-top: 1px solid var(--bg-border);
		background: var(--bg-primary);
	}

	// Connected voice
	.container_e131a9 {
		padding: var(--space-md);
		margin: 0;
		border-color: var(--bg-border);
	}

	// User area
	.container__37e49 {
		padding: var(--space-md);
	}
}
