#app-mount {
	._5e434347c823b592-panels {
		bottom: 0;
		left: 0;
		border-radius: 0;
		width: 100%;
		border: none;
		border-top: 1px solid var(--bg-border);
		background: var(--bg-primary);
	}

	._5e434347c823b592-activityPanel {
		background: transparent;
		border-bottom: 1px solid var(--bg-border);
	}

	// Connected voice
	.e131a99484292a19-container {
		padding: var(--space-md);
		margin: 0;
		border-color: var(--bg-border);
	}

	// User area
	._37e49614b9f110a9-container {
		padding: var(--space-md);
	}
}
