.platform-osx {
	// OSX buttons
	.typeMacOS_cacc59 {
		width: var(--guilds-width);
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
	}
	.macButtons__40068 {
		width: 100%;
		padding: 10px 18px;
	}
	#app-mount .guilds__2b93a .scroller_de945b {
		padding-top: 6px;
	}
}
