.platform-osx {
	// OSX buttons
	.typeMacOS__421ed {
		width: var(--guilds-width);
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
	}
	.macButtons__421ed {
		width: 100%;
		padding: 10px 18px;
	}
	#app-mount .guilds_c48ade .scroller_ef3116 {
		padding-top: 6px;
	}
}
