.platform-osx {
	// OSX buttons
	.typeMacOS_a934d8 {
		width: var(--guilds-width);
		background: var(--bg-primary);
		border-right: 1px solid var(--border);
	}
	.macButtons_a934d8 {
		width: 100%;
		padding: 10px 18px;
	}
	#app-mount .guilds_a4d4d9 .scroller_fea3ef {
		padding-top: 6px;
	}
}
