#app-mount .typeWindows-2-g3UY {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 22px;
		background: var(--bg-secondary);
		border-bottom: 1px solid var(--border);
	}
}
