#app-mount {
	._0f481cbbd7530492-newMessagesBar {
		background: hsl(from var(--accent) h s l / 0.1);
		backdrop-filter: blur(var(--foreground-blur));
		color: var(--accent);
		left: 0;
		right: 0;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid var(--bg-primary);
		height: auto;
		padding: 0;
		box-shadow: none;
	}
	._0f481cbbd7530492-barButtonBase {
		filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) hsl(from var(--accent) h s l / 0.3))
			drop-shadow(0 0 calc(var(--channel-glow-intensity) * 2px) hsl(from var(--accent) h s l / 0.2));
	}
	._0f481cbbd7530492-barButtonMain {
		padding: var(--space-xs) var(--space-md);
		height: auto;
	}
	._0f481cbbd7530492-barButtonAlt {
		padding: var(--space-xs) var(--space-md);
		height: auto;
		background: transparent;
		border-radius: 0;
		font-weight: 400;
		&:hover {
			background: hsl(0 0% 100% / 0.05);
		}
	}
}
