#app-mount {
	// New messages
	.newMessagesBar__8b272 {
		top: 12px;
		right: 12px;
		left: 12px;
		background: rgb(var(--accent), 0.1);
		border: 1px solid var(--border);
		border-radius: 0;
		box-shadow: none;
		opacity: 1;
		backdrop-filter: blur(3px);
		border-radius: 6px;
	}
	.barButtonBase__5e4cf {
		height: auto;
		padding: 10px 16px;
	}
	.unreadBar__4ead4 {
		opacity: 1;
		visibility: visible;
		&[aria-hidden='true'] {
			opacity: 0;
			visibility: hidden;
		}
	}

	// Old messages
	.jumpToPresentBar__69174 {
		background: rgb(var(--accent), 0.1);
		border: 1px solid var(--border);
		padding: 0;
		opacity: 1;
		border-radius: 6px;
		right: 12px;
		bottom: 16px;
		backdrop-filter: blur(3px);
	}

	// Join thread
	.chatHeaderBar__9e6ac {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
	}
}
