#app-mount {
	.voiceCallWrapper_bae578 {
		padding-bottom: 0;
	}
	.wrapper_d880dc.minimum_d880dc {
		height: 300px;
	}
	.chatButton_dd069c {
		top: 25px;
    		right: 187px;
	}
	.children_fc4f04 {
		height: 60px;
	}
	.disabledButtonWrapper_dd4f85 .button_dd4f85.grow_dd4f85 {
		margin-left: 18px;
	}
}
