#app-mount {
	.voiceCallWrapper_a21736 {
		padding-bottom: 0;
	}
	.wrapper_cb9592.minimum_cb9592 {
		height: 300px;
	}
	.chatButton_dd069c {
		top: 25px;
		right: 187px;
	}
	.children__9293f {
		height: 60px;
	}
	.disabledButtonWrapper__201d5 .button__201d5.grow__201d5 {
		margin-left: 18px;
	}
}
