#app-mount {
	.chat_f75fb0 {
		background: transparent;
		border: none;
		ol.scrollerInner__36d07 {
			padding-bottom: var(--chat-bottom-spacing);
		}
	}
	.chatContent_f75fb0 {
		background: var(--bg-secondary);
		border-left: 1px solid var(--bg-border);
	}
}
