#app-mount {
	.f75fb00fb7356cbe-chat {
		background: transparent;
		border: none;
		ol._36d072eab2b2e737-scrollerInner {
			padding-bottom: var(--chat-bottom-spacing);
		}
	}
	.f75fb00fb7356cbe-chatContent {
		background: var(--bg-secondary);
		border-left: 1px solid var(--bg-border);
	}
}
