#app-mount {
	.chat__52833 {
		background: transparent;
		.chatContent__5dca8 {
			background: var(--bg-secondary);
			border-right: 1px solid var(--border);
		}
		.scroller__1f96e {
			mask: linear-gradient(black 98%, transparent 100%) !important;
		}
		&.threadSidebarOpen_fa231d {
			border-radius: 0;
		}
	}
	.messagesWrapper_ea2b0b {
		margin-bottom: 8px;
	}
	.content__23cab {
		z-index: 1;
	}
	.content__1a4fe::before {
		content: none;
	}

	// Placeholder messages
	.wrapper_b8c724,
	.wrapper__5c5cd {
		background: transparent;
	}
}
