#app-mount {
	.divider__01aed {
		border: none;
		margin: 0;
		height: auto;
		justify-content: flex-start;
		padding: 0 16px 0 calc(var(--chat-avatar-size) + 26px);
		margin: 32px 0;
		position: static;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			content: '';
			height: 1px;
			display: block;
			width: 100%;
		}
		.content__7191e {
			border-radius: 6px;
			margin: 0;
			padding: 8px 12px;
		}
		&:not(.isUnread_de09f5) {
			&::before,
			.content__7191e {
				background: var(--border);
			}
		}
		&.isUnread_de09f5 {
			margin: 8px 0;
			&::before {
				order: 1;
				background: hsl(var(--discord-red));
			}
			.content__7191e {
				order: 2;
				margin-right: 12px;
				background: hsl(var(--discord-red) / 0.2);
				text-shadow: 0 0 calc(var(--chat-glow-intensity) * 5px) hsl(var(--discord-red) / 0.5);
			}
		}
	}
	.unreadPill__1b4fa {
		position: relative;
		top: 0;
		left: 0;
		order: 0;
	}
}
