#app-mount {
	.divider-IqmEqJ {
		border: none;
		margin: 0;
		height: auto;
		justify-content: flex-start;
		padding: 0 16px 0 calc(var(--chat-avatar-size) + 26px);
		margin: 32px 0;
		position: static;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			content: "";
			height: 1px;
			display: block;
			width: 100%;
		}
		.content-3spvdd {
			border-radius: 6px;
			margin: 0;
			padding: 8px 12px;
		}
		&:not(.isUnread-3Lojb-) {
			&::before,
			.content-3spvdd {
				background: var(--border);
			}
		}
		&.isUnread-3Lojb- {
			margin: 8px 0;
			&::before {
				order: 1;
				background: hsl(var(--discord-red));
			}
			.content-3spvdd {
				order: 2;
				margin-right: 12px;
				background: hsl(var(--discord-red) / .2);
				text-shadow: 0 0 calc(var(--chat-glow-intensity) * 5px) hsl(var(--discord-red) / .5);
			}
		}
	}
	.unreadPill-3nEWYM {
		position: relative;
		top: 0;
		left: 0;
		order: 0;
	}
}