#app-mount {
	.divider__5126c {
		border: none;
		margin: 0;
		height: auto;
		justify-content: flex-start;
		padding: 0 16px 0 var(--custom-message-margin-horizontal);
		margin: 32px 0;
		position: static;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			content: '';
			height: 1px;
			display: block;
			width: 100%;
		}
		.content__908e2 {
			border-radius: 6px;
			margin: 0;
			padding: 8px 12px;
		}
		&:not(.isUnread__908e2) {
			&::before,
			.content__908e2 {
				background: var(--bg-border);
			}
		}
		&.isUnread__908e2 {
			&::before {
				order: 1;
				background: var(--red-500);
			}
			.content__908e2 {
				order: 2;
				margin-right: 12px;
				background: hsl(from var(--red-500) h s l / 0.1);
				text-shadow: 0 0 calc(var(--chat-glow-intensity) * 5px) hsl(from var(--red-500) h s l / 0.5);
			}
		}
	}
	.unreadPill__908e2 {
		position: relative;
		top: 0;
		left: 0;
		order: 0;
		padding: var(--space-xxs) var(--space-xs);
		border-radius: var(--radius-xs);
		height: auto;

		.unreadPillCap__908e2 {
			display: none;
		}
	}
}
