#app-mount {
	._5126c0cd07f243a0-divider {
		border: none;
		margin: 0;
		height: auto;
		justify-content: flex-start;
		padding: 0 16px 0 var(--custom-message-margin-horizontal);
		margin: 16px 0 8px;
		position: static;
		flex-direction: row-reverse;
		align-items: center;
		&::before {
			content: '';
			height: 1px;
			display: block;
			width: 100%;
		}
		._908e20001ad67812-content {
			border-radius: 6px;
			margin: 0;
			padding: 8px 12px;
		}
		&:not(._908e20001ad67812-isUnread) {
			&::before,
			._908e20001ad67812-content {
				background: var(--bg-border);
			}
		}
		&._908e20001ad67812-isUnread {
			&::before {
				order: 1;
				background: var(--red-500);
			}
			._908e20001ad67812-content {
				order: 2;
				margin-right: 12px;
				background: hsl(from var(--red-500) h s l / 0.1);
				text-shadow: 0 0 calc(var(--chat-glow-intensity) * 5px) hsl(from var(--red-500) h s l / 0.5);
			}
		}
	}
	._908e20001ad67812-unreadPill {
		position: relative;
		top: 0;
		left: 0;
		order: 0;
		padding: var(--space-xxs) var(--space-xs);
		border-radius: var(--radius-xs);
		height: auto;

		._908e20001ad67812-unreadPillCap {
			display: none;
		}
	}
}
