#app-mount {
	.container_a6d69a{
		background: var(--bg-secondary);
	}
	.container-3wLKDe {
		background: var(--bg-secondary);
		border-right: 1px solid var(--border);
	}

	.content_eed6a8 {
		padding: 0;
		width: 100%;
		border-right: 1px solid var(--border);
	}
	.sidebarContainer-1kWKqZ {
		margin: 0;
		padding: 0;
	}

	.headerRow-1MKoR- {
		padding: 0;
		border-bottom: 1px solid var(--border);
	}
	.header-1Uy0p6 {
		height: auto;
		min-height: auto;
		margin: 0;
		border: none;
		background: transparent;
		box-shadow: none;
	}
	.titleContainer-2YK93J {
		gap: 16px;
		align-items: center;
	}
	.container-JhuCwn {
		padding: 16px;
		cursor: default;
		border-bottom: 1px solid var(--border);
		&:hover {
			background: transparent;
		}
	}
	.input-2g-os5 {
		margin: 0;
	}

	.sortContainer-33Xf0u {
		padding: 16px;
	}

	.tagsContainer-2bBw1x {
		padding: 16px;
	}
	.pill_c993da,
	.sortDropdown-hY93nR {
		background: var(--fg-secondary);
		color: #fff;
		&:hover {
			background: var(--fg-primary);
		}
	}
	.pill_c993da.selected_c993da {
		border-color: rgb(var(--accent));
		background: rgb(var(--accent), 0.1);
	}

	.row-uezxzk {
		padding: 0;
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}
	}
	.mainCard_a6d69a {
		background: transparent;
		border: none;
		border-radius: 0;
		transition: none;
		&:not(.header-1Uy0p6):hover {
			box-shadow: none;
			transform: none;
			background: var(--background-modifier-hover);
		}
	}
	.matchingPostsRow_a6d69a {
		border-radius: 0;
		background: var(--fg-primary);
		border-bottom: 1px solid var(--border);
	}

	.sidebarCard-1Gn1ch,
	.container-2IhveL {
		background: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid var(--border);
		margin: 0;
	}
}
