#app-mount {
	._5126c0cd07f243a0-message._5126c0cd07f243a0-mentioned {
		background: hsl(from var(--accent) h s l / 0.05);
		&::before {
			background: hsl(from var(--accent) h s l);
		}

		&:hover {
			background: hsl(from var(--accent) h s l / 0.075);
		}
	}

	._5126c0cd07f243a0-cozyMessage {
		.c19a557985eb7793-messageContent:not(.c19a557985eb7793-repliedTextContent):not(:empty) {
			background: var(--chat-bubble-bg);
			margin-left: var(----custom-message-margin-left-content-cozy);
			padding: var(--chat-bubble-padding);
			border-radius: var(--radius-xs);
			display: var(--chat-bubble-display);
		}
	}

	._4106ae7c1472c1de-wrapper {
		background: hsl(from var(--accent) h s l / 0.15);
		color: var(--accent);

		&.interactive:hover {
			background: hsl(from var(--accent) h s l);
			color: var(--accent-text);
		}
	}

	.embedWrapper_b7e1cb {
		background: var(--fg-primary);
	}
}
