body,
#app-mount {
	$message: '.messageContent-2t3eCI:not(:empty):not(.repliedTextContent-2hOYMB):not(.threadMessageAccessoryContent-1HTTUq)';

	.message-2CShn3 {
		.channelTextArea-220_Gz {
			background: var(--input-background);
			border: 2px solid transparent;
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			.slateTextArea-27tjG0 {
				padding-left: 16px;
			}
			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px)
					rgb(var(--accent), 0.25);
			}
		}
		.operations-3q3u6E .anchor-1MIwyf {
			color: rgb(var(--accent));
			text-shadow: 0 0 calc(var(--input-glow-intensity) * 5px) rgb(var(--accent));
		}
		&.replying-eZ7p5z {
			background: rgb(var(--accent), 0.03);
			&::before {
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--chat-glow-intensity) * 15px) calc(var(--chat-glow-intensity) * 5px)
					rgb(var(--accent), 0.2);
			}
		}
	}

	// Message actions
	.wrapper-2vIMkT {
		background: rgb(255 255 255 / 0.03);
		border: 1px solid var(--border);
		backdrop-filter: blur(5px);
		box-shadow: none;
		border-radius: 6px;
		z-index: 1;
	}

	.cozy-VmLDNB {
		padding-left: calc(var(--chat-avatar-size) + 26px);
		.avatar-2e8lTP {
			margin-top: 0;
			left: 16px;
			width: var(--chat-avatar-size);
			height: var(--chat-avatar-size);
			border-radius: var(--avatar-roundness, 50%);
		}
		.header-2jRmjb {
			overflow: visible;
			margin-left: 0;
			margin-bottom: 10px;
			padding-left: 0;
		}
		#{$message} {
			display: var(--chat-bubble-display);
			margin: 0;
			background: var(--chat-bubble-bg);
			padding: var(--chat-bubble-padding);
			border-radius: 6px;
			overflow: visible;
			max-width: 100%;
			code {
				background: rgb(255 255 255 / 0.03);
				border: none;
			}
		}
		.username-h_Y3Us {
			text-shadow: 0 0 calc(var(--chat-glow-intensity) * 10px) currentColor;
			line-height: normal;
		}
		.messageContent-2t3eCI {
			pre {
				max-width: 100%;
			}
		}
		.container-2sjPya {
			margin-top: 10px;
		}

		&.groupStart-3Mlgv1 #{$message} {
			margin-top: -5px;
		}
		&.mentioned-Tre-dv {
			background: transparent;
			&::before {
				content: none;
			}
			#{$message} {
				background: var(--background-mentioned);
				box-shadow: inset 2px 0 0 var(--info-warning-foreground);
				border-radius: 0 6px 6px 0;
			}
		}
		&[data-is-author-self='true'] #{$message} {
			background: var(--chat-bubble-bg-self);
		}
		&.selected-2LX7Jy:not(.replying-eZ7p5z),
		&:not(.replying-eZ7p5z):hover {
			background: transparent !important;
		}
		&.hasThread-2k82W0::after {
			left: calc(var(--chat-avatar-size) - 3px);
			width: calc(var(--chat-avatar-size) - 13px);
			border-color: rgb(255 255 255 / 0.15);
			bottom: 40px;
		}
	}

	// Thread
	.container-3i3IzO {
		margin-top: 0;
		background: rgb(255 255 255 / 0.05);
		margin-bottom: 12px;
	}

	// Mention
	.wrapper-1ZcZW- {
		background: rgb(var(--accent), 0.1);
		color: rgb(var(--accent));
		text-shadow: 0 0 calc(var(--glow-intensity) * 5px) currentColor;
		&:hover {
			background: rgb(var(--accent));
			color: #fff;
		}
	}

	// Reply
	.repliedMessage-3Z6XBG::before {
		left: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 + 5px);
	}

	// Embeds, invites, ect...
	.embedFull-1HGV2S,
	.wrapper-1HIH0j {
		background: rgb(255 255 255 / 0.03);
	}
	.wrapperAudio-1Bzv_Z {
		border: none;
		background: rgb(255 255 255 / 0.03);
	}
	.textContainer-36wgKK {
		background: rgb(255 255 255 / 0.03);
		border: none;
	}
	.footer-GXWBBp {
		background: rgb(255 255 255 / 0.05);
		border: none;
	}
}
