#app-mount {
	.reaction__23977,
	.reactionBtn__23977 {
		background: rgb(255 255 255 / 0.05);
		border-radius: 6px;
		border: none;
		&.reactionMe__23977 {
			background: rgb(var(--accent), 0.15);
			.reactionCount-1zkLcN {
				color: rgb(var(--accent));
			}
		}
	}
}
