#app-mount {
	.reaction-2A2y9y {
		background: rgb(255 255 255 / .05);
		border-radius: 6px;
		border: none;
		&.reactionMe-3I9gFK {
			background: rgb(var(--accent), .15);
			.reactionCount-1zkLcN {
				color: rgb(var(--accent));
			}
		}
	}
}