#app-mount {
	.reaction_b90ab0 {
		background: rgb(255 255 255 / 0.05);
		border-radius: 6px;
		border: none;
		&.reactionMe_bf6909 {
			background: rgb(var(--accent), 0.15);
			.reactionCount-1zkLcN {
				color: rgb(var(--accent));
			}
		}
	}
}
