#app-mount {
	.searchResultsWrap__2e184 {
		background: var(--bg-primary);
		.scroller__5f036 {
			margin-top: -56px;
			padding-top: 64px;
		}
	}
	.searchHeader__4d70e {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(5px);
	}
	.channelName-3w2Y3c {
		background: transparent;
	}
	.searchResult__00093 {
		background: transparent;
		margin-left: -16px;
	}
	.pageButton-1GMGeJ {
		&.activeButton-LRWFC_ {
			background: rgb(var(--accent), 0.1);
			color: rgb(var(--accent));
			text-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
		}
	}
}
