#app-mount {
	.f75fb00fb7356cbe-form {
		padding: 0 var(--space-md);
	}
	.f75fb00fb7356cbe-channelTextArea,
	._5126c0cd07f243a0-channelTextArea {
		background: var(--textbox-background);
		border: 2px solid var(--textbox-border);
		border-radius: 6px;
		transition: var(--transition);
		transition-property: border-color, box-shadow;

		&:hover {
			border-color: var(--textbox-hover-border);
		}
		&:focus-within {
			border-color: hsl(from var(--accent) h s l);
			box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px)
				hsl(from var(--accent) h s l / 0.25);
		}
	}
	._740174f3d6a2c8fe-scrollableContainer {
		background: transparent;
	}
}
