@use '../assets';

#app-mount {
	.form_d8a4a1 {
		&::before {
			content: none;
		}
		.button__581d0 {
			height: 100%;
			// Gif Button
			#icon {
				svg {
					mask: url(assets.$icon_photograph) center/cover;
					background: var(--interactive-muted);
					transition: var(--transition);
					transition-property: background;
					path {
						display: none;
					}
				}
			}
			&:hover #icon svg {
				background: var(--interactive-normal);
			}
			&:not(.attachButton__56f98) {
				svg {
					transition: var(--transition);
					transition-property: filter;
				}
				&.active_a5045e {
					filter: drop-shadow(0 0 calc(var(--chat-glow-intensity) * 5px) rgb(var(--accent)));
					svg {
						background: rgb(var(--accent)) !important;
					}
				}
			}
		}
		.emojiButton_b63c38 {
			padding: 0 4px;
			max-height: 54px;
			.sprite__294b3 {
				width: 24px;
				height: 24px;
				mask: url(assets.$icon_emoji-happy) center/cover;
				background: var(--interactive-muted);
				filter: none !important;
				transform: none !important;
				transition: var(--transition);
				transition-property: background;
			}
			&:hover .sprite__294b3 {
				background: var(--interactive-normal);
			}
		}
		.stickerButton_c02bc0 {
			padding: 0;
			svg {
				width: 24px !important;
				height: 24px !important;
				mask: url(assets.$icon_sparkles) center/cover;
				background: var(--interactive-muted);
				transition: var(--transition);
				transition-property: background;
				path {
					display: none;
				}
			}
			&:hover svg {
				background: var(--interactive-normal);
			}
		}
	}
	.channelTextArea_c2094b {
		background: var(--input-background);
		border: 2px solid transparent;
		border-radius: 6px;
		transition: var(--transition);
		transition-property: border-color, box-shadow;

		.divider__855e3 {
			border-top: 2px solid rgb(255 255 255 / 0.05);
			margin: 0 0 0 12px;
		}

		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--input-glow-intensity) * 20px) calc(var(--input-glow-intensity) * 5px)
				rgb(var(--accent), 0.25);
		}
	}
	.slateTextArea_b19976,
	.placeholder_dec8c7 {
		padding: 16px 0;
	}
	.scrollableContainer_ff917f {
		background: transparent;
	}
	.attachButton__56f98 {
		height: 100%;
		svg {
			mask: url(assets.$icon_paper-clip) center/cover;
			background: var(--interactive-muted);
			transition: var(--transition);
			transition-property: background, filter;
			path {
				display: none;
			}
		}
		&:hover svg {
			background: var(--interactive-normal);
		}
		&[aria-expanded='true'] {
			filter: drop-shadow(0 0 calc(var(--input-glow-intensity) * 5px) rgb(var(--accent)));
			svg {
				background: rgb(var(--accent)) !important;
			}
		}
	}

	.buttons__7ecff {
		min-height: 54px;
		& > button[aria-label] {
			svg {
				mask: url(assets.$icon_gift) center/cover;
				background: var(--interactive-muted);
				transition: var(--transition);
				transition-property: background;
				path {
					display: none;
				}
			}
			&:hover svg {
				background: var(--interactive-normal);
			}
		}
	}

	.upload-3GTSF9 {
		background: rgb(255 255 255 / 0.02);
		border-radius: 6px;
	}

	// Replying
	.attachedBars_c1606a {
		background: transparent;
		border-radius: 6px 6px 0 0;
	}
	.replyBar_ed6afc,
	.threadSuggestionBar__717a3 {
		background: rgb(255 255 255 / 0.02);
		border-bottom: 2px solid var(--border);
	}

	// Follow to get...
	.wrapper__57349 {
		background: var(--input-background);
		border-radius: 6px;
		padding: 24px 0;
		.buttonContainer__1b685 {
			margin-right: 24px;
		}
	}
}

// chat font-size fixes
$sizes: (
	'12': 48,
	'14': 51,
	'15': 52,
	'16': 54,
	'18': 56,
	'20': 59,
	'24': 65
);
@each $selector, $value in $sizes {
	.font-size-#{$selector} {
		.slateContainer__1d1fd,
		.buttons-3JBrkn {
			min-height: $value + px !important;
		}
	}
}
