#app-mount {
	.resizeHandle__01ae2 {
		background: var(--fg-primary);
	}
	.container__01ae2 {
		border-radius: 0;
	}
	.chatContent_f75fb0 {
		border-radius: 0;
		margin: 0;
		background: var(--bg-primary);
		border-left: 1px solid var(--border);
	}
	.chat_a44415::before {
		content: none;
	}
}
