#app-mount {
	.resizeHandle_d1c246 {
		background: var(--fg-primary);
	}
	.container_d1c246 {
		border-radius: 0;
	}
	.chatContent_a7d72e {
		border-radius: 0;
		margin: 0;
		background: var(--bg-primary);
		border-left: 1px solid var(--border);
	}
	.chat_d6c7e0::before {
		content: none;
	}
}
