#app-mount {
	.resizeHandle-PBRzPC {
		background: var(--fg-primary);
	}
	.container-3XgAHv {
		border-radius: 0;
	}
	.chatContent-2O4SXb {
		border-radius: 0;
		margin: 0;
		background: var(--bg-primary);
		border-left: 1px solid var(--border);
	}
	.chat-25x62K::before {
		content: none;
	}
}
