#app-mount {
	.userPanelOuter-xc-WYi {
		position: relative;
		background: var(--bg-primary);
		&.userProfileOuterThemed-3EfHmv::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
			opacity: 0.75;
			z-index: -1;
		}
	}
}
