#app-mount {
	.contentRegion-3nDuYy {
		background: transparent;
	}
	.contentRegionScroller-26nc1e {
		background: transparent;
	}
	.contentColumnDefault-1VQkGM {
		max-width: unset;
		width: 100%;
		padding: 32px;
		z-index: 1;
	}
}