#app-mount {
	.contentRegion-3HkfJJ {
		background: transparent;
		& > .customColumn-2n-oKU {
			padding-right: 0;
		}
	}
	.contentRegionScroller-2_GT_N {
		background: transparent;
		width: calc(90vw - 302px);
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
		height: 90vh;
	}
	.contentColumnDefault-3eyv5o {
		max-width: unset;
		width: 100%;
		padding: 32px;
		z-index: 1;
	}
	.content-2a4AW9 {
		min-width: 100%;
		margin: 0;
		& > div[style="height: 60px;"] {
			display: none;
		}
	}

	// Custom scroller bullshit. Why Discord. WHY?
	.customColumn-2n-oKU, 
	.contentColumn-1C7as6 {
		width: calc(90vh - 300px);
		max-width: var(--settings-content-width);
		padding-right: 32px;
	}
	.contentColumn-1C7as6 > .customColumn-2n-oKU {
		padding-right: 0;
	}
	.customScroller-m1-jZn>div {
		max-width: var(--settings-content-width);
		padding: 32px;
	}
	.customContainer-dK1ozq {
		position: static;
	}
	.customScroller-m1-jZn {
		width: 100%;
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
	}
}