#app-mount {
	.contentRegion-3nDuYy {
		background: transparent;
		& > .customColumn-Rb6toI {
			padding-right: 0;
		}
	}
	.contentRegionScroller-26nc1e {
		background: transparent;
		width: calc(90vw - 302px);
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
		height: 90vh;
	}
	.contentColumnDefault-1VQkGM {
		max-width: unset;
		width: 100%;
		padding: 32px;
		z-index: 1;
	}
	.content-3YMskv {
		min-width: 100%;
		margin: 0;
		& > div[style="height: 60px;"] {
			display: none;
		}
	}

	// Custom scroller bullshit. Why Discord. WHY?
	.customColumn-Rb6toI, 
	.contentColumn-2hrIYH {
		width: calc(90vh - 300px);
		max-width: var(--settings-content-width);
		padding-right: 32px;
	}
	.contentColumn-2hrIYH > .customColumn-Rb6toI {
		padding-right: 0;
	}
	.customScroller-26gWhv>div {
		max-width: var(--settings-content-width);
		padding: 32px;
	}
	.customContainer-1RHXqt {
		position: static;
	}
	.customScroller-26gWhv {
		width: 100%;
		max-height: var(--settings-max-height);
		max-width: var(--settings-content-width);
	}
}