#app-mount .layer-3QrUeG[aria-label*="SETTINGS"] {
	background: var(--bg-primary);
	backdrop-filter: blur(var(--backdrop-blur));
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	.standardSidebarView-3F1I7i {
		max-width: var(--settings-max-width);
		max-height: var(--settings-max-height);
		width: 90vw;
		height: 90vh;
		position: unset;
		background: var(--bg-primary);
		border: 1px solid var(--border);
		border-radius: 6px;
	}
	.contentRegion-3nDuYy {
		flex: 1 1 auto;
		position: unset;
		height: 100%;
		// width: calc(90vw - 300px);
	}

	.toolsContainer-1edPuj {
		padding-top: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -1;
		opacity: 0;
	}
	.tools-3-3s-N,
	.container-1sFeqf {
		width: 100%;
		height: 100%;
	}
	.keybind-KpFkfr {
		display: none;
	}
	.closeButton-1tv5uR {
		background: transparent;
		border: none;
		border-radius: 0;
		flex: 0;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
