#app-mount .sidebarRegion-1VBisG {
	flex: 0 0 auto;
	.sidebarRegionScroller-FXiQOh {
		background: transparent;
		flex: 1;
		width: 100%;
	}
	.sidebar-nqHbhN {
		padding: 0;
		overflow: hidden;
		border-radius: 6px 0 0 6px;
		width: 300px;
		border-right: 1px solid var(--border);
	}
	.header-2Kx1US {
		padding: 10px 18px;
		color: var(--text-muted);
	}
	.separator-2wx7h6 {
		height: 0;
		background: transparent;
		margin-bottom: 18px;
	}
	.item-3XjbnG {
		padding: 10px 18px;
		margin: 0;
		border-radius: 0;
		&.selected-g-kMVV {
			background: rgb(var(--accent), .1) !important;
			position: relative;
			color: rgb(var(--accent)) !important;
			text-shadow: 0 0 calc(var(--glow-intensity) * 12px) rgb(var(--accent)), 0 0 calc(var(--glow-intensity) * 5px) rgb(var(--accent), .2);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), .2);
			}
		}
	}
}