#app-mount .layer-3QrUeG[aria-label="USER_SETTINGS"] {
	// My account
	.accountProfileCard-1XCH88 {
		border: 1px solid var(--border);
		background: rgb(255 255 255 / .02);
		border-radius: 6px;
	}
	.background-1QDuV2 {
		margin: 16px 0 0 0;
		padding: 16px;
		border-radius: 0;
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.fieldList-21DyL8 {
		background: transparent;
	}
}