#app-mount {
	.popout_af3b89{
		background: var(--bg-primary);
		border-radius: 6px;
		.popoutContentWrapper_af3b89, .interactionsContainer_af3b89 {
			background: transparent;
		} 
		.interactionsContainer_af3b89 {
			.replyInput__5ba62 {
				background: var(--fg-secondary);
				.slateTextArea_ec4baf  {
					padding-left: 16px;
				}
			}
		}
	}
}
