#app-mount {
	//Apps and commands popout
	.contentWrapper__9c62c {
		backdrop-filter: blur(var(--blur));
		background: var(--bg-primary);
	}
	.container_cb32c7 {
		background-color: var(--fg-secondary);
	}
}
