#app-mount {
	.autocomplete__743a5 {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border: 1px solid var(--border);
		box-shadow: none;
		.scroller__3fc84 {
			padding-bottom: 0;
		}

		// Left side
		.list_c7a995 {
			.listItems__49027 {
				margin: -16px -12px -8px;
			}
			.wrapper_af65f8 {
				width: 100% !important;
				box-sizing: border-box;
				border-radius: 0;
				height: auto !important;
				padding: 8px !important;
				display: flex;
				justify-content: center;
				position: relative;
				transition: none;
				&:hover {
					background: var(--background-modifier-hover);
				}
				&.selected__46356 {
					background: rgb(var(--accent), 0.1);
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 2px;
						background: rgb(var(--accent));
						box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
					}
				}
			}
			.section__4da0b {
				margin-bottom: 0;
			}
		}

		// Right side
		.list__0870a .listItems__49027 {
			margin: -8px;
		}
		.wrapper__35c78 {
			border-right: 1px solid var(--border);
			background: transparent;
		}
		.wrapper__85934 {
			background: transparent;
		}
	}
	.categoryHeader__70c8e {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
	}
	.categorySection_ad5877 {
		margin: 0;
	}
	.autocompleteRow__2a1b9 {
		padding: 0;
		.base__87e58 {
			border-radius: 0;
			padding: 8px 16px;
			&.selected-3H3-RC {
				background: var(--background-modifier-hover);
			}
		}
	}
}

// Animations
.full-motion {
	.userPopout-2j1gM4 {
		animation: fadeIn 0.2s ease forwards;
	}
}
