#app-mount {
	.autocomplete_bcc24e {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border: 1px solid var(--border);
		box-shadow: none;
		.scroller_bea0d0 {
			padding-bottom: 0;
		}

		// Left side
		.list_efd8e6 {
			.listItems_d53d65 {
				margin: -16px -12px -8px;
			}
			.wrapper_efd8e6 {
				width: 100% !important;
				box-sizing: border-box;
				border-radius: 0;
				height: auto !important;
				padding: 8px !important;
				display: flex;
				justify-content: center;
				position: relative;
				transition: none;
				&:hover {
					background: var(--background-modifier-hover);
				}
				&.selected_c9d951 {
					background: rgb(var(--accent), 0.1);
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 2px;
						background: rgb(var(--accent));
						box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
					}
				}
			}
			.section_efd8e6 {
				margin-bottom: 0;
			}
		}

		// Right side
		.list_fe2299 .listItems_d53d65 {
			margin: -8px;
		}
		.wrapper_efd8e6 {
			border-right: 1px solid var(--border);
			background: transparent;
		}
		.wrapper_dc0b29 {
			background: transparent;
		}
	}
	.categoryHeader_fe2299 {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
	}
	.categorySection_fe2299 {
		margin: 0;
	}
	.autocompleteRow_bcc24e {
		padding: 0;
		.base_bcc24e {
			border-radius: 0;
			padding: 8px 16px;
			&.selected-3H3-RC {
				background: var(--background-modifier-hover);
			}
		}
	}
}

// Animations
.full-motion {
	.userPopout-2j1gM4 {
		animation: fadeIn 0.2s ease forwards;
	}
}
