#app-mount {
	.autocomplete_df266d {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border: 1px solid var(--border);
		box-shadow: none;
		.scroller_cc9b9a {
			padding-bottom: 0;
		}

		// Left side
		.list_c7a995 {
			.listItems__699d1 {
				margin: -16px -12px -8px;
			}
			.wrapper__19c60 {
				width: 100% !important;
				box-sizing: border-box;
				border-radius: 0;
				height: auto !important;
				padding: 8px !important;
				display: flex;
				justify-content: center;
				position: relative;
				transition: none;
				&:hover {
					background: var(--background-modifier-hover);
				}
				&.selected__608f1 {
					background: rgb(var(--accent), 0.1);
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 2px;
						background: rgb(var(--accent));
						box-shadow: 0 0 calc(var(--glow-intensity) * 10px) rgb(var(--accent));
					}
				}
			}
			.section_e983c1 {
				margin-bottom: 0;
			}
		}

		// Right side
		.list__0870a .listItems__699d1 {
			margin: -8px;
		}
		.wrapper__4e8f1 {
			border-right: 1px solid var(--border);
			background: transparent;
		}
		.wrapper__4f229 {
			background: transparent;
		}
	}
	.categoryHeader_f97a5f {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
	}
	.categorySection__1f2b4 {
		margin: 0;
	}
	.autocompleteRow_a20cfa {
		padding: 0;
		.base__76a71 {
			border-radius: 0;
			padding: 8px 16px;
			&.selected-3H3-RC {
				background: var(--background-modifier-hover);
			}
		}
	}
}

// Animations
.full-motion {
	.userPopout-2j1gM4 {
		animation: fadeIn 0.2s ease forwards;
	}
}
