#app-mount {
	.popoutContainer_a6fde8 {
		background-color: var(--bg-secondary);
		.messageContainer_a6fde8 {
			background: var(--fg-secondary);
		}
        .container_cdf946 {
            background: var(--bg-tertiary);
        }
	}
}
