#app-mount {
	.popoutContainer__4ad69 {
		background-color: var(--bg-secondary);
		.messageContainer__4ad69 {
			background: var(--fg-secondary);
		}
        .container_ea9851 {
            background: var(--bg-tertiary);
        }
	}
}
