@use '../assets';

#app-mount {
	.contentWrapper__321ed {
		background: var(--bg-primary);
		border-radius: 6px;
		border: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
		box-shadow: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		.header__55964,
		.header_f71767,
		.header-JHwfVI,
		.header_f7f1f3 {
			padding: 16px;
			margin-left: 128px;
			border-left: 1px solid var(--border);
			box-shadow: none;
		}
	}
	.contentWrapper__321ed,
	.emojiPicker_b65ce9 {
		[class^='searchBar'],
		.container_e4c233 {
			background: var(--input-background);
			border: 2px solid transparent;
			border-radius: 6px;
			transition: var(--transition);
			transition-property: border-color, box-shadow;

			[class^='inner_'] {
				padding: 0;
			}
			[class^='input_'] {
				font-size: 14px;
				height: 26px;
			}
			[class^='iconLayout_'] {
				height: 26px;
			}

			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 15px) calc(var(--input-glow-intensity) * 2px)
					rgb(var(--accent), 0.25);
			}
		}
	}
	.wrapper__66cd5:not(.emojiPickerInExpressionPicker-2nOwH8) {
		height: 100%;
		.emojiPicker_b65ce9 {
			background: var(--bg-primary);
			border: 1px solid var(--border);
			border-radius: 6px;
			box-shadow: var(--shadow-lg);
		}
	}

	.nav__2bf35 {
		position: absolute;
		padding: 0;
		height: 64px;
		z-index: 1;
	}
	.emojiPickerInExpressionPicker-2nOwH8 {
		height: 100%;
	}
	.navList__9f792 {
		height: 100%;
		width: 128px;
	}
	.navItem_df0bc1 {
		height: 100%;
		width: 33.33%;
		margin: 0;
		position: relative;
		border-radius: 0;
		transition: none;
		&:hover {
			background: var(--background-modifier-hover);
			.contents_fb6220::before {
				background: var(--interactive-hover);
			}
		}
		&.navButtonActive__735cb {
			background: rgb(var(--accent), 0.1);
			.contents_fb6220 {
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				&::before {
					background: rgb(var(--accent));
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
		.contents_fb6220 {
			font-size: 0;
			display: flex;
			align-tracks: center;
			&::before {
				content: '';
				display: flex;
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
			}
		}
		&#gif-picker-tab .contents_fb6220::before {
			mask: url(assets.$icon_photograph);
		}
		&#sticker-picker-tab .contents_fb6220::before {
			mask: url(assets.$icon_sparkles);
		}
		&#emoji-picker-tab .contents_fb6220::before {
			mask: url(assets.$icon_emoji-happy);
		}
	}

	.wrapper__4f229 {
		top: 64px;
		border-top: 1px solid var(--border);
		border-right: 1px solid var(--border);
		background: transparent;
		.listItems__699d1 {
			margin: -8px;
		}
		.scroller_e89578::-webkit-scrollbar {
			display: none;
		}
	}
	.categoryItemDefaultCategory__67fe7 {
		width: 100%;
		height: 48px;
		padding: 0;
		margin: 0;
		border-radius: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&.categoryItemDefaultCategorySelected__8245a {
			background: rgb(var(--accent), 0.1);
			.categoryIcon__7d3fc {
				color: rgb(var(--accent));
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent), 0.4));
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
	}
	.categoryItemGuildCategory__2a2ce,
	.stickerCategory__4891e {
		width: 100%;
		height: 48px;
		margin: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		foreignObject {
			mask: none;
		}
		img,
		.guildIcon__4d796 {
			border-radius: 6px;
			background: rgb(255 255 255 / 0.05);
		}
		&:hover {
			background: var(--background-modifier-hover);
			.guildIcon__4d796 {
				background: rgb(255 255 255 / 0.1);
			}
		}
	}
	.unicodeShortcut__1dd6b {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border-top: 1px solid var(--border);
	}

	.content-1CboaJ {
		border-top: 1px solid var(--border);
	}
	.bodyWrapper_cc3635,
	.wrapper_e3070a {
		border-top: 1px solid var(--border);
		.scroller_e89578 {
			left: -7px;
			width: calc(100% + 8px);
		}
	}
	.wrapper__7a35f {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
	}
	.emojiItem_b15dee.emojiItemSelected__1a09a {
		background: rgb(255 255 255 / 0.1);
	}

	.inspector__993e1 {
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.emojiListRow__3f54c {
		padding: 0 8px;
	}

	.wrapper__89eb8 {
		flex: 1 1 auto;
	}

	#gif-picker-tab-panel .content__30de8 {
		border-top: 1px solid var(--border);
	}
}
