@use '../assets';

#app-mount {
	.contentWrapper_af5dbb {
		background: var(--bg-primary);
		border-radius: 6px;
		border: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
		box-shadow: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		.header_c6ee36,
		.header_d8cdac,
		.header-JHwfVI,
		.header_b56bbc {
			padding: 16px;
			margin-left: 128px;
			border-left: 1px solid var(--border);
			box-shadow: none;
		}
	}
	.contentWrapper_af5dbb,
	.emojiPicker_c6ee36 {
		[class^='searchBar'],
		.container_effbe2 {
			background: var(--input-background);
			border: 2px solid transparent;
			border-radius: 6px;
			transition: var(--transition);
			transition-property: border-color, box-shadow;

			[class^='inner_'] {
				padding: 0;
			}
			[class^='input_'] {
				font-size: 14px;
				height: 26px;
			}
			[class^='iconLayout_'] {
				height: 26px;
			}

			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus-within {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--input-glow-intensity) * 15px) calc(var(--input-glow-intensity) * 2px)
					rgb(var(--accent), 0.25);
			}
		}
	}
	.wrapper_c6ee36:not(.emojiPickerInExpressionPicker-2nOwH8) {
		height: 100%;
		.emojiPicker_c6ee36 {
			background: var(--bg-primary);
			border: 1px solid var(--border);
			border-radius: 6px;
			box-shadow: var(--shadow-lg);
		}
	}

	.nav_af5dbb {
		position: absolute;
		padding: 0;
		height: 64px;
		z-index: 1;
	}
	.emojiPickerInExpressionPicker-2nOwH8 {
		height: 100%;
	}
	.navList_af5dbb {
		height: 100%;
		width: 128px;
	}
	.navItem_af5dbb {
		height: 100%;
		width: 33.33%;
		margin: 0;
		position: relative;
		border-radius: 0;
		transition: none;
		&:hover {
			background: var(--background-modifier-hover);
			.contents_dd4f85::before {
				background: var(--interactive-hover);
			}
		}
		&.navButtonActive_af5dbb {
			background: rgb(var(--accent), 0.1);
			.contents_dd4f85 {
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent)));
				&::before {
					background: rgb(var(--accent));
				}
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
		.contents_dd4f85 {
			font-size: 0;
			display: flex;
			align-tracks: center;
			&::before {
				content: '';
				display: flex;
				width: 24px;
				height: 24px;
				background: var(--interactive-normal);
			}
		}
		&#gif-picker-tab .contents_dd4f85::before {
			mask: url(assets.$icon_photograph);
		}
		&#sticker-picker-tab .contents_dd4f85::before {
			mask: url(assets.$icon_sparkles);
		}
		&#emoji-picker-tab .contents_dd4f85::before {
			mask: url(assets.$icon_emoji-happy);
		}
	}

	.wrapper_dc0b29 {
		top: 64px;
		border-top: 1px solid var(--border);
		border-right: 1px solid var(--border);
		background: transparent;
		.listItems_d53d65 {
			margin: -8px;
		}
		.scroller_d53d65::-webkit-scrollbar {
			display: none;
		}
	}
	.categoryItemDefaultCategory_dfa278 {
		width: 100%;
		height: 48px;
		padding: 0;
		margin: 0;
		border-radius: 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&.categoryItemDefaultCategorySelected_dfa278 {
			background: rgb(var(--accent), 0.1);
			.categoryIcon_dfa278 {
				color: rgb(var(--accent));
				filter: drop-shadow(0 0 calc(var(--channel-glow-intensity) * 5px) rgb(var(--accent), 0.4));
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
	}
	.categoryItemGuildCategory_dfa278,
	.stickerCategory_a7a485 {
		width: 100%;
		height: 48px;
		margin: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		foreignObject {
			mask: none;
		}
		img,
		.guildIcon_bfabc4 {
			border-radius: 6px;
			background: rgb(255 255 255 / 0.05);
		}
		&:hover {
			background: var(--background-modifier-hover);
			.guildIcon_bfabc4 {
				background: rgb(255 255 255 / 0.1);
			}
		}
	}
	.unicodeShortcut_dfa278 {
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border-top: 1px solid var(--border);
	}

	.content-1CboaJ {
		border-top: 1px solid var(--border);
	}
	.bodyWrapper_c6ee36,
	.wrapper_de4721 {
		border-top: 1px solid var(--border);
		.scroller_d53d65 {
			left: -7px;
			width: calc(100% + 8px);
		}
	}
	.wrapper_e06857 {
		background: var(--bg-primary);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
	}
	.emojiItem_fbfedd.emojiItemSelected_fbfedd {
		background: rgb(255 255 255 / 0.1);
	}

	.inspector_c3120f {
		border-top: 1px solid var(--border);
		background: transparent;
	}
	.emojiListRow_fbfedd {
		padding: 0 8px;
	}

	.wrapper_d8cdac {
		flex: 1 1 auto;
	}

	#gif-picker-tab-panel .content_b56bbc {
		border-top: 1px solid var(--border);
	}

	//Fix tenor gif picker not being theme color
	.container_b56bbc, .header_b56bbc {
		background: var(--bg-primary);
		background-color: transparent;
	}
	
}
