#app-mount {
	.popoutContent-3RWpUF {
		background: var(--bg-primary);
		border-radius: 6px;
		backdrop-filter: blur(var(--blur));
		border: 1px solid var(--border);
		box-shadow: none;
	}
	.guildSection-2Zyzy8 {
		background: transparent;
		border-top: 1px solid var(--border);
	}
}