#app-mount {
	.messagesPopoutWrap__45690,
	.recentMentionsPopout__95796 {
		background: var(--bg-primary);
		box-shadow: none;
		border: 1px solid var(--border);
		backdrop-filter: blur(var(--blur));
	}
	.recentMentionsPopout__95796 .scroller__2692d {
		padding: 0 !important;
		& > div {
			border-bottom: 1px solid var(--border);
			//Credit to @shadowdevilsavenged
			padding: unset;
		}
	}
	.header_ab6641 {
		background: transparent;
		border-bottom: 1px solid var(--border);
		padding: 0;
		.headerTabs_ab6641 {
			margin: 0;
			.tabBar_ab6641 {
				margin: 0;
			}
		}
		.button__292b6 {
			height: 55px;
			margin: 0;
			border-radius: 0;
			background: transparent;
			transition: none;
			&:hover {
				background: var(--background-modifier-hover);
			}
		}
		min-height: fit-content;
		.expanded_f0cd33 {
		}
		.headerTitle_ab6641 {
			padding: 7px 10px 12px 10px;
		}
		.expandedTabSection_f0cd33 {
			padding-right: 10px;
		}
	}
	.container__0f711 {
		background: transparent;
		.row__6fddf {
			padding-right: 10px;
		}
	}
	.tab_ab6641 {
		height: 45px;
		padding: 0 12px;
		margin: 0;
		border-radius: 0;
		position: relative;
		overflow: visible;
		&[aria-selected='true'] {
			color: rgb(var(--accent));
			background: rgb(var(--accent), 0.1);
			text-shadow: 0 0 calc(var(--channel-glow-intensity) * 10px) rgb(var(--accent), 0.7);
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 15px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.2);
			}
		}
	}

	.container__95796 {
		border-bottom: 1px solid var(--border);
		margin-bottom: 0;
		padding: 16px 10px 16px 0px !important;
	}
	.channelHeader__35a7e {
		background: transparent;
		position: static;
		padding: 0 0 16px 17px;
		.collapseButton__427f0 {
			left: -2px;
		}
		.guildIcon__35a7e {
			margin-left: 4px;
		}
		.markReadButton__427f0 {
			margin-right: 10px;
		}
	}
	.channel__427f0 {
		.channelHeader__35a7e {
			padding-top: 18px;
			padding-bottom: 0px;
		}
	}
	.messages__1ccd1 {
		background: transparent;
		padding: 0 8px 0 0;
	}
	.messageContainer__95796 {
		padding: 0;
		border-radius: 0;
		background: transparent;
	}
	.messageContainer__1ccd1.message__1ccd1 {
		padding-right: 8px;
	}
}
