#app-mount .menu__088f7:not(#account.menu__088f7) {
	background: var(--bg-primary);
	border: 1px solid var(--border);
	box-shadow: none;
	border-radius: 6px;
	&::before {
		content: '';
		border-radius: 6px;
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		backdrop-filter: blur(5px);
		z-index: -1;
	}
	.scroller__8f066 {
		padding: 0;
	}

	[role='group'] {
		&:first-child > .item__183e8:first-child {
			border-radius: 6px 6px 0 0;
		}
		&:nth-last-child(2) > .item__183e8:last-child {
			border-radius: 0 0 6px 6px;
		}
	}

	.separator__174fc {
		margin: 0;
		border-color: var(--border);
	}

	.item__183e8 {
		margin: 0;
		border-radius: 0;
		padding: 10px 14px;
		&.focused_dcafb9 {
			background: var(--background-modifier-hover);
		}
		&.colorDanger__08c25.focused_dcafb9 {
			background: hsl(var(--discord-red));
		}
	}

	.submenuPaddingContainer__5a97c {
		margin: 0 -4px;
	}

	.hideInteraction-2jPGL_ .hideInteraction-2jPGL_ {
		padding: 0 0 8px;
	}
}
