#app-mount .menu-1QACrS:not(#account.menu-KSaHL1) {
	background: var(--bg-primary);
	border: 1px solid var(--border);
	box-shadow: none;
	border-radius: 6px;
	&::before {
		content: "";
		border-radius: 6px;
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		backdrop-filter: blur(5px);
		z-index: -1;
	}
	.scroller-1bVxF5 {
		padding: 0;
	}

	[role="group"] {
		&:first-child > .item-1OdjEX:first-child {
			border-radius: 6px 6px 0 0;
		}
		&:nth-last-child(2) > .item-1OdjEX:last-child {
			border-radius: 0 0 6px 6px;
		}
	}

	.separator-1So4YB {
		margin: 0;
		border-color: var(--border);
	}

	.item-1OdjEX {
		margin: 0;
		border-radius: 0;
		padding: 10px 14px;
		&.focused-3qFvc8 {
			background: var(--background-modifier-hover);
		}
		&.colorDanger-3n-KnP.focused-3qFvc8 {
			background: hsl(var(--discord-red));
		}
	}

	.submenuPaddingContainer-_k62dJ {
		margin: 0 -4px;
	}

	.hideInteraction-2jPGL_ {
		.hideInteraction-2jPGL_ {
			padding: 0 0 8px;
		}
	}
}