#app-mount {
	.messagesPopoutWrap_ac90a2 {
		width: 550px;
	}
	.header_ac90a2 {
		background: transparent;
		border-bottom: 1px solid var(--border);
		box-shadow: none;
	}
	.messagesPopout-24nkyi:not(.scroller_ddb5b4) {
		padding: 12px !important;
	}
	.messageGroupWrapper_ac90a2 {
		border-radius: 0;
		border: none;
		background: transparent;
		margin-bottom: 32px;
	}
	.messageGroupCozy_ac90a2 {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-left: -16px;
	}
}
