#app-mount {
	.messagesPopoutWrap-3zryHW {
		width: 550px;
	}
	.header-1w9Q93 {
		background: transparent;
		border-bottom: 1px solid var(--border);
		box-shadow: none;
	}
	.messagesPopout-24nkyi:not(.scroller-MIi2ab) {
		padding: 12px !important;
	}
	.messageGroupWrapper-1jf_7C {
		border-radius: 0;
		border: none;
		background: transparent;
		margin-bottom: 32px;
	}
	.messageGroupCozy-3v_RqN {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-left: -16px;
	}
}
