#app-mount {
	.messagesPopoutWrap__45690 {
		width: 550px;
	}
	.header__45690 {
		background: transparent;
		border-bottom: 1px solid var(--border);
		box-shadow: none;
	}
	.messagesPopout-24nkyi:not(.scroller__95796) {
		padding: 12px !important;
	}
	.messageGroupWrapper__45690 {
		border-radius: 0;
		border: none;
		background: transparent;
		margin-bottom: 32px;
	}
	.messageGroupCozy__45690 {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-left: -16px;
	}
}
