#app-mount {
	.messagesPopoutWrap__10dd1 {
		width: 550px;
	}
	.header__21b33 {
		background: transparent;
		border-bottom: 1px solid var(--border);
		box-shadow: none;
	}
	.messagesPopout-24nkyi:not(.scroller__64264) {
		padding: 12px !important;
	}
	.messageGroupWrapper__1fce2 {
		border-radius: 0;
		border: none;
		background: transparent;
		margin-bottom: 32px;
	}
	.messageGroupCozy__9d016 {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-left: -16px;
	}
}
