@use '../assets';

#app-mount {
	// Search
	.search-2Mwzzq {
		order: -1;

		.searchBar-jGtisZ {
			width: 250px;
			transition: none;
		}

		&:not(.focused-1xh-wG) * {
			cursor: pointer;
		}
		&.open-1F8u2c .searchBar-jGtisZ {
			border-color: rgb(var(--accent));
			box-shadow: 0 0 calc(var(--glow-intensity) * 20px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.25);
		}
		&.focused-1xh-wG {
			position: fixed;
			left: 50%;
			top: 20%;
			transform: translateX(-50%);
			z-index: 1000;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12px;
			.searchBar-jGtisZ {
				background: var(--input-background);
				height: 64px;
				width: 500px;
				padding: 0 0 0 12px;
				box-sizing: border-box;
				border-radius: 12px;
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 20px) calc(var(--glow-intensity) * 5px) rgb(var(--accent), 0.25);
				animation: fadeIn 0.2s ease forwards;
			}
			.public-DraftEditor-content {
				cursor: text;
				font-size: 24px;
			}
			.public-DraftEditorPlaceholder-root {
				font-size: 24px;
			}
			.icon-tZMHgY {
				width: 56px;
			}
			.iconContainer-1RqWJj,
			.icon-18rqoe {
				width: 24px;
				height: 24px;
			}
			&::before {
				content: '';
				position: fixed;
				top: -100vmax;
				right: -100vmax;
				bottom: -100vmax;
				left: -100vmax;
				background: var(--backdrop-background);
				z-index: -1;
				backdrop-filter: blur(var(--backdrop-blur));
				animation: fadeIn 0.2s ease forwards;
			}
		}
	}
	.search-39IXmY {
		margin: 0 24px 0 0;
		.icon-tZMHgY {
			height: 100%;
		}
	}
	.searchBar-jGtisZ {
		background: rgb(255 255 255 / 0.05);
		border: 2px solid transparent;
		padding: 0;
		height: 32px;
		width: 250px;
		transition: var(--transition);
		transition-property: border-color;
		&:hover {
			border-color: rgb(255 255 255 / 0.05);
		}
	}
	.DraftEditor-root {
		padding: 0;
		max-width: 428px;
	}
	.DraftEditor-editorContainer {
		height: 100%;
	}
	.public-DraftEditor-content {
		display: flex;
		align-items: center;
		padding-left: 8px;
		cursor: pointer;
	}
	.public-DraftEditorPlaceholder-root {
		height: 100%;
		display: flex;
		align-items: center;
		padding-left: 8px;
	}

	// Suggestions
	.container-2McqkF {
		position: fixed;
		left: 50%;
		top: calc(20% + 76px);
		transform: translateX(-50%);
		width: 500px !important;
		box-sizing: border-box;
		border-radius: 12px;
		background: var(--bg-primary);
		border: 1px solid var(--border);
		box-shadow: var(--shadow-lg);
		max-height: 60vh;
		overflow: hidden auto;
	}
	.queryContainer-ZunrLZ {
		background: transparent;
	}
	.resultsGroup-cfY57t {
		margin: 0;
		padding: 0;
		&::before {
			content: none;
		}
	}
	.header-1BR0Ro {
		padding: 14px 12px;
	}
	.option-ayUoaq {
		margin: 0;
		border-radius: 0;
		padding: 4px 12px;
		line-height: normal;
		&::before {
			height: 100%;
		}
		&::after {
			background: linear-gradient(90deg, transparent, var(--bg-primary));
		}

		&[aria-selected='true'] {
			background: rgb(255 255 255 / 0.05);
		}
	}
	.plusIcon-1RVszG {
		top: 12px;
	}
}

// Animations
.full-motion {
	.search-1FM8Qc.focused-1xh-wG::before,
	.container-2McqkF {
		animation: fadeIn 0.2s ease forwards;
	}
}

// Responsive stuff
@media only screen and (max-width: 1500px) {
	#app-mount {
		.search-1FM8Qc:not(.focused-1xh-wG) {
			height: 24px;
			.searchBar-jGtisZ {
				background: transparent;
				border: none;
				width: 24px;
				height: 24px;
			}
			.iconContainer-1RqWJj {
				width: 18px;
				height: 18px;
			}
			.icon-18rqoe {
				color: var(--interactive-normal);
				width: 20px;
				height: 20px;
			}
			.search-39IXmY .icon-tZMHgY svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}
@media only screen and (max-width: 1300px) {
	#app-mount .search-2Mwzzq .searchBar-jGtisZ {
		width: 28px;
		background: transparent;
		.iconContainer-1RqWJj {
			width: 22px;
			height: 22px;
		}
		.icon-18rqoe {
			color: var(--interactive-normal);
		}
		&:hover {
			border-color: transparent;
		}
	}
}
