#app-mount {
    .soundButtonInteractiveRefresh_f40049 {
        background: var(--fg-secondary);
    }
    .wrapper_ee8ca7 {
        background: var(--bg-primary);
    }
    .header_d0dc1d {
        background: var(--bg-tertiary);
    }
    .categoryList_ceda83 {
        background: var(--bg-primary);
        .scroller_d53d65 {
            border-right: 1px solid var(--border);
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}