#app-mount {
    .soundButtonInteractiveRefresh__6d4ed {
        background: var(--fg-secondary);
    }
    .wrapper__0c74f {
        background: var(--bg-primary);
    }
    .header__0856d {
        background: var(--bg-tertiary);
    }
    .categoryList_a1e0e0 {
        background: var(--bg-primary);
        .scroller_affa7e {
            border-right: 1px solid var(--border);
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}