#app-mount {
	.accountProfilePopoutWrapper__37e49 {
		left: 0;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			backdrop-filter: blur(var(--blur));
		}
		.userPopoutOuter_c69a7b {
			background: var(--bg-primary);
			backdrop-filter: none;
		}
		.menu_c1e9c4 {
			max-width: unset;
		}
	}
	.statusItem_af7fb7 {
		padding: 0;
		.description_af7fb7 {
			display: none;
		}
	}
}
