#app-mount {
	.accountProfilePopoutWrapper-3GskID {
		left: 0;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			inset: 0;
			backdrop-filter: blur(var(--blur));
		}
		.userPopoutOuter-1OHwPL {
			background: var(--bg-primary);
			backdrop-filter: none;
		}
		.menu-2TXYjN {
			max-width: unset;
		}
	}
	.statusItem-38ArJn {
		padding: 0;
		.description-1Dd2kv {
			display: none;
		}
	}
}
