#app-mount .container_e664f3 {
	background: var(--bg-primary);
	border-radius: 6px;
	backdrop-filter: blur(var(--blur));
	border: 1px solid var(--border);
	animation: fadeIn 0.2s ease forwards;
	box-shadow: none;

	.header_e664f3 {
		background: transparent;
		border-bottom: 1px solid var(--border);
	}
}
