#app-mount .container_f93da8 {
	background: var(--bg-primary);
	border-radius: 6px;
	backdrop-filter: blur(var(--blur));
	border: 1px solid var(--border);
	animation: fadeIn 0.2s ease forwards;
	box-shadow: none;

	.header__6d44a {
		background: transparent;
		border-bottom: 1px solid var(--border);
	}
}
