#app-mount {
	.userPopout-2j1gM4 {
		box-shadow: none;
		border: 1px solid var(--border);
		background: var(--bg-primary);
		backdrop-filter: blur(var(--blur));
		border-radius: 6px;

		.input-2g-os5 {
			border: 2px solid transparent;
			background: rgb(255 255 255 / 0.05);
			transition: var(--transition);
			transition-property: border-color, box-shadow;
			color: var(--text-normal);
			border-radius: 6px;
			&:hover {
				border-color: rgb(255 255 255 / 0.05);
			}
			&:focus {
				border-color: rgb(var(--accent));
				box-shadow: 0 0 calc(var(--glow-intensity) * 10px) calc(var(--glow-intensity) * 2px) rgb(var(--accent), 0.2);
			}
		}

		.role-2TIOKu {
			border: 1px solid var(--border) !important;
			height: auto;
			padding: 8px 10px;
			border-radius: 6px;
			background: var(--bg-primary);
			position: relative;
			overflow: hidden;
			&:hover .roleCircle-3K9O3d {
				opacity: 1;
			}
		}
		.roleRemoveButton-17oXnT {
			position: absolute;
			inset: 0;
			z-index: 0;
		}
		.roleCircle-3K9O3d {
			margin: 0;
			filter: none;
			position: absolute;
			height: 100%;
			width: 100%;
			border-radius: 0;
			opacity: .2;
		}
		.roleName-2ZJJYR {
			position: relative;
			z-index: 2;
			margin: 0;
		}
	}

	.bodyInnerWrapper-2bQs1k {
		background: transparent;
	}

	.note-Go5ZP2 {
		margin: 0;
	}

	.footer-3naVBw {
		background: transparent;
	}
}
