#app-mount ._76f047ded9fef6d4-popout {
	background: var(--fg-primary);
	padding: 0;
	backdrop-filter: blur(var(--foreground-blur));
	box-shadow: var(--shadow-lg);

	._76f047ded9fef6d4-title {
		padding: var(--space-md);
		margin: 0;
	}

	._76f047ded9fef6d4-row {
		margin: 0;
		border-radius: 0;
		padding: var(--space-sm);
	}

	._76f047ded9fef6d4-more {
		margin-top: 0;
		border-color: var(--fg-border);
		padding: var(--space-sm);
	}
}
