:root {
	--softx-version: '1.0.6';

	--hue: 0deg;
	--saturation: 0%;
	--lightness: 10%;

	--transition: .15s ease;

	--chat-glow-intensity: var(--glow-intensity);
	--channel-glow-intensity: var(--glow-intensity);
	--members-glow-intensity: var(--glow-intensity);
	--input-glow-intensity: var(--glow-intensity);
	--talking-bar: rgb(var(--accent));
	--talking-glow: rgb(var(--accent));
	--blur: 10px;

	--TB-height: calc(var(--toolbar-height) - 1px);
	--TB-width: 52px;
	--TB-header-padding: 155px;

	--shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -1px rgb(0 0 0 / 0.06);
	--shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);

	--border: hsl(var(--hue) var(--saturation) calc(var(--lightness) / 2) / .6);
	--bg-primary: hsl(var(--hue) var(--saturation) var(--lightness) / calc(var(--opacity) + .05));
	--bg-secondary: hsl(var(--hue) var(--saturation) var(--lightness) / calc(var(--opacity) + .1));
	--bg-tertiary: hsl(var(--hue) var(--saturation) var(--lightness) / calc(var(--opacity) + .15));

	--chat-bubble-bg: rgba(255, 255, 255, 0.03);
	--chat-bubble-bg-self: rgb(var(--accent), 0.15);
	--chat-bubble-padding: 10px 14px;
	--chat-bubble-display: inline-block;

	--user-area: calc(var(--server-size) + 175px);
	--toolbar-height: 74px;
	--server-spacing: 16px;
	--guild-scrollbar: none;

	--unread-colour: 255 255 255;

	--backdrop-background: var(--bg-primary);
	--backdrop-blur: 10px;

	--channel-height: 40px;
	--member-height: 54px;
	--dm-height: 56px;

	--scrollbar-background: rgb(255 255 255 / .05);
	--scrollbar-background-hover: rgb(255 255 255 / .1);
	--scrollbar-background-active: rgb(255 255 255 / .15);

	--input-background: rgb(18 18 18 / .7);
	--input-border: rgb(255 255 255 / .05);

	--discord-red: 359 calc(var(--saturation-factor, 1) * 82.6%) 59.4%;
	--discord-green: 139 calc(var(--saturation-factor, 1) * 47.3%) 43.9%;

	--settings-sidebar-width: 300px;
	--settings-content-width: 900px;
	--settings-max-height: 800px;
	--settings-max-width: calc(var(--settings-sidebar-width) + var(--settings-content-width));

	--text-link: rgb(var(--accent));
	--font-primary: var(--font, 'Whitney');
	--font-display: var(--font, 'Whitney');
	--channels-default: #aaa;
	--background-modifier-hover: rgb(255 255 255 / .05);
	--background-modifier-active: rgb(255 255 255 / .08);
	--brand-experiment: rgb(var(--accent), .35);
	--brand-experiment-560: rgb(var(--accent), .55);
	--brand-experiment-600: rgb(var(--accent), .4);
}