/**
 * @name SoftX
 * @author Gibbu#1211
 * @version Dev
 * @invite ZHthyCw
 * @description A soft and comfy feel for Discord.
 * @source https://github.com/DiscordStyles/SoftX
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");

:root {
	--background-image: url('https://i.imgur.com/Nglfni6.png');
	--background-blur: 0px;

	--accent: 0, 231, 169;

	--channels-width: 300px;
	--guilds-width: 105px;
	--members-width: 280px;

	--server-size: 50px;
	--chat-avatar-size: 32px;

	--glow-intensity: 1;

	--opacity: .85;

	--font: 'Inter';
}