/**
 * @name SoftX
 * @author Gibbu#1211
 * @version Dev
 * @invite ZHthyCw
 * @description A soft and comfy feel for Discord.
 * @source https://github.com/DiscordStyles/SoftX
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
// @import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");

:root {
	--background-image: url('https://i.imgur.com/Nglfni6.png');
	--background-blur: 0px;

	--accent: 0, 231, 169;

	--channels-width: 300px;
	--guilds-width: 105px;
	--members-width: 280px;

	--server-size: 50px;
	--chat-avatar-size: 32px;

	--glow-intensity: 1;

	--opacity: .85;

	--font: 'Inter';

	--avatar-roundness: 50%;
	--server-roundness: 50%;
	
	--rs-small-spacing: 2px;
	--rs-medium-spacing: 4px;
	--rs-large-spacing: 4px;

	--rs-small-width: 1.5px;
	--rs-medium-width: 2px;
	--rs-large-width: 2px;

	--rs-avatar-shape: 50%;

	--rs-online-color: #43b581;
	--rs-idle-color: #faa61a;
	--rs-dnd-color: #f04747;
	--rs-offline-color: #636b75;
	--rs-streaming-color: #643da7;
	--rs-invisible-color: #747f8d;
	--rs-phone-color: var(--rs-online-color);

	--rs-phone-visible: block;
}